{% liquid
  assign theme_st = settings
  assign product_alignment = theme_st.product_alignment
  assign product_enable_quickview = theme_st.product_enable_quickview
  assign product_enable_color_swatches = theme_st.product_enable_color_swatches
  assign product_show_vendor = theme_st.product_show_vendor
  assign product_show_rate = theme_st.product_show_rate
  assign product_show_image_hover = theme_st.product_show_image_hover
  assign product_image_ratio = theme_st.product_image_ratio
  assign product_show_video_featured = theme_st.product_show_video_featured
  assign product_show_quick_add_mobile = theme_st.product_show_quick_add_mobile
  assign show_sale = theme_st.show_sale
  assign show_pre_order = theme_st.show_pre_order
  assign show_sold_out = theme_st.show_sold_out
  assign custom_badge_color = theme_st.custom_badge_color
%}
{% if card_product and card_product != empty %}
  <div
    class="product-item product__item-js {{ class }}"
    data-show-badges-sale="{%- if show_sale and disable_badge != true -%}true{%- else -%}false{%- endif -%}"
    data-show-badges-pre-order="{%- if show_pre_order and disable_badge != true -%}true{%- else -%}false{%- endif -%}"
    data-show-badges-sold-out="{%- if show_sold_out and disable_badge != true -%}true{%- else -%}false{%- endif -%}"
    data-product-id="{{ card_product.id }}"
  >
    <div class="product-item__wrapper">
      <div class="product-item__inner relative">
        {%- if disable_image != true -%}
          {%- liquid
            assign p_media = card_product.featured_media
            assign ratio = ''
            if settings.product_image_ratio != 'adapt_to_image'
              case settings.product_image_ratio
                when 'square'
                  assign ratio = '1/1'
                else
                  assign ratio = '3/4'
              endcase
            else
              if p_media.media_type == 'model'
                assign ratio = '3/4'
              else
                assign ratio = p_media.aspect_ratio
              endif
            endif
            if p_media.media_type == 'video' or p_media.media_type == 'external_video'
              assign type_video = true
              assign product_show_image_hover = false
            endif
          -%}
          <div class="product__inner relative overflow-hidden {{ image_class }}{% if card_product.media[1] != blank and product_show_image_hover and disable_hover_image == blank %} show-hover-img{% endif %} hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}">
            {% if product_set_badge == true %}
              <div class="label-set px-15 py-5 absolute z-1 pointer-none top-15 left-15 rounded-3 bg-dark color-white fs-small">
                <span>{{ 'products.product.label_set' | t: index: indexFor }}</span>
              </div>
            {% endif %}
            <a
              class="product-image focus-inset{% if type_video and show_video and the_settings.image_video_autoplay == blank %} video-pause{% endif %}"
              {% if indexOrder %}
                data-order="{{ indexOrder }}"
              {% endif %}
              draggable="false"
              href="{{ card_product.url }}"
              aria-label="{{ card_product.title }}"
            >
              {%- if p_media -%}
                <div
                  class="product__media animation-swatches rounded"
                  style="--aspect-ratio: {{ ratio }};"
                >
                  {%- liquid
                    assign source = p_media.sources
                    assign source_url = ''
                    for s in source
                      if s.format == 'mp4'
                        assign source_url = s.url
                        break
                      endif
                    endfor
                  -%}
                  {% if type_video and show_video %}
                    {% if p_media.media_type == 'video' %}
                      {% if the_settings.image_video_autoplay != blank -%}
                        <video
                          playsinline="true"
                          muted="muted"
                          loop="loop"
                          autoplay
                          preload="metadata"
                          class="product__img product__img_video lazy-video-item"
                          src="{{ source_url }}"
                          poster="{{ p_media.preview_image.src | image_url }}"
                        ></video>
                      {% else %}
                        <video-product class="product__img product__img_video lazy-video-item">
                          {%- assign alt_features = p_media.alt | default: card_product.title | escape -%}
                          {% render 'responsive-image' | img: p_media | img_alt: alt_features | custom_class: "product__img" | is_predictive_search: is_predictive_search %}
                          <template class="video-template max-w-100">
                            {{
                              p_media
                              | media_tag:
                                image_size: '2048x',
                                autoplay: true,
                                controls: true,
                                loop: true,
                                preload: 'none'
                            }}
                          </template>
                        </video-product>
                      {% endif %}
                    {% elsif p_media.media_type == 'external_video' %}
                      {% liquid
                        assign video_id = p_media.external_id
                      %}
                      <video-product class="product__img product__img_video lazy-video-item">
                        {%- assign alt_features = p_media.alt | default: card_product.title | escape -%}
                        {% render 'responsive-image' | img: p_media | img_alt: alt_features | custom_class: "product__img" | is_predictive_search: is_predictive_search %}
                        <template class="video-template">
                          {%- if p_media.host == 'youtube' -%}
                            <iframe
                              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1&mute=1&loop=0"
                              class="js-youtube"
                            ></iframe>
                          {%- else -%}
                            {{
                              p_media
                              | external_video_url: autoplay: true
                              | external_video_tag: class: video_class, loading: 'lazy'
                            }}
                          {%- endif -%}
                        </template>
                      </video-product>
                    {% endif %}
                    {%- assign alt_features = p_media.alt | default: card_product.title | escape -%}
                    {% render 'responsive-image' | img: p_media | img_alt: alt_features | custom_class: "product__img secondary-image hidden" | is_predictive_search: is_predictive_search %}
                  {% else %}
                    {%- assign alt_features = p_media.alt | default: card_product.title | escape -%}
                    {% render 'responsive-image' | img: p_media | img_alt: alt_features | custom_class: "product__img" | is_predictive_search: is_predictive_search | type_image: type_image %}
                    {%- liquid
                      if card_product.media[1] != blank and product_show_image_hover and disable_hover_image == blank
                        assign alt_features = card_product.media[1].alt | default: card_product.title | escape
                        render 'responsive-image', img: card_product.media[1], img_alt: alt_features, custom_class: 'product__hover-img'
                      endif
                    -%}
                  {% endif %}
                </div>
              {%- else -%}
                {%- liquid
                  assign ratio = ''
                  if settings.product_image_ratio != 'adapt_to_image'
                    case settings.product_image_ratio
                      when 'square'
                        assign ratio = '1/1'
                      else
                        assign ratio = '3/4'
                    endcase
                  else
                    assign ratio = '1/1'
                  endif
                -%}
                <div
                  class="product__media rounded"
                  style="--aspect-ratio: {{ ratio }};"
                >
                  {% render 'placeholder-render' %}
                </div>
              {%- endif -%}

              {%- if disable_badge != true -%}
                {% render 'product-badges' | card_product: card_product | type: 'product_item' %}
              {%- endif -%}
            </a>
            {% if p_media and type_video and show_video %}
              {% if the_settings.image_video_autoplay == blank or p_media.media_type == 'external_video' -%}
                <button-playvideo
                  class="deferred-media__poster-button pointer motion-reduce btn-reset w-full btn-reset w-full overlay-btn p-0 outline-focus-none border-0 p-0 outline-focus-none border-0"
                  type="button"
                  aria-label="{{ 'products.product.xr_button_label' | t }}"
                >
                  {%- render 'icon-play' -%}
                </button-playvideo>
              {% endif %}
            {% endif %}
            {%- if show_quick_view
              and section_type != 'menu'
              and disable_quickview != true
              and card_product.metafields.custom.external_affiliate == blank
            -%}
              {%- liquid
                assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
                assign qty_rules = false
                if card_product.selected_or_first_available_variant.quantity_rule.template > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                  assign qty_rules = true
                endif
              -%}
              {%- if card_product.variants.size > 1 or qty_rules -%}
                <button-quickview
                  tabindex="0"
                  data-item="overlay-quickbuy"
                  class="no-js-hidden btn button-quickview btn-white text-center bottom-10 right-10 inset-x-1025-15 bottom-1025-15{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                  data-product-handle="{{ card_product.id }}"
                  data-url="{{ shop.url }}/products/{{ card_product.handle }}?section_id=product-quickview"
                >
                  <span class="product-quickview-btn w-full d-none block-1025 hidden-on-load">
                    {{- 'products.product.quickshop' | t -}}
                  </span>
                  <span class="cart-icon block hidden-1025 hidden-on-load lh-1">
                    {%- if the_settings.cart_icon == 'shopping_bag' -%}
                      <svg width="16" height="14" viewBox="0 0 16 14" fill="none">
                        <use href="#icon-cart"></use>
                      </svg>
                    {%- else -%}
                      <svg width="16" height="15" viewBox="0 0 21 20" fill="none">
                        <use href="#icon-bag"></use>
                      </svg>
                    {%- endif -%}
                  </span>
                  <svg
                    width="14"
                    height="14"
                    viewBox="0 0 14 14"
                    fill="none"
                    class="spin opacity-0 pointer-none icon-load absolute"
                  >
                    <use href="#icon-load"></use>
                  </svg>
                </button-quickview>
              {%- else -%}
                <product-form class="no-js-hidden quick-add">
                  {%- form 'product',
                    card_product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
                  -%}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ card_product.selected_or_first_available_variant.id }}"
                      disabled
                    >
                    <button
                      id="{{ product_form_id }}-submit"
                      type="submit"
                      name="add"
                      class="no-js-hidden btn button-quickview btn-white text-center shadow absolute bottom-10 right-10 inset-x-1025-15 bottom-1025-15{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                      aria-haspopup="dialog"
                      aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                      aria-live="polite"
                      data-sold-out-message="true"
                      {% if card_product.selected_or_first_available_variant.available == false %}
                        disabled
                      {% endif %}
                    >
                      <span class="hidden-on-load d-none block-1025">
                        {%- if card_product.selected_or_first_available_variant.available -%}
                          {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                          {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                      </span>
                      <span class="cart-icon block hidden-1025 hidden-on-load lh-1">
                        {%- if the_settings.cart_icon == 'shopping_bag' -%}
                          <svg width="16" height="14" viewBox="0 0 16 14" fill="none">
                            <use href="#icon-cart"></use>
                          </svg>
                        {%- else -%}
                          <svg width="16" height="15" viewBox="0 0 21 20" fill="none">
                            <use href="#icon-bag"></use>
                          </svg>
                        {%- endif -%}
                      </span>
                      <span class="sold-out-message hidden">
                        {{ 'products.product.sold_out' | t }}
                      </span>
                      {%- if horizontal_quick_add -%}
                        <span class="icon-wrap">
                          <svg width="9" height="10" viewBox="0 0 9 10" fill="none">
                            <use href="#icon-plus"></use>
                          </svg>
                        </span>
                      {%- endif -%}
                      <svg
                        width="14"
                        height="14"
                        viewBox="0 0 14 14"
                        fill="none"
                        class="spin opacity-0 pointer-none icon-load absolute"
                      >
                        <use href="#icon-load"></use>
                      </svg>
                    </button>
                  {%- endform -%}
                </product-form>
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
    {%- unless card_product.has_only_default_variant -%}
      <script type="application/json" class="productItemVariantsQty">
        [
        {%- for variant in card_product.variants -%}
          {%- assign op = variant.option1 | replace: '"', '\"' -%}

          {%- liquid
              assign option = '"option":"' | append: op | append: '"'
              assign quantity = '"qty":' | append: variant.inventory_quantity
              assign available = '"available":' | append: variant.available
              assign mamagement = '"mamagement":"' | append: variant.inventory_management | append: '"'
          -%}
          { {{ option }},{{ quantity }},{{ available }},{{ mamagement }}}
          {%- unless forloop.last -%},{%- endunless forloop.last -%}
        {%- endfor -%}
        ]
      </script>
    {%- endunless -%}
  </div>
{% else %}
  <div class="product-item{{ class }} {{ product_style }}">
    <div class="product-item__wrapper">
      <div class="product-item__inner relative">
        <div class="product-item__media">
          <a
            role="link"
            aria-disabled="true"
            title="{{ 'onboarding.product_title' | t }}"
            aria-label="{{ 'onboarding.product_title' | t }}"
          >
            {%- liquid
              assign ratio = '3/4'
              if product_image_ratio != 'adapt'
                case product_image_ratio
                  when 'square'
                    assign ratio = '1/1'
                  when 'landscape'
                    assign ratio = '4/3'
                  when 'portrait'
                    assign ratio = '3/4'
                endcase
              endif
            -%}
            <div
              class="product-item__media--ratio rounded"
              style="--aspect-ratio: {{ ratio }};"
            >
              {%- render 'placeholder-render', type: 'product', index: indexFor -%}
            </div>
          </a>
        </div>
      </div>
      <div class="product-item__information">
        <a
          draggable="false"
          aria-disabled="true"
          role="link"
          class="product-item__name"
          title="{{ 'onboarding.product_title' | t }}"
          aria-label="{{ 'onboarding.product_title' | t }}"
        >
          {{ 'onboarding.product_title' | t }}
        </a>
        <div
          class="product-item__price mt-5 justify-content-{{ product_alignment }}"
          style="--font-size: {{ settings.price_size }}"
        >
          {%- render 'price', scope: 'item' -%}
        </div>
      </div>
    </div>
  </div>
{% endif %}
