{% liquid
  assign theme_st = settings
  assign product_alignment = theme_st.product_alignment
  assign product_enable_quickview = theme_st.product_enable_quickview
  assign product_enable_color_swatches = theme_st.product_enable_color_swatches
  assign product_show_vendor = theme_st.product_show_vendor
  assign product_show_rate = theme_st.product_show_rate
  assign product_show_image_hover = theme_st.product_show_image_hover
  assign product_image_ratio = theme_st.product_image_ratio
  assign product_show_video_featured = theme_st.product_show_video_featured
  assign product_show_quick_add_mobile = theme_st.product_show_quick_add_mobile
%}
{% if card_product and card_product != empty %}
  <div
    class="product-item product__item-js{{ class }}"
  >
    <div class="product-item__wrapper">
      <div class="product-item__inner relative{{ style_layout }}">
        {%- if disable_image != true -%}
          {%- liquid
            assign p_media = card_product.featured_media
            assign ratio = '3/4'
            if product_image_ratio != 'adapt'
              case product_image_ratio
                when 'square'
                  assign ratio = '1/1'
                when 'landscape'
                  assign ratio = '4/3'
                when 'portrait'
                  assign ratio = '3/4'
              endcase
            else
              if p_media.media_type == 'model'
                assign ratio = '3/4'
              else
                assign ratio = p_media.aspect_ratio
              endif
            endif
            if p_media.media_type == 'video' or p_media.media_type == 'external_video'
              assign type_video = true
              assign product_show_image_hover = false
            endif
          -%}
          <div class="product__inner relative block rounded overflow-hidden{{ image_class }}{% if card_product.media[1] != blank and product_show_image_hover and disable_hover_image != true %} show-hover-img{% endif %} hover-effect">
            <a
              class="product-image focus-inset{% if type_video and product_show_video_featured %} video-pause{% endif %}"
              draggable="false"
              href="{{ card_product.url }}"
              aria-label="{{ card_product.title }}"
            >
              {%- if p_media -%}
                <div
                  class="product__media animation-swatches{{ image_rounded }}"
                  style="--aspect-ratio: {{ ratio }};"
                >
                  {% if type_video and product_show_video_featured and disable_show_video != true %}
                    {% if p_media.media_type == 'video' %}
                      <video-product class="product__img product__img_video lazy-video-item">
                        {%- assign alt_features = p_media.alt | default: card_product.title | escape -%}
                        {% render 'responsive-image',
                          type: 'product',
                          class: 'product__img',
                          image: p_media,
                          image_alt: alt_features,
                          container: container,
                          column: column,
                          column_mobile: column_mobile,
                          padding: padding,
                          sizes: sizes
                        %}
                        <template class="video-template max-w-100">
                          {{
                            p_media
                            | media_tag:
                              image_size: '2048x',
                              autoplay: true,
                              controls: true,
                              loop: true,
                              preload: 'none'
                          }}
                        </template>
                      </video-product>
                    {% elsif p_media.media_type == 'external_video' %}
                      {% liquid
                        assign video_id = p_media.external_id
                      %}
                      <video-product class="product__img product__img_video lazy-video-item">
                        {%- assign alt_features = p_media.alt | default: card_product.title | escape -%}
                        {% render 'responsive-image',
                          type: 'product',
                          class: 'product__img',
                          image: p_media,
                          image_alt: alt_features,
                          container: container,
                          column: column,
                          column_mobile: column_mobile,
                          padding: padding,
                          sizes: sizes
                        %}
                        <template class="video-template">
                          {%- if p_media.host == 'youtube' -%}
                            <iframe
                              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1&mute=1&loop=0"
                              class="js-youtube"
                            ></iframe>
                          {%- else -%}
                            {{
                              p_media
                              | external_video_url: autoplay: true
                              | external_video_tag: class: video_class, loading: 'lazy'
                            }}
                          {%- endif -%}
                        </template>
                      </video-product>
                    {% endif %}
                    {%- assign alt_features = p_media.alt | default: card_product.title | escape -%}
                    {% render 'responsive-image',
                      type: 'product',
                      class: 'product__img secondary-image hidden',
                      image: p_media,
                      image_alt: alt_features,
                      container: container,
                      column: column,
                      column_mobile: column_mobile,
                      padding: padding,
                      disable_lazy_loading: disable_lazy_loading,
                      sizes: sizes
                    %}
                  {% else %}
                    {%- assign alt_features = p_media.alt | default: card_product.title | escape -%}
                    {% render 'responsive-image',
                      type: 'product',
                      class: 'product__img featured-image',
                      image: p_media,
                      image_alt: alt_features,
                      container: container,
                      column: column,
                      column_mobile: column_mobile,
                      padding: padding,
                      sizes: sizes,
                      disable_lazy_loading: disable_lazy_loading,
                      motion: true
                    %}
                    {%- liquid
                      if card_product.media[1] != blank and product_show_image_hover and disable_hover_image != true
                        assign alt_features = card_product.media[1].alt | default: card_product.title | escape
                        render 'responsive-image', type: 'product', class: 'product__hover-img transition invisible absolute inset-0', image: card_product.media[1], image_alt: alt_features, container: container, column: column, column_mobile: column_mobile, padding: padding, sizes: sizes, disable_lazy_loading: disable_lazy_loading
                      endif
                    -%}
                  {% endif %}
                </div>
              {%- else -%}
                {%- liquid
                  assign ratio = '3/4'
                  if product_image_ratio != 'adapt'
                    case product_image_ratio
                      when 'square'
                        assign ratio = '1/1'
                      when 'landscape'
                        assign ratio = '4/3'
                      when 'portrait'
                        assign ratio = '3/4'
                    endcase
                  endif
                -%}
                <div
                  class="product__media rounded"
                  style="--aspect-ratio: {{ ratio }};"
                >
                  {% render 'placeholder-render' %}
                </div>
              {%- endif -%}
              {%- if disable_badge != true -%}
                {% render 'product-badges', scope: 'item', card_product: card_product %}
              {%- endif -%}
            </a>
            {%- if product_enable_quickview
              and disable_quickview != true
              and card_product.metafields.custom.external_affiliate == blank
            -%}
              {%- liquid
                assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
                assign qty_rules = false
                if card_product.selected_or_first_available_variant.quantity_rule.template > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                  assign qty_rules = true
                endif
              -%}
              <div class="quick__shop-action absolute inset-x-15 bottom-15 z-2 overflow-hidden">
                {%- if card_product.variants.size > 1 or qty_rules -%}
                  <button
                    type="button"
                    is="button-quick-view"
                    class="btn btn__quick-shop shadow button-quickview w-full btn-white invisible-1025 text-center{% if product_show_quick_add_mobile == blank %} hidden block-1025{% endif %}"
                    data-url="{{ shop.url }}/products/{{ card_product.handle }}"
                    aria-label="{{ 'products.product.quickview' | t }}"
                  >
                    <span class="product-quickview-btn hidden-on-load d-none block-1025">
                      {{ 'products.product.quickview' | t }}
                    </span>
                    <svg
                      width="14"
                      height="14"
                      viewBox="0 0 14 14"
                      fill="none"
                      class="spin opacity-0 pointer-none icon-load absolute transition-short"
                    >
                      <use href="#icon-load"></use>
                    </svg>
                    <svg width="16" height="16" class="hidden-1025 hidden-on-load" viewBox="0 0 16 16" fill="none">
                      <use href="#icon-cart" />
                    </svg>
                  </button>
                {%- else -%}
                  <product-form class="quick-add">
                    {%- form 'product',
                      card_product,
                      id: product_form_id,
                      class: 'form',
                      novalidate: 'novalidate',
                      data-type: 'add-to-cart-form'
                    -%}
                      <input
                        type="hidden"
                        name="id"
                        value="{{ card_product.selected_or_first_available_variant.id }}"
                        disabled
                      >
                      <button
                        id="{{ product_form_id }}-submit"
                        type="submit"
                        name="add"
                        class="btn btn__quick-shop shadow button-quickview w-full btn-white invisible-1025 text-center{% if product_show_quick_add_mobile == blank %} hidden block-1025{% endif %}"
                        aria-haspopup="dialog"
                        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                        aria-live="polite"
                        data-sold-out-message="true"
                        {% if card_product.selected_or_first_available_variant.available == false %}
                          disabled
                        {% endif %}
                      >
                        <span class="product-addtocart-btn hidden-on-load d-none block-1025">
                          {%- if card_product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          class="spin opacity-0 pointer-none icon-load absolute"
                        >
                          <use href="#icon-load"></use>
                        </svg>
                        <svg width="16" height="16" class="hidden-1025 hidden-on-load" viewBox="0 0 16 16" fill="none">
                          <use href="#icon-cart" />
                        </svg>
                      </button>
                    {%- endform -%}
                  </product-form>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
        <div class="product__information mt-15 text-{{ product_alignment }}{{ info_class }}">
          {% if product_show_vendor and disable_vendor != true and card_product.vendor != blank %}
            <div class="product__vendor grey-color fs-small">
              {{- card_product.vendor | link_to_vendor -}}
            </div>
          {% endif %}
          <a
            aria-label="{{ card_product.title }}"
            class="product__name heading-style block"
            href="{{ card_product.url }}"
          >
            {{- card_product.title -}}
          </a>
          {%- if product_show_rate and disable_rate != true -%}
            {%- liquid
              render 'review', review_star: true, product: card_product, scope: 'item'
            -%}
          {%- endif -%}
          {% if disable_price != true %}
            <div class="product__price heading-color">
              {%- render 'price', scope: 'item', product: card_product -%}
            </div>
          {% endif %}
          {%- if product_enable_color_swatches and disable_color_swatches != true -%}
            {%- render 'variant-swatches', scope: 'item', product: card_product -%}
          {% endif %}
        </div>
      </div>
    </div>
    {%- unless card_product.has_only_default_variant -%}
      <script type="application/json" class="productItemVariantsQty">
        [
        {%- for variant in card_product.variants -%}
          {%- assign op = variant.option1 | replace: '"', '\"' -%}
          {%- liquid
              assign option = '"option":"' | append: op | append: '"'
              assign quantity = '"qty":' | append: variant.inventory_quantity
              assign available = '"available":' | append: variant.available
              assign mamagement = '"mamagement":"' | append: variant.inventory_management | append: '"'
          -%}
          { {{ option }},{{ quantity }},{{ available }},{{ mamagement }}}
          {%- unless forloop.last -%},{%- endunless forloop.last -%}
        {%- endfor -%}
        ]
      </script>
    {%- endunless -%}
  </div>
{% else %}
  <div class="product-item{{ class }} {{ product_style }}">
    <div class="product-item__wrapper">
      <div class="product-item__inner relative">
        <div class="product-item__media">
          <a
            role="link"
            aria-disabled="true"
            title="{{ 'onboarding.product_title' | t }}"
            aria-label="{{ 'onboarding.product_title' | t }}"
          >
            {%- liquid
              assign ratio = '3/4'
              if product_image_ratio != 'adapt'
                case product_image_ratio
                  when 'square'
                    assign ratio = '1/1'
                  when 'landscape'
                    assign ratio = '4/3'
                  when 'portrait'
                    assign ratio = '3/4'
                endcase
              endif
            -%}
            <div
              class="product-item__media--ratio rounded"
              style="--aspect-ratio: {{ ratio }};"
            >
              {%- render 'placeholder-render', type: 'product', index: indexFor -%}
            </div>
          </a>
        </div>
      </div>
      <div class="product__information mt-15 text-{{ product_alignment }}">
        <a
          draggable="false"
          aria-disabled="true"
          role="link"
          class="product-item__name heading-style"
          title="{{ 'onboarding.product_title' | t }}"
          aria-label="{{ 'onboarding.product_title' | t }}"
        >
          {{ 'onboarding.product_title' | t }}
        </a>
        <div
          class="product-item__price mt-5 flex justify-{{ product_alignment }}"
          style="--font-size: {{ settings.price_size }}"
        >
          {%- render 'price', scope: 'item' -%}
        </div>
      </div>
    </div>
  </div>
{% endif %}
