{% if link.links.size > 0 %}
  {%- if type == 'classic' -%}
    <div
      class="submenu classic transition invisible bg-white z-1{% if menu_mobile == blank %} py-30 absolute submenu-desktop {{ section_st.dropdowns_animation }} shadow{% else %} sub-mb absolute inset-0 drawer drawer-left overflow-auto{% endif %}"
    >
      {%- if menu_mobile != blank -%}
        <div class="submenu-header flex align-center justify-between p-24 border-bottom">
          <div class="back-menu flex align-center gap-custom pointer" style="--gap: 24">
            <svg class="icon-back min-w-custom" width="8" height="14" viewBox="0 0 8 14" fill="none">
              <use href="#icon-back" />
            </svg>
            <span class="fs-18 menu_weight">{{- link.title -}}</span>
          </div>
          <button
            class="modal__close btn-close-menu top-10 right-10 btn-reset rounded-50 inline-flex content-center pointer"
            style="--custom-width: 2.4rem;"
            aria-label="Close"
            is="button-close-model"
          >
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none">
              <path d="M0.282609 2.06784C0.0942029 1.89363 0 1.68314 0 1.43635C0 1.17504 0.0942029 0.950028 0.282609 0.761307C0.456522 0.587102 0.673913 0.5 0.934783 0.5C1.19565 0.5 1.41304 0.587102 1.58696 0.761307L6.5 5.68258L11.413 0.761307C11.587 0.587102 11.8043 0.5 12.0652 0.5C12.3261 0.5 12.5435 0.587102 12.7174 0.761307C12.9058 0.950028 13 1.17504 13 1.43635C13 1.68314 12.9058 1.89363 12.7174 2.06784L7.80435 6.98911L12.7174 11.9104C12.9058 12.0991 13 12.3241 13 12.5854C13 12.8322 12.9058 13.0427 12.7174 13.2169C12.5435 13.4056 12.3261 13.5 12.0652 13.5C11.8043 13.5 11.587 13.4056 11.413 13.2169L6.5 8.31742L1.58696 13.2169C1.41304 13.4056 1.19565 13.5 0.934783 13.5C0.673913 13.5 0.456522 13.4056 0.282609 13.2169C0.0942029 13.0427 0 12.8322 0 12.5854C0 12.3241 0.0942029 12.0991 0.282609 11.9104L5.19565 6.98911L0.282609 2.06784Z" fill="currentColor"></path>
            </svg>
          </button>
        </div>
      {%- endif -%}
  {%- else -%}
    {%- if menu_mobile != blank -%}
      <div class="submenu-header flex align-center justify-between p-24 border-bottom">
        <div class="back-menu flex align-center gap-custom pointer" style="--gap: 24">
          <svg class="icon-back min-w-custom" width="8" height="14" viewBox="0 0 8 14" fill="none">
            <use href="#icon-back" />
          </svg>
          <span class="fs-18 menu_weight">{{- link.title -}}</span>
        </div>
        <button
          class="modal__close btn-close-menu top-10 right-10 btn-reset rounded-50 inline-flex content-center pointer"
          style="--custom-width: 2.4rem;"
          aria-label="Close"
          is="button-close-model"
        >
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M0.282609 2.06784C0.0942029 1.89363 0 1.68314 0 1.43635C0 1.17504 0.0942029 0.950028 0.282609 0.761307C0.456522 0.587102 0.673913 0.5 0.934783 0.5C1.19565 0.5 1.41304 0.587102 1.58696 0.761307L6.5 5.68258L11.413 0.761307C11.587 0.587102 11.8043 0.5 12.0652 0.5C12.3261 0.5 12.5435 0.587102 12.7174 0.761307C12.9058 0.950028 13 1.17504 13 1.43635C13 1.68314 12.9058 1.89363 12.7174 2.06784L7.80435 6.98911L12.7174 11.9104C12.9058 12.0991 13 12.3241 13 12.5854C13 12.8322 12.9058 13.0427 12.7174 13.2169C12.5435 13.4056 12.3261 13.5 12.0652 13.5C11.8043 13.5 11.587 13.4056 11.413 13.2169L6.5 8.31742L1.58696 13.2169C1.41304 13.4056 1.19565 13.5 0.934783 13.5C0.673913 13.5 0.456522 13.4056 0.282609 13.2169C0.0942029 13.0427 0 12.8322 0 12.5854C0 12.3241 0.0942029 12.0991 0.282609 11.9104L5.19565 6.98911L0.282609 2.06784Z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    {%- endif -%}
  {%- endif -%}
  <ul
    class="menu list-unstyled{% if type != 'classic' and menu_mobile == blank %} sub-menu-mega flex wrap flex-cols gap row-gap-30{% elsif menu_mobile != blank%} px-24 overflow-auto pt-12{% endif %}"
  >
    {% for child_link in link.links %}
      <li class="menu-link{% if child_link.links.size > 0 %} have-child {% if menu_mega == blank %} relative{% endif %}{% endif %}{% if menu_mega == blank and menu_mobile == blank %} px-20{% endif %}">
        {%- if child_link.links.size > 0 -%}
          {% if menu_mega != blank %}
            <a
              class="menu__item level-2 py-6 heading-style inline-block h6 mb-13 inside-out-effect relative"
              href="{{ link.url }}"
              aria-label="{{ grandchild_link.title }}"
            >
              {{- child_link.title -}}
            </a>
          {%- else -%}
            <details is="submenu-details" open>
              <summary
                class="menu__item level-2 py-6 fs-18 heading-style flex align-center gap-5 justify-between inside-out-hover"
                data-href="{{ link.url }}"
                aria-label="{{ child_link.title }}"
              >
                <span class="menu__title inside-out-effect relative">
                  {{- child_link.title -}}
                </span>
                {% if menu_mobile == blank %}
                  {% if settings.rtl %}
                    <svg class="icon-down block" width="6" height="11">
                      <use href="#icon-back" />
                    </svg>
                  {% else %}
                    <svg class="icon-down block" width="6" height="11">
                      <use href="#icon-next" />
                    </svg>
                  {% endif %}
                {% else %}
                  <span class="toggle-menu">
                    <svg class="icon icon-down transition-short" width="9" height="6" viewBox="0 0 9 6">
                      <use href="#icon-arrow-down" />
                    </svg>
                  </span>
                {% endif %}
              </summary>
            </details>
          {% endif %}
          <ul class="sub-children-menu list-unstyled overflow-hidden-mobile{% if menu_mega == blank and menu_mobile == blank %} classic transition invisible py-20 absolute z-1 top-0 left-100 bg-white shadow{% endif %}">
            {% for grandchild_link in child_link.links %}
              <li class="menu-link{% if menu_mega == blank and menu_mobile == blank %} px-20{% endif %}">
                <a
                  class="menu__item level-3 inline-block py-6 inside-out-effect relative"
                  href="{{ grandchild_link.url }}"
                  aria-label="{{ grandchild_link.title }}"
                >
                  {{- grandchild_link.title -}}
                </a>
              </li>
            {% endfor %}
          </ul>
        {%- else -%}
          <a
            class="menu__item level-2 py-6 inside-out-effect relative{% if menu_mega != blank %} heading-style inline-block h6 mb-13{% endif %}"
            aria-label="{{ child_link.title }}"
            href="{{ child_link.url }}"
          >
            {{- child_link.title -}}
          </a>
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
  {%- if type == 'classic' -%}
    </div>
  {%- endif -%}
{%- else -%}
  {%- if menu_mobile != blank -%}
    <div class="submenu-header flex align-center justify-between p-24 border-bottom">
      <div class="back-menu flex align-center gap-custom pointer" style="--gap: 24">
        <svg class="icon-back min-w-custom" width="8" height="14" viewBox="0 0 8 14" fill="none">
          <use href="#icon-back" />
        </svg>
        <span class="fs-18 menu_weight">{{- link.title -}}</span>
      </div>
      <button
        class="modal__close btn-close-menu top-10 right-10 btn-reset rounded-50 inline-flex content-center pointer"
        style="--custom-width: 2.4rem;"
        aria-label="Close"
        is="button-close-model"
      >
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none">
          <path d="M0.282609 2.06784C0.0942029 1.89363 0 1.68314 0 1.43635C0 1.17504 0.0942029 0.950028 0.282609 0.761307C0.456522 0.587102 0.673913 0.5 0.934783 0.5C1.19565 0.5 1.41304 0.587102 1.58696 0.761307L6.5 5.68258L11.413 0.761307C11.587 0.587102 11.8043 0.5 12.0652 0.5C12.3261 0.5 12.5435 0.587102 12.7174 0.761307C12.9058 0.950028 13 1.17504 13 1.43635C13 1.68314 12.9058 1.89363 12.7174 2.06784L7.80435 6.98911L12.7174 11.9104C12.9058 12.0991 13 12.3241 13 12.5854C13 12.8322 12.9058 13.0427 12.7174 13.2169C12.5435 13.4056 12.3261 13.5 12.0652 13.5C11.8043 13.5 11.587 13.4056 11.413 13.2169L6.5 8.31742L1.58696 13.2169C1.41304 13.4056 1.19565 13.5 0.934783 13.5C0.673913 13.5 0.456522 13.4056 0.282609 13.2169C0.0942029 13.0427 0 12.8322 0 12.5854C0 12.3241 0.0942029 12.0991 0.282609 11.9104L5.19565 6.98911L0.282609 2.06784Z" fill="currentColor"></path>
        </svg>
      </button>
    </div>
  {%- endif -%}
{% endif %}
