{%- if localization.available_languages.size > 1 -%}
  <noscript class="small-hide medium-hide">
    {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
      <div class=" relative">
        <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">{{ 'localization.language_label' | t }}</h2>
        <select
          class="localization-form__select localization-selector link"
          name="locale_code"
          aria-labelledby="HeaderLanguageMobileLabelNoScript"
        >
          {%- for language in localization.available_languages -%}
            <option
              value="{{ language.iso_code }}"
              lang="{{ language.iso_code }}"
              {%- if language.iso_code == localization.language.iso_code %}
                selected
              {% endif %}
            >
              {{ language.endonym_name | capitalize }}
            </option>
          {%- endfor -%}
        </select>
      </div>
      <button class="button button--tertiary btn-reset">{{ 'localization.update_language' | t }}</button>
    {%- endform -%}
  </noscript>
  <localization-form class="no-js-hidden">
    {%- assign form_id = 'localization-language-' | append: section.id -%}
    {% form 'localization', id: form_id %}
      <div class="disclosure flex content-center text-center relative">
        <button
          type="button"
          class="button button-localization lh-global inline-flex align-center gap-10 btn-reset color-inherit show-overlay fs-small body-weight pointer"
          style="--show-overlay-bg: #0005;"
          aria-expanded="false"
          aria-controls="{{ localPosition }}List"
          aria-describedby="{{ localPosition }}Label"
        >
          {{ localization.language.endonym_name | capitalize }}
          <svg class="icon icon-down transition-short" width="9" height="6" viewBox="0 0 9 6">
            <use href="#icon-arrow-down" />
          </svg>
        </button>

        <div
          class="disclosure__list-wrapper block invisible bg-white z-3 fs-small body-weight transition-short absolute left-0 shadow"
          hidden="true"
        >
          <icon-close class="disclosure__list-close pointer-none border inline-flex hidden-1025 mx-auto rounded-50 overflow-hidden absolute top-0 inset-x-0 w-50 h-50 content-center heading-color bg-white">
            <svg width="13" height="14" viewBox="0 0 13 14" fill="none">
              <use href="#icon-close" />
            </svg>
          </icon-close>
          <ul
            class="disclosure__list h-full text-start list-unstyled px-24 py-20 overflow-auto custom-scrollbar"
            role="list"
          >
            {% for language in localization.available_languages %}
              <li class="disclosure__item" tabindex="-1">
                <a
                  href="{{ routes.root_url }}"
                  class="disclosure__item-inner block py-5"
                  {% if language.iso_code == localization.language.iso_code %}
                    aria-current="true"
                  {% endif %}
                  hreflang="{{ language.iso_code }}"
                  lang="{{ language.iso_code }}"
                  data-value="{{ language.iso_code }}"
                >
                  {{ language.endonym_name | capitalize }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
      </div>
    {% endform %}
  </localization-form>
{%- endif -%}
