{% liquid
  assign mobile_thumbnails = section_st.mobile_thumbnails
  assign enable_video_autoplay = section_st.enable_video_autoplay
  assign media_position = section_st.media_position
  assign layout = 'grid'
  if desktop_layout == 'thumbnail_left' or desktop_layout == 'thumbnail_bottom'
    assign layout = 'thumbnail'
  elsif desktop_layout == 'stack'
    assign layout = 'stack'
  endif
  if type_section == 'featured'
    assign layout = 'thumbnail'
    assign desktop_layout = 'thumbnail_left'
  endif
  if type_section == 'quick_view'
    assign layout = 'quick_view'
  endif
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
%}
{%- capture col -%}
  {% if desktop_layout == 'two_columns' %} --col-number: 1.5;--col-desktop: 2;{% else %}--col-number: 1;{% endif %}--repeat: 0;{% if desktop_layout == 'stack' %} --col-number: 1.5;--col-desktop: 1;{% endif %}
{%- endcapture -%}
<script type="module" src="{{ 'media-gallery.js' | asset_url }}"></script>
{{ 'photoswipe.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'component-model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{% endif %}
<div class="block__media-gallery sticky top-20">
  <media-gallery
    class="media-gallery block"
    data-section-id="{{ section.id }}"
    data-thumb-direction="{% if desktop_layout == 'thumbnail_left' %}vertical{% else %}horizontal{% endif %}"
    data-auto-play-video="{% if enable_video_autoplay %}true{% else %}false{% endif %}"
  >
    <a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-{{ section.id }}">
      {{ 'accessibility.skip_to_product_info' | t }}
    </a>
    <div class="product__media-gallery product-{{ layout }} {{ desktop_layout }}{% if desktop_layout == 'thumbnail_left' %} flex-md{% if media_position == 'right' %} flex-start{% else %} flex-end{% endif %} relative overflow-hidden{% endif %}">
      {% case layout %}
        {% when 'thumbnail' %}
          <div id="GalleryMainViewer-{{ section.id }}" class="media-main-swiper">
            <div class="swiper-wrapper-main swiper hover-action">
              {%- render 'swiper-navigation', show_on_hover: true -%}
              <div class="swiper-wrapper">
                {% render 'product-media',
                  images: images,
                  product: product,
                  section_st: section_st,
                  type_section: type_section,
                  motion: true,
                  class: ' swiper-slide'
                %}
              </div>
              <div
                class="swiper-pagination absolute bg-white blur shadow fs-small heading-color lh-normal rounded"
              ></div>
            </div>
          </div>
          <div
            id="GalleryThumbnailViewer-{{ section.id }}"
            class="media-thumb-swiper{% if layout == 'thumbnail' %} mt-10{% endif %}{% if desktop_layout == 'thumbnail_left' %} mt-md-0{% endif %}{% if mobile_thumbnails == 'hidden_thumbnail' %} hidden block-md{% endif %}{% if desktop_layout == 'thumbnail_left' %}{% if media_position == 'right' %} right-0{% else %} left-0{% endif %}{% endif %}"
          >
            <div
              class="swiper-wrapper-thumbnail swiper"
              data-mobile="5"
              data-desktop="5"
              data-tablet="5"
              style="--gap-desktop: 10px;--gap: 10px;--item-desktop: 5;--item-tablet: 5;--item-mb: 5"
            >
              <div class="swiper-wrapper">
                {% render 'product-media',
                  images: images,
                  product: product,
                  section_st: section_st,
                  thumbnail: true,
                  motion: false,
                  type_section: type_section,
                  class: ' swiper-slide pointer'
                %}
              </div>
            </div>
          </div>
        {% when 'stack' %}
          <grid-gallery
            id="GalleryViewer-{{ section.id }}"
            class="grid gap-10 stacked stacked-swiper-mobile overflow-visible-mb grid_scroll"
            style="{{ col | strip | strip_newlines }}"
          >
            {% render 'product-media',
              images: images,
              product: product,
              section_st: section_st,
              type_section: type_section,
              motion: true,
              class: ' grid-item'
            %}
          </grid-gallery>
        {% when 'quick_view' %}
          <quick-view-gallery
            id="GalleryViewer-{{ section.id }}"
            class="swiper smooth_scroll hover-action{% if product.media.size > 0 %} overflow-visible-mb{% endif %}"
            style="--gap: 10px;--gap-desktop: 10px;"
          >
            {%- render 'swiper-navigation', class-custom: 'hidden block-1025 vertical-arrow', show_on_hover: true -%}
            <div class="swiper-wrapper">
              {% render 'product-media',
                images: images,
                product: product,
                section_st: section_st,
                type_section: type_section,
                motion: false,
                class: ' swiper-slide'
              %}
            </div>
            <div
              class="swiper-pagination hidden-md absolute bg-white blur shadow fs-small heading-color lh-normal rounded"
            ></div>
          </quick-view-gallery>
        {% else %}
          <grid-gallery
            id="GalleryViewer-{{ section.id }}"
            class="grid grid-cols gap-10 grid-swiper-mobile overflow-visible-mb grid_scroll"
            style="{{ col | strip | strip_newlines }}"
          >
            {% render 'product-media',
              images: images,
              product: product,
              section_st: section_st,
              type_section: type_section,
              motion: true,
              class: ' grid-item'
            %}
          </grid-gallery>
      {% endcase %}
    </div>
  </media-gallery>
</div>
{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{% endif %}
