{% liquid
  assign mobile_options = section_st.mobile_options
  assign enable_video_autoplay = section_st.enable_video_autoplay
  assign layout = 'grid'
  if desktop_layout == 'thumbnail_left' or desktop_layout == 'thumbnail_bottom'
    assign layout = 'thumbnail'
  elsif desktop_layout == 'stack'
    assign layout = 'stack'
  endif

  if type_section == 'featured'
    assign layout = 'thumbnail'
    assign desktop_layout = 'thumbnail_left'
  endif
  if type_section == 'quickview'
    assign layout = 'grid'
    assign desktop_layout = 'grid'
  endif
%}
<script type="module" src="{{ 'media-gallery.js' | asset_url }}"></script>
<media-gallery
  class="media-gallery block"
  data-section-id="{{ section.id }}"
  data-thumb-direction="{% if desktop_layout == 'thumbnail_left' %}vertical{% else %}horizontal{% endif %}"
  data-auto-play-video="{% if enable_video_autoplay %}true{% else %}false{% endif %}"
>
  <div class="product__media-gallery product-{{ layout }}">
    {% case layout %}
      {% when 'thumbnail' %}
        <div id="GalleryMainViewer-{{ section.id }}" class="media-main-swiper">
          <div class="swiper-wrapper-main swiper">
            {%- render 'swiper-navigation' -%}
            <div class="swiper-wrapper">
              {% render 'product-media',
                images: images,
                product: product,
                section_st: section_st,
                type_section: type_section,
                class: ' swiper-slide'
              %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div
          id="GalleryThumbnailViewer-{{ section.id }}"
          class="media-thumb-swiper{% if mobile_options == 'hidden_thumbnail' %} mobile-hidden{% endif %}"
        >
          <div class="swiper-wrapper-thumbnail swiper">
            <div class="swiper-wrapper">
              {% render 'product-media',
                images: images,
                product: product,
                section_st: section_st,
                thumbnail: true,
                type_section: type_section,
                class: ' swiper-slide'
              %}
            </div>
          </div>
        </div>
      {% when 'grid' %}
        <grid-gallery id="GalleryViewer-{{ section.id }}" class="grid grid-cols gap-10 grid-swiper-mobile">
          {% render 'product-media',
            images: images,
            product: product,
            section_st: section_st,
            type_section: type_section,
            class: ' grid-item'
          %}
        </grid-gallery>
      {% else %}
        <grid-gallery id="GalleryViewer-{{ section.id }}" class="stacked stacked-swiper-mobile">
          {% render 'product-media',
            images: images,
            product: product,
            section_st: section_st,
            type_section: type_section,
            class: ' grid-item'
          %}
        </grid-gallery>
    {% endcase %}
  </div>
</media-gallery>
