<ul class="list-social list-unstyled flex wrap row-gap" style="--col-gap: 10px">
  {%- if settings.social_media_instagram != blank -%}
    <li class="list-social__item flex align-items">
      <a
        href="{{ settings.social_media_instagram }}"
        class="list-social__link flex align-items"
        aria-label="{{ 'general.social.links.instagram' | t }}"
      >
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
          <path d="M23.6 14H16.4C15.0745 14 14 15.0745 14 16.4V23.6C14 24.9255 15.0745 26 16.4 26H23.6C24.9255 26 26 24.9255 26 23.6V16.4C26.0001 15.0745 24.9255 14 23.6 14ZM22.4 15.8H24.2V17.6H22.4V15.8ZM20 17.6001C21.3255 17.6001 22.4 18.6746 22.4 20.0001C22.4 21.3255 21.3255 22.4 20 22.4C18.6745 22.4 17.6 21.3255 17.6 20.0001C17.6 18.6746 18.6745 17.6001 20 17.6001ZM24.8 23.6001C24.8 24.2628 24.2627 24.8001 23.6 24.8001H16.4C15.7373 24.8001 15.2 24.2628 15.2 23.6001V19.4H16.46C16.0996 21.3553 17.3926 23.2325 19.3479 23.5929C21.3032 23.9533 23.1804 22.6603 23.5408 20.705C23.5836 20.4725 23.6035 20.2364 23.6 20.0001C23.597 19.7987 23.577 19.598 23.54 19.4001H24.8V23.6001H24.8Z" fill="currentColor"/>
        </svg>
        <span class="tooltip-content visually-hidden tooltip-top">
          {{- 'general.social.links.instagram' | t -}}
        </span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_media_tiktok != blank -%}
    <li class="list-social__item flex align-items">
      <a
        href="{{ settings.social_media_tiktok }}"
        class="list-social__link flex align-items"
        aria-label="{{ 'general.social.links.tiktok' | t }}"
      >
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
          <path d="M17.9886 26C16.9308 26 15.9163 25.5966 15.1682 24.8785C14.4202 24.1604 14 23.1864 14 22.1709C14 21.1554 14.4202 20.1814 15.1682 19.4633C15.9163 18.7452 16.9308 18.3418 17.9886 18.3418H18.9625V20.2105H17.9886C17.5841 20.2105 17.1886 20.3257 16.8522 20.5415C16.5159 20.7572 16.2537 21.0639 16.0989 21.4227C15.9441 21.7815 15.9036 22.1764 15.9825 22.5573C16.0614 22.9382 16.2562 23.2881 16.5423 23.5627C16.8283 23.8373 17.1928 24.0243 17.5896 24.1001C17.9864 24.1759 18.3976 24.137 18.7714 23.9883C19.1452 23.8397 19.4646 23.588 19.6894 23.2651C19.9141 22.9422 20.0341 22.5626 20.0341 22.1742V14H21.9807V14.9338C21.9807 15.4546 22.1962 15.9541 22.5798 16.3223C22.9634 16.6906 23.4836 16.8975 24.0261 16.8975H25V18.7629H24.0193C23.2984 18.7639 22.591 18.5753 21.9739 18.2175V22.1709C21.973 23.1856 21.5529 24.1586 20.8058 24.8764C20.0587 25.5942 19.0456 25.9983 17.9886 26V26Z" fill="currentColor"/>
        </svg>
        <span class="tooltip-content visually-hidden tooltip-top">
          {{- 'general.social.links.tiktok' | t -}}
        </span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_media_youtube != blank -%}
    <li class="list-social__item flex align-items">
      <a
        href="{{ settings.social_media_youtube }}"
        class="list-social__link flex align-items"
        aria-label="{{ 'general.social.links.youtube' | t }}"
      >
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
          <path d="M26.9882 16.5648C26.8236 15.9529 26.3412 15.4706 25.7294 15.3058C24.6117 15 20.1411 15 20.1411 15C20.1411 15 15.6706 15 14.5529 15.2942C13.9529 15.4588 13.4587 15.953 13.2941 16.5648C13 17.6823 13 20 13 20C13 20 13 22.3294 13.2941 23.4352C13.4589 24.047 13.9411 24.5294 14.553 24.6941C15.6823 25 20.1412 25 20.1412 25C20.1412 25 24.6117 25 25.7294 24.7058C26.3413 24.5411 26.8236 24.0588 26.9884 23.447C27.2824 22.3294 27.2824 20.0118 27.2824 20.0118C27.2824 20.0118 27.2942 17.6823 26.9882 16.5648ZM18.7177 22.1412V17.8588L22.4353 20L18.7177 22.1412Z" fill="currentColor"/>
        </svg>
        <span class="tooltip-content visually-hidden tooltip-top">
          {{- 'general.social.links.youtube' | t -}}
        </span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_media_facebook != blank -%}
    <li class="list-social__item flex align-items">
      <a
        href="{{ settings.social_media_facebook }}"
        class="list-social__link flex align-items"
        aria-label="{{ 'general.social.links.facebook' | t }}"
      >
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
          <path d="M18.3334 16.6667V18H17V20H18.3334V26H21V20H22.7734L23 18H21V16.8334C21 16.2934 21.0533 16.0067 21.8866 16.0067H23V14H21.2134C19.08 14.0001 18.3334 15 18.3334 16.6667Z" fill="currentColor"/>
        </svg>
        <span class="tooltip-content visually-hidden tooltip-top">
          {{- 'general.social.links.facebook' | t -}}
        </span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_media_whatsapp != blank -%}
    <li class="list-social__item flex align-items">
      <a
        href="{{ settings.social_media_whatsapp }}"
        class="list-social__link flex align-items"
        aria-label="{{ 'general.social.links.whatsapp' | t }}"
      >
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.2516 15.7439C23.1236 14.6199 21.6233 14.0007 20.0251 14C16.7317 14 14.0514 16.6674 14.0501 19.9459C14.0497 20.9939 14.3248 22.0169 14.8477 22.9187L14 26L17.1674 25.1731C18.0402 25.6469 19.0227 25.8966 20.0227 25.8969H20.0252C23.3181 25.8969 25.9987 23.2292 26 19.9506C26.0007 18.3617 25.3797 16.8678 24.2516 15.7439ZM20.0251 24.8927H20.023C19.132 24.8923 18.258 24.654 17.4954 24.2037L17.3142 24.0966L15.4346 24.5873L15.9363 22.7635L15.8181 22.5765C15.321 21.7896 15.0585 20.8801 15.0589 19.9462C15.06 17.2213 17.2878 15.0043 20.0271 15.0043C21.3535 15.0047 22.6005 15.5195 23.538 16.4537C24.4756 17.3879 24.9917 18.6296 24.9912 19.9503C24.9901 22.6755 22.7624 24.8927 20.0251 24.8927ZM22.7491 21.1911C22.5999 21.1167 21.8658 20.7573 21.729 20.7077C21.5922 20.6581 21.4926 20.6334 21.3931 20.7821C21.2936 20.9308 21.0075 21.2655 20.9204 21.3646C20.8332 21.4637 20.7462 21.4762 20.5969 21.4018C20.4476 21.3274 19.9666 21.1705 19.3963 20.6643C18.9525 20.2703 18.6529 19.7838 18.5658 19.6351C18.4788 19.4863 18.5651 19.4136 18.6313 19.3319C18.7929 19.1322 18.9547 18.9228 19.0045 18.8237C19.0543 18.7245 19.0294 18.6377 18.992 18.5634C18.9547 18.489 18.6562 17.7577 18.5318 17.4601C18.4105 17.1705 18.2875 17.2096 18.1958 17.2051C18.1088 17.2008 18.0093 17.1999 17.9097 17.1999C17.8102 17.1999 17.6484 17.237 17.5116 17.3858C17.3747 17.5346 16.9891 17.894 16.9891 18.6253C16.9891 19.3566 17.5241 20.0631 17.5987 20.1623C17.6733 20.2615 18.6515 21.7622 20.149 22.4057C20.5052 22.5589 20.7833 22.6503 21.0001 22.7188C21.3578 22.8318 21.6832 22.8159 21.9405 22.7776C22.2273 22.7349 22.8237 22.4182 22.9482 22.0711C23.0726 21.724 23.0726 21.4266 23.0352 21.3646C22.9979 21.3026 22.8984 21.2655 22.7491 21.1911Z" fill="currentColor"/>
        </svg>
        <span class="tooltip-content visually-hidden tooltip-top">
          {{- 'general.social.links.whatsapp' | t -}}
        </span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_media_pinterest != blank -%}
    <li class="list-social__item flex align-items">
      <a
        href="{{ settings.social_media_pinterest }}"
        class="list-social__link flex align-items"
        aria-label="{{ 'general.social.links.pinterest' | t }}"
      >
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
          <path d="M20.1674 14C16.7934 14.0005 15 16.108 15 18.4061C15 19.4716 15.6108 20.8011 16.5888 21.2226C16.8678 21.3451 16.8309 21.1956 17.0709 20.3006C17.0899 20.2261 17.0801 20.1616 17.0186 20.0921C15.6205 18.5156 16.7457 15.2745 19.9679 15.2745C24.6313 15.2745 23.7599 21.5656 20.7793 21.5656C20.011 21.5656 19.4387 20.9776 19.6197 20.2501C19.8392 19.3836 20.269 18.4521 20.269 17.8276C20.269 16.2535 17.8637 16.487 17.8637 18.5726C17.8637 19.2171 18.0976 19.6521 18.0976 19.6521C18.0976 19.6521 17.3237 22.7001 17.1801 23.2696C16.937 24.2336 17.2129 25.7942 17.237 25.9287C17.2519 26.0027 17.337 26.0262 17.3847 25.9652C17.4612 25.8677 18.3966 24.5667 18.6586 23.6261C18.754 23.2836 19.1453 21.8936 19.1453 21.8936C19.4033 22.3476 20.1469 22.7276 20.9393 22.7276C23.2963 22.7276 25 20.7076 25 18.2011C24.9918 15.798 22.8825 14 20.1674 14Z" fill="currentColor"/>
        </svg>
        <span class="tooltip-content visually-hidden tooltip-top">
          {{- 'general.social.links.pinterest' | t -}}
        </span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_media_vimeo != blank -%}
    <li class="list-social__item flex align-items">
      <a
        href="{{ settings.social_media_vimeo }}"
        class="list-social__link flex align-items"
        aria-label="{{ 'general.social.links.vimeo' | t }}"
      >
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
          <path d="M20.8883 17.2292C22.4537 16.2892 23.2975 17.6141 22.495 19.1117C21.6908 20.6153 20.9527 21.5956 20.5704 21.5956C20.1949 21.5956 19.8976 20.5869 19.4577 18.8359C19.0066 17.0221 19.0066 13.752 17.1198 14.1232C15.3362 14.4754 13 17.2678 13 17.2678L13.555 17.999C13.555 17.999 14.7064 17.0908 15.0896 17.5428C15.4779 17.999 16.948 23.4772 17.4343 24.4902C17.8587 25.3778 19.0367 26.5489 20.3238 25.7137C21.6229 24.8734 25.9111 21.2115 26.6792 16.8786C27.4456 12.5534 21.5103 13.459 20.8883 17.2292Z" fill="currentColor"/>
        </svg>
        <span class="tooltip-content visually-hidden tooltip-top">
          {{- 'general.social.links.vimeo' | t -}}
        </span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_media_twitter != blank -%}
    <li class="list-social__item flex align-items">
      <a
        href="{{ settings.social_media_twitter }}"
        class="list-social__link flex align-items"
        aria-label="{{ 'general.social.links.twitter' | t }}"
      >
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9184 14H14.066L18.5298 20.6281L14 26H15.5877L19.2347 21.6747L22.1476 26H26L21.3764 19.1347L25.7059 14H24.1183L20.6714 18.0879L17.9184 14ZM19.4993 19.9239L16.2821 15.2286H17.2134L19.9508 19.2237L20.3878 19.8614L23.7755 24.8054H22.8442L19.9793 20.6242L19.4993 19.9239Z" fill="currentColor"/>
        </svg>
        <span class="tooltip-content visually-hidden tooltip-top">
          {{- 'general.social.links.twitter' | t -}}
        </span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_media_linkedin != blank -%}
    <li class="list-social__item flex align-items">
      <a
        href="{{ settings.social_media_linkedin }}"
        class="list-social__link flex align-items"
        aria-label="{{ 'general.social.links.linkedin' | t }}"
      >
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
          <path d="M26.0001 26V21.605C26.0001 19.445 25.5351 17.795 23.0151 17.795C21.8001 17.795 20.9901 18.455 20.6601 19.085H20.6301V17.99H18.2451V26H20.7351V22.025C20.7351 20.975 20.9301 19.97 22.2201 19.97C23.4951 19.97 23.5101 21.155 23.5101 22.085V25.985H26.0001V26Z" fill="currentColor"/>
          <path d="M14.1951 17.99H16.6851V26H14.1951V17.99Z" fill="currentColor"/>
          <path d="M15.44 14C14.645 14 14 14.645 14 15.44C14 16.235 14.645 16.895 15.44 16.895C16.235 16.895 16.88 16.235 16.88 15.44C16.88 14.645 16.235 14 15.44 14Z" fill="currentColor"/>
        </svg>
        <span class="tooltip-content visually-hidden tooltip-top">
          {{- 'general.social.links.linkedin' | t -}}
        </span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_media_snapchat != blank -%}
    <li class="list-social__item flex align-items">
      <a
        href="{{ settings.social_media_snapchat }}"
        class="list-social__link flex align-items"
        aria-label="{{ 'general.social.links.snapchat' | t }}"
      >
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
          <path d="M26.5485 22.9608C24.8373 22.6792 24.0661 20.9264 24.0349 20.852C24.0325 20.8472 24.0309 20.8424 24.0277 20.8376C23.9405 20.66 23.9197 20.5136 23.9677 20.4024C24.0613 20.1832 24.4197 20.0696 24.6565 19.9944C24.7253 19.9728 24.7901 19.952 24.8437 19.9312C25.0773 19.8392 25.2437 19.7392 25.3541 19.6264C25.4853 19.4912 25.5109 19.3616 25.5093 19.2776C25.5053 19.0728 25.3485 18.8904 25.0981 18.8016C25.0141 18.7672 24.9173 18.7488 24.8197 18.7488C24.7533 18.7488 24.6541 18.7576 24.5605 18.8016C24.3605 18.8952 24.1813 18.9464 24.0269 18.9536C23.9453 18.9496 23.8877 18.932 23.8501 18.9152C23.8549 18.8352 23.8597 18.7528 23.8653 18.668L23.8677 18.6312C23.9229 17.7648 23.9909 16.6872 23.7045 16.0472C23.5085 15.6088 23.2453 15.232 22.9213 14.9264C22.6501 14.6704 22.3349 14.4624 21.9845 14.3088C21.3757 14.04 20.8077 14 20.5229 14H20.5221C20.5109 14 20.5005 14 20.4909 14C20.4117 14.0008 20.2829 14.0024 20.2709 14.0024C19.9869 14.0024 19.4181 14.0424 18.8077 14.3112C18.4581 14.4648 18.1445 14.672 17.8741 14.928C17.5517 15.2336 17.2893 15.6096 17.0941 16.0464C16.8077 16.6856 16.8757 17.7632 16.9301 18.6288V18.6304C16.9357 18.7232 16.9421 18.82 16.9477 18.9144C16.9061 18.9328 16.8381 18.9536 16.7381 18.9536C16.5765 18.9536 16.3845 18.9024 16.1677 18.8008C16.1037 18.7712 16.0309 18.756 15.9509 18.756C15.8221 18.756 15.6853 18.7936 15.5677 18.8632C15.4189 18.9504 15.3229 19.0728 15.2965 19.2096C15.2797 19.2992 15.2805 19.4776 15.4789 19.6584C15.5885 19.7576 15.7485 19.8496 15.9557 19.9312C16.0101 19.9528 16.0749 19.9728 16.1429 19.9944C16.3797 20.0696 16.7389 20.1832 16.8325 20.4024C16.8797 20.5136 16.8589 20.66 16.7717 20.8376C16.7693 20.8424 16.7669 20.8472 16.7653 20.852C16.7429 20.9032 16.5389 21.3632 16.1205 21.8488C15.8829 22.1248 15.6213 22.356 15.3429 22.5352C15.0029 22.7544 14.6357 22.8968 14.2509 22.96C14.0997 22.9848 13.9917 23.1192 14.0005 23.272C14.0029 23.316 14.0133 23.36 14.0317 23.4024V23.4032C14.0933 23.5464 14.2349 23.6672 14.4653 23.7736C14.7469 23.904 15.1677 24.0136 15.7173 24.0992C15.7453 24.152 15.7741 24.284 15.7941 24.3744C15.8149 24.4704 15.8365 24.5696 15.8677 24.6744C15.9013 24.788 15.9877 24.924 16.2109 24.924C16.2957 24.924 16.3925 24.9048 16.5053 24.8832C16.6701 24.8512 16.8957 24.8072 17.1765 24.8072C17.3325 24.8072 17.4941 24.8208 17.6565 24.848C17.9701 24.9 18.2405 25.0904 18.5533 25.3112C19.0109 25.6344 19.5293 26 20.3213 26C20.3429 26 20.3645 25.9992 20.3861 25.9976C20.4117 25.9992 20.4445 26 20.4781 26C21.2701 26 21.7885 25.6344 22.2461 25.312L22.2469 25.3112C22.5597 25.0912 22.8301 24.9008 23.1437 24.8488C23.3061 24.8216 23.4677 24.808 23.6237 24.808C23.8925 24.808 24.1053 24.8424 24.2949 24.8792C24.4189 24.9032 24.5149 24.9152 24.5893 24.9152H24.5965H24.6037C24.7669 24.9152 24.8869 24.8256 24.9325 24.6696C24.9629 24.5664 24.9845 24.4704 25.0061 24.372C25.0245 24.2872 25.0549 24.1512 25.0821 24.0984C25.6317 24.012 26.0525 23.9032 26.3341 23.7728C26.5637 23.6664 26.7053 23.5456 26.7669 23.4032C26.7853 23.3608 26.7965 23.3168 26.7989 23.2712C26.8077 23.12 26.6997 22.9848 26.5485 22.9608Z" fill="currentColor"/>
        </svg>
        <span class="tooltip-content visually-hidden tooltip-top">
          {{- 'general.social.links.snapchat' | t -}}
        </span>
      </a>
    </li>
  {%- endif -%}
</ul>
