{% liquid
  assign class = ''
  if show_on_hover == true
    assign class = 'invisible show-on-hover transition absolute'
  else
    assign class = ''
  endif
  assign show_action_class = ''
  if show_action == true
    assign show_action_class = ' show-swiper-actions'
  endif
%}
<div class="swiper-actions {{ class-slideshow }}{% if show_action == true %} flex gap-10 mt-15{% endif %}">
  <div
    class="swiper-arrow swiper-button-prev overflow-hidden {{ class }}{% if settings.rounded_button > 0 %} rounded-50{% endif %} inline-flex content-center{% if type == "slideshow" %} left-0{% else %} shadow bg-white btn-hover transition{% endif %}{{ show_action_class }}"
    style="--transform-x: 2rem;"
  >
    {% if type != 'slideshow' %}
      <svg width="6" height="11" fill="none">
        <use href="#icon-back" />
      </svg>
    {% endif %}
  </div>
  {% if navigation_custom %}
    <div
      class="swiper-pagination"
    ></div>
  {% endif %}
  <div
    class="swiper-arrow swiper-button-next overflow-hidden {{ class }}{% if settings.rounded_button > 0 %} rounded-50{% endif %} inline-flex content-center{% if type == "slideshow" %} right-0{% else %} shadow bg-white btn-hover transition{% endif %}{{ show_action_class }}"
    style="--transform-x: -2rem;"
  >
    {% if type != 'slideshow' %}
      <svg width="6" height="11" fill="none">
        <use href="#icon-next" />
      </svg>
    {% endif %}
  </div>
</div>
