{%- liquid
  assign block_st = block.settings
  assign icon_image = block_st.icon_image
  assign icon_svg = block_st.icon_svg
  assign heading = block_st.heading
  assign description = block_st.description
-%}
<div
  class="icon-box__item flex column align-center"
  style="---width: {{ block_st.icon_size }}px;"
>
  <div
    class="icon-box__icon w-custom h-auto rounded-10 flex heading-color"
    style="--width: {{ block_st.icon_size }}px;--height: {{ block_st.icon_size }}px;--aspect-ratio:1/1"
  >
    {% if icon_svg != 'none' %}
      {% render 'icon_svg_list', icon: icon_svg, custom_width: block_st.icon_size, custom_height: block_st.icon_size %}
    {% elsif icon_image != blank %}
      {%- liquid
        assign alt_default = 'accessibility.promotion_banner' | t
        assign alt = block_st.icon_image.alt | default: alt_default | escape
      -%}
      {% render 'responsive-image', type: 'other', image: icon_image, image_alt: alt, class: 'rounded-10' %}
    {% else %}
      <div
        class="w-custom h-custom rounded-10"
        style="--width: {{ block_st.icon_size }}px;--height: {{ block_st.icon_size }}px;--aspect-ratio:1/1;"
      >
        {%- render 'placeholder-render', type: 'product', class: 'img-placeholder' -%}
      </div>
    {% endif %}
  </div>
  <div class="icon-box__content">
    {%- if heading != blank -%}
      <h6
        class="icon-box__heading"
        style="--body-font-size:20px;"
      >
        {{ heading }}
      </h6>
    {%- endif -%}
    {%- if description != blank -%}
      <div class="icon-box__description">
        {{ description }}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.icon-box.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon_image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "select",
      "id": "icon_svg",
      "label": "t:sections.all.svg.label",
      "info": "t:sections.all.svg.custom_svg.info",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.icon.none.label"
        },
        {
          "value": "leaf",
          "label": "t:sections.all.icon.leaf.label"
        },
        {
          "value": "cruelty",
          "label": "t:sections.all.icon.cruelty.label"
        },
        {
          "value": "paraben",
          "label": "t:sections.all.icon.paraben.label"
        },
        {
          "value": "check_badge",
          "label": "t:sections.all.icon.check_badge.label"
        },
        {
          "value": "free_shipping",
          "label": "t:sections.all.icon.free_shipping.label"
        },
        {
          "value": "message_communications",
          "label": "t:sections.all.icon.message_communications.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 30,
      "max": 70,
      "step": 1,
      "unit": "px",
      "default": 60,
      "label": "t:sections.icon-box.settings.icon_settings.icon_size.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label",
      "default": "This is heading text"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label",
      "default": "<p>Add a short description for this section.</p>"
    }
  ],
  "presets": [{ "name": "t:sections.icon-box.name" }]
}
{% endschema %}
