<link rel="stylesheet" href="{{ 'section-shopable-video.css' | asset_url }}" media="print" onload="this.media='all'">
{%- liquid
  assign items_to_show = block.settings.items_to_show
  assign show_navigation = block.settings.show_navigation
  assign show_pagination = block.settings.show_pagination

  assign items_per_row_tablet = items_to_show
  assign items_per_row_mb = ''
  if items_to_show > 3
    assign items_per_row_tablet = items_to_show | minus: 1
    assign items_per_row_mb = items_to_show | minus: 1.5
  else
    assign items_per_row_tablet = items_to_show
    assign items_per_row_mb = items_per_row_tablet
  endif
-%}
{%- capture style -%}
  --swiper-navigation-size: 3.6rem;--gap: 1rem; --gap-desktop: 1rem;--item-desktop: {{ items_to_show }};--item-tablet: {{ items_per_row_tablet }};--item-mb: {{ items_per_row_mb }};
{%- endcapture -%}
{% style %}
  @media screen and (max-width: 767.98px) {
    .free-scroll {
      padding-inline: var(--bs-gutter-x, 1.5rem);
      margin-inline: calc(var(--bs-gutter-x, 1.5rem) * -1);
    }
  }
{% endstyle %}
{%- if closest.product != blank -%}
  {%- if closest.product.metafields.custom.media_lightbox.value -%}
    <script type="module" src="{{ 'media-lightbox-gallery.js' | asset_url }}"></script>
    {% if items_to_show > 3 %}
      <div class="free-scroll overflow-hidden">
    {% endif %}
    <slide-section
      class="swiper media-lightbox-slide{% if items_to_show > 3 %} overflow-visible-mb{% endif %}"
      data-section-id="{{ section.id }}"
      data-effect="slide"
      data-speed="500"
      data-desktop="{{ items_to_show }}"
      data-mobile="{{ items_per_row_mb }}"
      data-tablet="{{ items_per_row_tablet }}"
      data-spacing="10"
      style="{{ style | strip | strip_newlines }}"
    >
      {% if show_navigation %}
        {%- render 'swiper-navigation' -%}
      {% endif %}
      <div class="swiper-wrapper">
        {%- for media in closest.product.metafields.custom.media_lightbox.value -%}
          <div class="swiper-slide">
            {%- assign image_alt = media.alt | default: closest.product.title | escape -%}
            <div class="media-lightbox-item zoom-in">
              <video-local-lightbox
                tabindex="0"
                data-position="{{ forloop.index | minus: 1 }}"
                class="fs-0 rounded-10 w-full h-full flex content-center focus-inset-inside"
              >
                {% if media.media_type == 'video' -%}
                  <div class="video-thumbnail">
                    {% render 'responsive-image', type: 'banner', image: media.preview_image, image_alt: image_alt, class="rounded-10" %}
                  </div>
                  <template>
                    {{
                      media
                      | video_tag:
                        image_size: '1100x',
                        autoplay: true,
                        loop: true,
                        controls: false,
                        muted: true,
                        alt: image_alt
                    }}
                  </template>
                {% else %}
                  {% render 'responsive-image', type: 'banner', image: media, image_alt: image_alt, class="rounded-10" %}
                {% endif %}
              </video-local-lightbox>
            </div>
          </div>
        {%- endfor -%}
      </div>
      {%- if show_pagination -%}
        <div
          class="swiper-pagination"
        ></div>
      {% endif %}
    </slide-section>
    {% if items_to_show > 3 %}
      </div>
    {% endif %}
    <template class="media-lightbox-popup">
      <media-lightbox-popup
        class="modal active_smooth"
        role="dialog"
      >
        <div
          class="modal-popup-inner flex column modal-focus h-content transition modal-draggable rounded max-w-custom m-auto invisible-1025 fixed right-30 bottom-30 z-10 bg-white w-full"
          tabindex="-1"
          style="--max-width: 33rem;--width: 4.6rem; --height: 4.6rem;--swiper-navigation-size: 4.6rem;--position-arrow: static;"
        >
          <button
            class="modal__close absolute pointer overflow-hidden btn-reset w-custom h-custom bg-custom blur inline-flex content-center absolute z-3 top-10 right-10 rounded-50 shadow color-white"
            aria-label="Close"
          >
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
              <path d="M0.217391 1.20603C0.0724638 1.07203 0 0.910106 0 0.720268C0 0.519263 0.0724638 0.346175 0.217391 0.201005C0.351171 0.0670017 0.518395 0 0.719064 0C0.919732 0 1.08696 0.0670017 1.22074 0.201005L5 3.9866L8.77926 0.201005C8.91304 0.0670017 9.08027 0 9.28094 0C9.48161 0 9.64883 0.0670017 9.78261 0.201005C9.92754 0.346175 10 0.519263 10 0.720268C10 0.910106 9.92754 1.07203 9.78261 1.20603L6.00334 4.99162L9.78261 8.77722C9.92754 8.92239 10 9.09548 10 9.29648C10 9.48632 9.92754 9.64824 9.78261 9.78224C9.64883 9.92741 9.48161 10 9.28094 10C9.08027 10 8.91304 9.92741 8.77926 9.78224L5 6.0134L1.22074 9.78224C1.08696 9.92741 0.919732 10 0.719064 10C0.518395 10 0.351171 9.92741 0.217391 9.78224C0.0724638 9.64824 0 9.48632 0 9.29648C0 9.09548 0.0724638 8.92239 0.217391 8.77722L3.99666 4.99162L0.217391 1.20603Z" fill="white"/>
            </svg>
          </button>
          <slide-section
            class="swiper media-lightbox-popup-slide"
            data-effect="slide"
            data-direction="vertical"
            data-mousewheel="true"
            data-muted-video="true"
            data-loop="true"
            data-speed="500"
            data-spacing="0"
            data-mobile="1"
            data-desktop="1"
            data-tablet="1"
            style="height: 570px;"
          >
            {%- render 'swiper-navigation' -%}
            <div class="swiper-wrapper">
              {%- for media in closest.product.metafields.custom.media_lightbox.value -%}
                <div class="swiper-slide">
                  {%- assign image_alt = media.alt | default: closest.product.title | escape -%}
                  <div class="media-lightbox-item h-full">
                    {% if media.media_type == 'video' -%}
                      <video-lightbox-item class="h-full">
                        <button
                          aria-label="{{ 'accessibility.play_button.video' | t }}"
                          class="play-button transition-short opacity-0 play-button-popup active absolute inset-0 m-auto btn-reset w-custom h-custom bg-custom blur rounded-50 z-1 pointer inline-flex content-center"
                          style="--width: 5rem; --height: 5rem;"
                        >
                          {% render 'icon-play' %}
                          {% render 'icon-pause' %}
                        </button>
                        <button
                          aria-label="{{ 'accessibility.mute_button.video' | t }}"
                          class="mute-button mute-button-popup absolute right-10 bottom-10 btn-reset bg-custom blur w-custom h-custom rounded-50 z-1 pointer"
                        >
                          {% render 'icon-mute-open' %}
                          {% render 'icon-mute-close' %}
                        </button>
                        {%- liquid
                          assign source = media.sources
                          assign source_url = ''
                          for s in source
                            if s.format == 'mp4'
                              assign source_url = s.url
                              break
                            endif
                          endfor
                          assign poster = media.preview_image | image_url: width: 500
                        -%}
                        <div class="smooth_loading absolute inset-0 flex content-center bg-grey transition">
                          <span class="loader"></span>
                        </div>
                        <video
                          preload="auto"
                          class="smooth_loading-video"
                          loop
                          muted
                          playsinline
                          autoplay
                          poster="{{ poster }}"
                          src="{{ source_url }}"
                        ></video>
                      </video-lightbox-item>
                    {% else %}
                      {% render 'responsive-image', type: 'banner', image: media, image_alt: image_alt, disable_lazy_loading: true, class="rounded-10 h-full" %}
                    {% endif %}
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </slide-section>
          {% render 'card-product',
            card_product: closest.product,
            section_id: section.id,
            disable_hover_image: true,
            disable_show_video: true,
            disable_lazy_loading: true,
            disable_badge: true,
            disable_rate: true,
            disable_tag: true,
            disable_countdown: true,
            disable_scrolling_text: true,
            disable_color_swatches: true,
            class: ' swiper-slide bg-white rounded-10 absolute z-2',
            style_layout: ' flex',
            image_class: ' flex-auto w-custom rounded-0',
            image_rounded: ' rounded-0',
            info_class: ' flex-1 mt-0 px-20 py-15 align-self-center lh-normal',
            type: 'action_beside'
          %}
        </div>
      </media-lightbox-popup>
    </template>
  {% endif %}
{% endif %}
{% schema %}
{
  "name": "t:sections.all.product_setting.media_lightbox.name",
  "class": "block-product__media-lightbox my-custom slideIn-animate",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.product_setting.media_lightbox.name"
    },
    {
      "type": "range",
      "id": "items_to_show",
      "label": "t:sections.all.columns_desktop.label",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "default": true,
      "label": "t:sections.all.carousel.show_navigation.label"
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "default": false,
      "label": "t:sections.all.carousel.show_pagination.label"
    }
  ],
  "presets": [{ "name": "t:sections.all.product_setting.media_lightbox.name" }]
}
{% endschema %}
