{%- liquid
  assign items_to_show = block.settings.items_to_show
  assign show_navigation = block.settings.show_navigation
  assign show_pagination = block.settings.show_pagination

  assign items_per_row_tablet = items_to_show
  assign items_per_row_mb =
  assign class_custom = ''
  if items_to_show > 3
    assign items_per_row_tablet = items_to_show | minus: 1
    assign items_per_row_mb = items_to_show | minus: 1.5
    assign class_custom = 'hidden block-md'
  else
    assign items_per_row_tablet = items_to_show
    assign items_per_row_mb = items_per_row_tablet
  endif
-%}
{%- capture style -%}
  --swiper-navigation-size: 3.6rem;--gap: 1rem; --gap-desktop: 1rem;--item-desktop: {{ items_to_show }};--item-tablet: {{ items_per_row_tablet }};--item-mb: {{ items_per_row_mb }};
{%- endcapture -%}
{% style %}
  @media screen and (max-width: 767.98px) {
    .free-scroll {
      padding-inline: var(--bs-gutter-x, 1.5rem);
      margin-inline: calc(var(--bs-gutter-x, 1.5rem) * -1);
    }
  }
{% endstyle %}
{%- if closest.product != blank -%}
  {%- if closest.product.metafields.custom.media_lightbox.value -%}
    <script type="module" src="{{ 'media-lightbox-gallery.js' | asset_url }}"></script>
    {% if items_to_show > 3 %}
      <div class="free-scroll overflow-hidden">
    {% endif %}
    <slide-section
      class="swiper media-lightbox-slide{% if items_to_show > 3 %} overflow-visible-mb{% endif %}"
      data-section-id="{{ section.id }}"
      data-effect="slide"
      data-speed="500"
      data-desktop="{{ items_to_show }}"
      data-mobile="{{ items_per_row_mb }}"
      data-tablet="{{ items_per_row_tablet }}"
      data-spacing="10"
      style="{{ style | strip | strip_newlines }}"
    >
      {% if show_navigation %}
        {%- render 'swiper-navigation', class-custom: class_custom -%}
      {% endif %}
      <div class="swiper-wrapper">
        {%- for media in closest.product.metafields.custom.media_lightbox.value -%}
          <div class="swiper-slide">
            {%- assign image_alt = media.alt | default: closest.product.title | escape -%}
            <div class="media-lightbox-item">
              <video-local-lightbox
                tabindex="0"
                class="fs-0 rounded-10 w-full h-full flex content-center"
              >
                {% if media.media_type == 'video' -%}
                  <div class="video-thumbnail">
                    {% render 'responsive-image', type: 'banner', image: media.preview_image, image_alt: image_alt, class="rounded-10" %}
                  </div>
                  <template>
                    {{
                      media
                      | video_tag:
                        image_size: '1100x',
                        autoplay: true,
                        loop: true,
                        controls: false,
                        muted: true,
                        alt: image_alt
                    }}
                  </template>
                {% else %}
                  {% render 'responsive-image', type: 'banner', image: media, image_alt: image_alt, class="rounded-10" %}
                {% endif %}
              </video-local-lightbox>
            </div>
          </div>
        {%- endfor -%}
      </div>
      {%- if show_pagination -%}
        <div
          class="swiper-pagination"
        ></div>
      {% endif %}
    </slide-section>
    {% if items_to_show > 3 %}
      </div>
    {% endif %}
  {% endif %}
{% endif %}
{% schema %}
{
  "name": "t:sections.all.product_setting.media_lightbox.name",
  "class": "block-product__media-lightbox my-custom slideIn-animate",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.product_setting.media_lightbox.name"
    },
    {
      "type": "range",
      "id": "items_to_show",
      "label": "t:sections.all.columns_desktop.label",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "default": true,
      "label": "t:sections.all.carousel.show_navigation.label"
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "default": false,
      "label": "t:sections.all.carousel.show_pagination.label"
    }
  ],
  "presets": [{ "name": "t:sections.all.product_setting.media_lightbox.name" }]
}
{% endschema %}
