{%- liquid
  assign section_st = section.settings
  assign block_st = block.settings
  assign content_alignment = section_st.text_alignment
  assign text_alignment_mobile = section_st.text_alignment_mobile
  assign first_button_label = block_st.first_button_label
  assign first_button_link = block_st.first_button_link
  assign first_button_type = block_st.first_button_type
  assign second_button_label = block_st.second_button_label
  assign second_button_link = block_st.second_button_link
  assign second_button_type = block_st.second_button_type
%}
{% if first_button_label != blank or block_st.second_button_label != blank %}
  <div
    class="block__buttons mb-custom flex wrap gap-10 text-center{% if text_alignment_mobile %} justify-content-{{ text_alignment_mobile }} flex-md-{{ content_alignment }}{% else %} justify-content-{{ content_alignment }}{% endif %}{% if section_st.vertical_alignment_group %} justify-content-{{ section_st.vertical_alignment_group }}{% endif %}"
    style="--space-bottom: {{ block_st.spacing_bottom }};"
  >
    {% if first_button_label != blank %}
      <a
        {% if first_button_link == blank %}
          role="link" aria-disabled="true"
        {% else %}
          href="{{ first_button_link | default: "#" }}"
        {% endif %}
        aria-label="{{ first_button_label }}"
        class="btn btn-{{ first_button_type }}{% if first_button_type == "link" %} align-self-center{% else %} w-custom max-w-100{% endif %}"
        {% if first_button_type != "link" %}
        style="--custom-width: 20rem;"
        {% endif %}
      >
        {{ first_button_label }}
      </a>
    {% endif %}
    {% if second_button_label != blank %}
      <a
        {% if second_button_link == blank %}
          role="link" aria-disabled="true"
        {% else %}
          href="{{ second_button_link | default: "#" }}"
        {% endif %}
        aria-label="{{ second_button_label }}"
        class="btn btn-{{ second_button_type }}{% if second_button_type == "link" %} align-self-center{% else %} w-custom max-w-100{% endif %}"
        {% if second_button_type != "link" %}
          style="--custom-width: 20rem;"
        {% endif %}
      >
        {{ second_button_label }}
      </a>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.all.content_setting.button_label-block.label",
  "class": "block__buttons max-w-100",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.content_setting.first_button_label.name"
    },
    {
      "type": "text",
      "id": "first_button_label",
      "default": "Button label",
      "label": "t:sections.all.content_setting.first_button_label.label"
    },
    {
      "type": "url",
      "id": "first_button_link",
      "label": "t:sections.all.content_setting.first_button_label.link"
    },
    {
      "type": "select",
      "id": "first_button_type",
      "label": "t:sections.all.content_setting.button_type.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.content_setting.button_type.primary.label"
        },
        {
          "value": "outline",
          "label": "t:sections.all.content_setting.button_type.outline.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.content_setting.button_type.link.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.content_setting.second_button_label.name"
    },
    {
      "type": "text",
      "id": "second_button_label",
      "label": "t:sections.all.content_setting.second_button_label.label"
    },
    {
      "type": "url",
      "id": "second_button_link",
      "label": "t:sections.all.content_setting.second_button_label.link"
    },
    {
      "type": "select",
      "id": "second_button_type",
      "label": "t:sections.all.content_setting.button_type.label",
      "default": "outline",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.content_setting.button_type.primary.label"
        },
        {
          "value": "outline",
          "label": "t:sections.all.content_setting.button_type.outline.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.content_setting.button_type.link.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.spacing_bottom",
      "default": 0
    }
  ],
  "presets": [{ "name": "t:sections.all.content_setting.button_label-block.label" }]
}
{% endschema %}
