{%- liquid
  assign section_st = section.settings
  assign heading_size = section_st.heading_size
  assign header_size = ''
  if heading_size == 'small'
    assign header_size = 'h3'
  elsif heading_size == 'large'
    assign header_size = 'fs-medium'
  endif
-%}
{% style %}
  .blocks-container .shopify-block:first-child .collection-list__content-inner {
    padding-top: 0;
  }
{% endstyle %}
{%- if section_st.title != blank or section_st.description != blank or section_st.subheading != blank -%}
  <div
    class="section-header section-header__in-blocks d-none block-md text-{{ section_st.text_alignment }}{% if section.blocks.size > 0 %} mb-40{% endif %}"
  >
    {%- if section_st.subheading != blank -%}
      <div class="section-subheading fs-big-2 mb-10">
        {{ section_st.subheading }}
      </div>
    {%- endif -%}
    {%- if section_st.title != blank -%}
      <h2 class="block section-heading {{ header_size }}">
        {{ section_st.title }}
      </h2>
    {%- endif -%}
    {%- if section_st.description != blank -%}
      <div class="section-description mt-15">
        {{ section_st.description }}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}
<div class="blocks-container">
  {% content_for 'blocks' %}
</div>
{% schema %}
{
  "name": "t:sections.collection-list.name",
  "class": "group--collection-list w-full col-1025-remaining",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "_collection-list"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.name",
      "blocks": [
        {
          "type": "_collection-list"
        },
        {
          "type": "_collection-list"
        },
        {
          "type": "_collection-list"
        },
        {
          "type": "_collection-list"
        },
        {
          "type": "_collection-list"
        }
      ]
    }
  ]
}
{% endschema %}
