{% liquid
  assign block_st = block.settings
  assign has_custom_background = false
  if block_st.background_color != 'rgba(0,0,0,0)' and block_st.background_color != 'transparent' and block_st.background_color != blank and block_st.background_color != blank
    assign has_custom_background = true
  endif
%}
<motion-effect
  data-animate="left-to-right"
  class="block"
>
  <div
    class="block__highlight_text subheading_weight lh-1 mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %}{% if block_st.uppercase %} uppercase{% endif %} fs-{{ block_st.highlight_text_size }} text-color bg-custom{% if has_custom_background %} py-10 px-15 btn-rounded{% endif %} inline-flex align-center gap-5"
    style="--space-bottom: {{ block_st.spacing_bottom }};--color-text: {{ block_st.text_color }};--bg-color-custom: {{ block_st.background_color }};"
    {{ block.shopify_attributes }}
  >
    {%- if block_st.highlight_text_icon == 'star' -%}
      {%- render 'icon-star' -%}
    {%- elsif block_st.highlight_text_icon == 'dot' -%}
      <svg width="5" height="5" viewBox="0 0 8 8" fill="none">
        <use href="#icon-dot"></use>
      </svg>
    {%- endif -%}

    {{ block_st.highlight_text | escape }}
  </div>
</motion-effect>
{% schema %}
{
  "name": "t:sections.all.content_setting.highlight_text.label",
  "class": "w-full",
  "settings": [
    {
      "type": "text",
      "id": "highlight_text",
      "default": "Highlight text",
      "label": "t:sections.all.content_setting.subheading.label"
    },
    {
      "type": "select",
      "id": "highlight_text_size",
      "options": [
        {
          "value": "12",
          "label": "t:sections.all.content_header.heading_size.xs_small.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.x_small.label"
        },
        {
          "value": "small-1",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "big-2",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "",
      "label": "t:sections.all.content_header.heading_size.size"
    },
    {
      "type": "select",
      "id": "highlight_text_icon",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.typography.settings.heading.text_transform.unset"
        },
        {
          "value": "star",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__2.label"
        },
        {
          "value": "dot",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__3.label"
        }
      ],
      "default": "star",
      "label": "t:sections.all.content_setting.highlight_text.settings.icons.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.image-with-text.settings.background_color",
      "default": "#D0473E"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.image-with-text.settings.text_color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "uppercase",
      "default": false,
      "label": "t:settings_schema.typography.settings.heading.text_transform.uppercase"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.spacing_bottom",
      "default": 10
    }
  ],
  "presets": [{ "name": "t:sections.all.content_setting.highlight_text.label" }]
}
{% endschema %}
