{% liquid
  assign theme_st = settings
%}
<!doctype html>
<html class="js{% if theme_st.rtl %} rtl{% endif %}" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    {%- unless theme_st.heading_font.system? and theme_st.body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    {% liquid
      assign scheme_classes = ''
      assign body_font_bold = settings.body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.heading_font | font_face: font_display: 'swap' }}
      {% for scheme in settings.color_schemes -%}
        {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
        {% if forloop.index == 1 -%}
          :root,
        {%- endif %}
        .color-{{ scheme.id }}{
          --color-background: {{ scheme.settings.background }};
          {% if scheme.settings.background_gradient != empty %}
          --gradient-background: {{ scheme.settings.background_gradient }};
          {% else %}
          --gradient-background: {{ scheme.settings.background }};
          {% endif %}
          --color-primary: {{ scheme.settings.color_general_accent }};
          --color-primary-rgb: {{ scheme.settings.color_general_accent.red }}, {{ scheme.settings.primary_color.green }}, {{ scheme.settings.primary_color.blue }};
          --color-text: {{ scheme.settings.text_color }};
          --color-text-rgb: {{ scheme.settings.text_color.red }}, {{ scheme.settings.text_color.green }}, {{ scheme.settings.text_color.blue }};
          --color-heading: {{ scheme.settings.heading_color }};
          --color-heading-rgb:{{ scheme.settings.heading_color.red }}, {{ scheme.settings.heading_color.green }}, {{ scheme.settings.heading_color.blue }};
          --color-border: {{ scheme.settings.border_color }};
          /* Button primary */
          --btn-primary-color: {{ scheme.settings.btn_primary_color }};
          --btn-primary-hover-color: {{ scheme.settings.btn_primary_hover_color }};
          --btn-primary-bg-color: {{ scheme.settings.btn_primary_background }};
          --btn-primary-hover-bg-color: {{ scheme.settings.btn_primary_hover_background }};
          /* Button outline */
          --btn-outline-color: {{ scheme.settings.btn_outline_color }};
          --btn-outline-border-color: {{ scheme.settings.btn_outline_border_color }};
          /* Button link */
          --btn-link-color: {{ scheme.settings.btn_outline_color }};
          --btn-link-hover-color: {{ scheme.settings.btn_outline_color }};
          --input-color: var(--color-text);
          --input-placeholder-color: rgba(var(--color-heading-rgb), 0.55);
          --input-bg: rgba({{ scheme.settings.background.red }}, {{ scheme.settings.background.green }}, {{ scheme.settings.background.blue }}, 0.6);
        }
      {% endfor %}
      {{ scheme_classes | prepend: 'body' }} {
        color: var(--color-text);
        background-color: var(--color-background);
      }
      :root {
        --body-font-size: {{ theme_st.base_size }}px;
        --body-font-family: {{ theme_st.body_font.family }}, {{ theme_st.body_font.fallback_families }};
        --body-font-style: {{ theme_st.body_font.style }};
        --body-font-weight: {{ theme_st.body_font.weight }};
        --body-font-weight-bold: {{ theme_st.body_font.weight | plus: 300 | at_most: 1000 }};
        --body-line-height: 1.625;
        --img-rounded: {{ theme_st.rounded_image }}px;

        --heading-font: {{ theme_st.heading_font.family }}, {{ theme_st.heading_font.fallback_families }};
        --heading-font-style: {{ theme_st.heading_font.style }};
        --heading-weight: {{ theme_st.heading_font.weight }};
        --heading-text-transform: {{ theme_st.heading_text_transform }};
        --subheading-weight: {{ theme_st.subheading_weight }};
        --heading-letter-spacing: {{ theme_st.heading_letter_spacing | divided_by: 100 }}em;

        --menu-font: {% if theme_st.menu_font == 'menu_body_font' %}{{ theme_st.body_font.family }}{% else %}{{ theme_st.heading_font.family }}{% endif %}, {{ theme_st.body_font.fallback_families }};
        --medium-font-weight: {% if theme_st.heading_font.weight > '400' %}600{% else %}{{ theme_st.heading_font.weight }}{% endif %};
        --menu-weight: {{ theme_st.menu_weight }};

        --heading-font-scale: {{ theme_st.heading_font_size_scale | divided_by: 100.0 }};

        --btn-font: {% if theme_st.button_font == 'button_body_font' %}{{ theme_st.body_font.family }}{% else %}{{ theme_st.heading_font.family }}{% endif %}, {{ theme_st.body_font.fallback_families }};
        --btn-text-transform: {{ theme_st.button_text_transform }};
        --btn-radius: {{ theme_st.rounded_button }}px;
        --btn-font-weight:{% if theme_st.button_font == 'button_body_font' %}var(--subheading-weight,var(--body-font-weight)){% else %}var(--heading-font-weight){% endif %};
        --btn-padding-y: 1.7rem;
        --btn-padding-x: 4rem;
        --btn-font-size: {% if theme_st.button_text_transform == 'uppercase' %}calc(var(--body-font-size, 1.4rem) - 2px){% else %}var(--body-font-size, 1.4rem){% endif %};
        --shopify-accelerated-checkout-button-border-radius: var(--btn-radius);
        --input-padding: 0 1.5rem;
        --inputs-border-width: 1px;
        --input-border-color: var(--border-color);
        --input-bg: rgb(var(--color-white));
        --input-color: rgb(var(--color-heading-hsl));
        --input-font-size: var(--body-font-size);
        --input-placeholder-color: rgb(var(--color-text-hsl));--input-border-radius: {{ theme_st.rounded_input }}px;
        --input-height: 5.6rem;
        --shopify-accelerated-checkout-button-block-size: var(--input-height);
        --rate-color: #FF9C05;
        --page-width: {{ theme_st.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if theme_st.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --logo-width: {{ theme_st.logo_width }}px;
        --bs-gutter-x: 4rem;
        --bs-gutter-y: 0;
        --color-white: 255, 255, 255;
        --color-dark: #000;
        --color-grey: rgba(var(--color-text-rgb), 0.65);
        --color-grey-light: rgba(var(--color-text-rgb), 0.2);
        --responsive-rate: ((100vw - 575px) / (1600 - 575));

        --transition: all 0.4s;
        --duration-short: 0.2s;
        --duration-long: 0.5s;
        --transition-drawer: all 0.3s;
        --overlay-bg: rgba(0, 0, 0, 0.60);
        --responsive-ratio: 0.7;
        --gap: 2rem;
        --accent-color-second: #f5f5f5;
        --section-spacing: 6rem;

        --product-spacing-top: 2rem;
        --product-name-size: 1.6rem;
        --product-price-size: 1.6rem;
        --product-item-spacing: 4rem;
        --shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
        --header-spacing-bottom: 4rem;
        --swiper-navigation-color: var(--color-dark);
        --swiper-navigation-sides-offset: 20px;
      }
      *,
      *::before,
      *::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
      }
      html {
        font-size: 62.5%;
        margin: 0;
        padding: 0;
        border: 0;
        height: 100%;
        vertical-align: baseline;
        overflow-x: hidden;
        box-sizing: border-box;
        -webkit-text-size-adjust: 100%;
      }
      body {
        min-height: 100vh;
        margin: 0;
        font-size: var(--body-font-size, 1.4rem);
        font-family: var(--body-font-family);
        font-style: var(--body-font-style);
        font-weight: var(--body-font-weight);
        line-height: var(--body-line-height, 1.625);
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        text-rendering: optimizeSpeed;
        overflow-wrap: break-word;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      #MainContent{
        -webkit-flex-grow: 1;
        flex-grow: 1;
      }
    {% endstyle %}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {% if theme_st.rtl %}{{ 'rtl.css' | asset_url | stylesheet_tag: preload: true }}{% endif %}
    <script defer="defer" src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
    <script defer="defer" src="{{ 'motion.js' | asset_url }}"></script>
    <script type="importmap">
      {
        "imports": {
          "theme": "{{ 'theme.js' | asset_url }}",
          "global": "{{ 'global.js' | asset_url }}",
          "module-slide": "{{ 'module-slide.js' | asset_url }}",
          "module-addToCart": "{{ 'module-add-to-cart.js' | asset_url }}"
        }
      }
    </script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="{{ 'theme.css' | asset_url }}"></noscript>
    {%- unless settings.body_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.body_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}
    {%- unless settings.heading_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.heading_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}

    <script>
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    <link
      rel="stylesheet"
      href="{{ 'component-deferred-media.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link
      id="ModelViewerStyle"
      rel="stylesheet"
      href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      media="print"
      onload="this.media='all'"
    >
    <link
      id="ModelViewerOverride"
      rel="stylesheet"
      href="{{ 'component-model-viewer-ui.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
  </head>

  <body class="{{ theme_st.animation_hover_effect }}{% if template.name == 'index' %} template-index{% endif %}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {%- liquid
      sections 'overlay-group'
    -%}
    {% sections 'footer-group' %}
    {%- render 'scripts-tag' -%}
    {%- render 'sprite-svg' -%}
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
    <script>
      window.themeGlobalVariables = {
        settings: {
          money_format: {{ shop.money_format | json }},
        }
      }
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
        search_url: '{{ routes.search_url }}'
      };
    </script>
  </body>
</html>
