{{ 'bought-together-product.css' | asset_url | stylesheet_tag }}
{%- if product.metafields.custom.frequently_bought_together.value -%}
  <script src="{{ 'section-bought-together-product.js' | asset_url }}" defer="defer" type="module"></script>
  {%- liquid
    assign section_st = section.settings
    if section_st.section_width == 'fix_width'
      assign section_width = 'container'
    elsif section_st.section_width == 'full_width'
      assign section_width = 'full-width px-20'
    else
      assign section_width = 'fluid_container'
    endif
    assign heading_size = section_st.heading_size
    assign text_alignment = section_st.text_alignment
    assign header_size = ''
    if heading_size == 'small'
      assign header_size = 'h3'
    elsif heading_size == 'large'
      assign header_size = 'h1'
    endif
    assign show_button_add_all = false
    assign hidden_highlight_text_on_mobile = section_st.hidden_highlight_text_on_mobile
    assign hidden_description_on_mobile = section_st.hidden_description_on_mobile
  -%}
  {%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}
  {% style %}
    
  {% endstyle %}
  <div
    class="section color-{{ section_st.color_scheme }} section__bought-together-products gradient{% if section_st.show_divider %} border-top{% endif %}"
    style="{{ style | strip | strip_newlines }}"
  >
    <div class="{{ section_width }}">
      <div
        class="bought-together-products__wrapper flex gap wrap flex-1025-row-reverse"
        style="--col-width: clamp(27rem, 22vw, 42rem);--gap-desktop: 5rem;--gap: 2rem;"
        data-price="{{ product.selected_or_first_available_variant.price }}"
      >
        <div class="box-total col-1025-w-custom w-full">
          <div class="sticky-md header-bought top-30 rounded pb-30 py-1025-30 text-{{ text_alignment }}">
            {%- if section_st.heading != blank
              or section_st.description != blank
              or section_st.subheading != blank
              or section_st.highlight_text != blank
            -%}
              <div
                class="section-header mb-30 mb-1025-40"
              >
                {% if section_st.highlight_text != blank %}
                  <div
                    class="highlight_text subheading_weight {% if hidden_highlight_text_on_mobile %}inline-flex-md hidden{% else %}inline-flex{% endif %} content-center gap-5 text-color bg-custom py-5 px-15 btn-rounded fs-small-1 mb-15"
                    style="--color-text: {{ section_st.text_color }};--bg-color-custom: {{ section_st.background_color }};"
                  >
                    {%- if section_st.highlight_text_icon == 'star' -%}
                      {%- render 'icon-star' -%}
                    {%- elsif section_st.highlight_text_icon == 'dot' -%}
                      {%- render 'icon-dot' -%}
                    {%- endif -%}
                    <span>{{ section.settings.highlight_text | escape }}</span>
                  </div>
                {% endif %}
                {%- if section_st.subheading != blank -%}
                  <div class="section-subheading">
                    {{ section.settings.subheading }}
                  </div>
                {%- endif -%}
                {%- if section_st.heading != blank -%}
                  <h3 class="section-heading {{ header_size }}">
                    {{ section.settings.heading }}
                  </h3>
                {%- endif -%}
                {%- if section_st.description != blank -%}
                  <div class="section-description mt-16 prose {% if hidden_description_on_mobile %}hidden block-md{% endif %}">
                    {{ section.settings.description }}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
            <div class="w-full sf-prod__block info-bought-together">
              <product-form class="bought-together-products-form relative z-3">
                <form
                  method="post"
                  action="{{ routes.cart_add_url }}"
                  accept-charset="UTF-8"
                  enctype="multipart/form-data"
                  novalidate="novalidate"
                  data-type="add-to-cart-form"
                >
                  <input type="hidden" name="form_type" value="product">
                  <input type="hidden" name="utf8" value="✓">
                  <div class="bought-together-products-list">
                    <div class="variant-select current-product">
                      <input
                        type="hidden"
                        name="items[][id]"
                        value="{{ product.selected_or_first_available_variant.id }}"
                      >
                      <input type="hidden" name="items[][quantity]" class="quantity" value="1">
                    </div>
                    {%- for items in product.metafields.custom.frequently_bought_together.value -%}
                      {%- liquid
                        assign product_available = items.variants | where: 'available'
                        assign loop_index = forloop.index
                      -%}
                      {% if items != blank and items.id != product.id %}
                        <div class="variant-select" product-id="{{ items.id }}">
                          {%- if items.variants.size > 1 -%}
                            {% for variant in product_available %}
                              {%- liquid
                                assign selected = false
                                assign quantity = variant.inventory_quantity
                              -%}
                              {% if quantity < 1 and variant.available == false %}
                                {% continue %}
                              {% else %}
                                {% assign selected = true %}
                                {% assign show_button_add_all = true %}
                              {% endif %}
                              <input
                                type="hidden"
                                name="items[][id]"
                                data-index="{{ loop_index }}"
                                value="{{ variant.id }}"
                              >
                              <input type="hidden" name="items[][quantity]" class="quantity" value="1">
                              {% if selected %}
                                {% break %}
                              {% endif %}
                            {% endfor %}
                          {%- else -%}
                            {%- if items.selected_or_first_available_variant.inventory_quantity > 0
                              or items.selected_or_first_available_variant.available == true
                            -%}
                              {% assign show_button_add_all = true %}
                              <input
                                type="hidden"
                                name="items[][id]"
                                data-index="{{ loop_index }}"
                                value="{{ product.selected_or_first_available_variant.id }}"
                              >
                              <input type="hidden" name="items[][quantity]" class="quantity" value="1">
                            {% endif %}
                          {% endif %}
                        </div>
                      {% endif %}
                    {%- endfor -%}
                  </div>
                  {%- if show_button_add_all -%}
                    {%- liquid
                      assign price = product.selected_or_first_available_variant.price
                    -%}
                    {%- for items in product.metafields.custom.frequently_bought_together.value -%}
                      {% if items != blank and items.id != product.id %}
                        {%- liquid
                          assign product_available = items.variants | where: 'available'
                          assign current_variant = items.selected_or_first_available_variant
                          assign price = current_variant.price | plus: price
                        -%}
                      {% endif %}
                    {%- endfor -%}
                    <button
                      type="submit"
                      name="add"
                      class="btn pointer btn-primary w-full relative product_submit_button product-form__submit word-wrap relative hidden block-md"
                      aria-label="{{ 'products.product.add_all_to_cart' | t }}"
                    >
                      <span class="btn-label hidden-on-load transition-short flex content-center">
                        {{- 'products.product.add_all_to_cart' | t -}}
                        <span class="dot-total mx-3"> - </span>
                        <div class="total-price">
                          <span class="price">
                            {%- if settings.currency_code_enabled %}
                              {{ price | money_with_currency }}
                            {% else %}
                              {{ price | money }}
                            {% endif -%}
                          </span>
                        </div>
                      </span>
                      {%- render 'loader' -%}
                    </button>
                  {% endif %}
                </form>
              </product-form>
            </div>
          </div>
        </div>
        <div
          class="bought-together-list flex column flex-1025-row wrap gap-16 col-1025-remaining w-full"
          style="--width: 9rem;"
        >
          {%- for items in product.metafields.custom.frequently_bought_together.value -%}
            {% if items != blank and items.id != product.id %}
              {%- unless forloop.first -%}
                <div class="icon-plus flex align-center">
                  <svg width="14" height="14" fill="none">
                    <path fill="#111" d="M1.16 8.001a.838.838 0 0 1-.586-.234.862.862 0 0 1-.234-.606c0-.221.078-.41.234-.566a.805.805 0 0 1 .586-.254h5v-5c0-.235.078-.43.235-.586A.827.827 0 0 1 7 .5c.234 0 .43.085.586.254.17.156.254.351.254.586v5h5c.221 0 .41.084.566.254.17.156.254.345.254.566a.827.827 0 0 1-.254.606.772.772 0 0 1-.566.234h-5v5a.826.826 0 0 1-.254.605.795.795 0 0 1-.586.235.862.862 0 0 1-.605-.235.862.862 0 0 1-.235-.605v-5h-5Z"/>
                  </svg>
                </div>
              {%- endunless -%}
              {%- render 'card-product',
                card_product: items,
                section_id: section.id,
                disable_badge: true,
                disable_hover_image: true,
                disable_tag: true,
                disable_show_video: true,
                disable_quickview: true,
                disable_rate: true,
                variant_swatch: true,
                container: section_width,
                column: 4,
                column_mobile: 1,
                padding: 20,
                indexFor: forloop.index,
                type: 'bought_together',
                select_type: 'default',
                select_class: ' mt-10 mt-1025-15 w-1025-full max-w-100',
                class: ' w-full w-1025-auto',
                style_layout: ' flex gap-20 block-1025 w-full w-1025-auto',
                image_class: ' flex-auto w-custom w-full-1025',
                info_class: ' flex-1'
              -%}
            {% endif %}
          {%- endfor -%}
        </div>
        <div
          class="bought-together-list__mobile flex w-full hidden-md overflow-auto overflow-x-auto pb-10 gap-10"
          style="--width: 9rem;"
        >
          {%- for items in product.metafields.custom.frequently_bought_together.value -%}
            {% if items != blank and items.id != product.id %}
              {%- unless forloop.first -%}
                <div class="icon-plus flex align-center">
                  <svg width="14" height="14" fill="none">
                    <path fill="#111" d="M1.16 8.001a.838.838 0 0 1-.586-.234.862.862 0 0 1-.234-.606c0-.221.078-.41.234-.566a.805.805 0 0 1 .586-.254h5v-5c0-.235.078-.43.235-.586A.827.827 0 0 1 7 .5c.234 0 .43.085.586.254.17.156.254.351.254.586v5h5c.221 0 .41.084.566.254.17.156.254.345.254.566a.827.827 0 0 1-.254.606.772.772 0 0 1-.566.234h-5v5a.826.826 0 0 1-.254.605.795.795 0 0 1-.586.235.862.862 0 0 1-.605-.235.862.862 0 0 1-.235-.605v-5h-5Z"/>
                  </svg>
                </div>
              {%- endunless -%}
              {%- render 'card-product',
                card_product: items,
                section_id: section.id,
                disable_badge: true,
                disable_hover_image: true,
                disable_tag: true,
                disable_show_video: true,
                disable_quickview: true,
                disable_rate: true,
                variant_swatch: true,
                container: section_width,
                column: 4,
                column_mobile: 1,
                padding: 20,
                indexFor: forloop.index,
                select_type: 'default',
                select_class: ' mt-10 mt-1025-15 w-1025-full max-w-100',
                class: ' w-1025-auto shrink-0',
                style_layout: ' flex gap-20 block-1025 w-full w-1025-auto',
                image_class: ' flex-auto w-custom w-full-1025',
                info_class: ' hidden'
              -%}
            {% endif %}
          {%- endfor -%}
        </div>
        {%- if show_button_add_all -%}
          {%- liquid
            assign price = product.selected_or_first_available_variant.price
          -%}
          {%- for items in product.metafields.custom.frequently_bought_together.value -%}
            {% if items != blank and items.id != product.id %}
              {%- liquid
                assign product_available = items.variants | where: 'available'
                assign current_variant = items.selected_or_first_available_variant
                assign price = current_variant.price | plus: price
              -%}
            {% endif %}
          {%- endfor -%}
          <button-bought-together-mobile
            class="btn pointer btn-primary w-full relative word-wrap relative hidden-md block"
          >
            <span class="btn-label hidden-on-load transition-short flex content-center">
              {{- 'products.product.add_all_to_cart' | t -}}
              <span class="dot-total mx-3"> - </span>
              <div class="total-price">
                <span class="price">
                  {%- if settings.currency_code_enabled %}
                    {{ price | money_with_currency }}
                  {% else %}
                    {{ price | money }}
                  {% endif -%}
                </span>
              </div>
            </span>
            {%- render 'loader' -%}
          </button-bought-together-mobile>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="template-on-mobile">
    <bought-together-popup
      class="bought-together-products__wrapper modal modal_type_popup active-modal-js fixed inset-0 z-31 flex align-center invisible transition content-hidden"
      data-price="{{ product.selected_or_first_available_variant.price }}"
      drawer
    >
      <modal-overlay class="modal-overlay invisible transition-drawer cursor-crosshair"></modal-overlay>
      <div
        class="modal-popup-inner relative w-full invisible-1025 flex column modal-focus transition modal-draggable rounded max-w-custom m-auto z-15 bg-white"
        tabindex="-1"
        style="--max-width: 60rem;"
      >
        <draggable-modal
          class="modal__header relative drawer__header drawer-spacing border-bottom flex gap-10 space-between"
          style="--padding-block-desktop: 1.65rem;"
        >
          {%- if section_st.heading != blank -%}
            <div class="drawer__heading h6">
              {{ section.settings.heading }}
            </div>
          {%- endif -%}
        </draggable-modal>
        <div class="drawer__body grow-1 h-full overflow-hidden overflow-y-auto custom-scrollbar p-20">
          
        </div>
        <span class="absolute left-0 right-0 z-2 h-full pointer-none overlay-bought hidden-1025"></span>
        <product-form class="bought-together-products-form px-20 py-16 border-top relative z-3">
          
          <form
            method="post"
            action="{{ routes.cart_add_url }}"
            accept-charset="UTF-8"
            enctype="multipart/form-data"
            novalidate="novalidate"
            data-type="add-to-cart-form"
          >
            <input type="hidden" name="form_type" value="product">
            <input type="hidden" name="utf8" value="✓">
            <div class="bought-together-products-list">
              <div class="variant-select current-product">
                <input
                  type="hidden"
                  name="items[][id]"
                  value="{{ product.selected_or_first_available_variant.id }}"
                >
                <input type="hidden" name="items[][quantity]" class="quantity" value="1">
              </div>
              {%- for items in product.metafields.custom.frequently_bought_together.value -%}
                {%- liquid
                  assign product_available = items.variants | where: 'available'
                  assign loop_index = forloop.index
                -%}
                {% if items != blank and items.id != product.id %}
                  <div class="variant-select" product-id="{{ items.id }}">
                    {%- if items.variants.size > 1 -%}
                      {% for variant in product_available %}
                        {%- liquid
                          assign selected = false
                          assign quantity = variant.inventory_quantity
                        -%}
                        {% if quantity < 1 and variant.available == false %}
                          {% continue %}
                        {% else %}
                          {% assign selected = true %}
                          {% assign show_button_add_all = true %}
                        {% endif %}
                        <input
                          type="hidden"
                          name="items[][id]"
                          data-index="{{ loop_index }}"
                          value="{{ variant.id }}"
                        >
                        <input type="hidden" name="items[][quantity]" class="quantity" value="1">
                        {% if selected %}
                          {% break %}
                        {% endif %}
                      {% endfor %}
                    {%- else -%}
                      {%- if items.selected_or_first_available_variant.inventory_quantity > 0
                        or items.selected_or_first_available_variant.available == true
                      -%}
                        {% assign show_button_add_all = true %}
                        <input
                          type="hidden"
                          name="items[][id]"
                          data-index="{{ loop_index }}"
                          value="{{ product.selected_or_first_available_variant.id }}"
                        >
                        <input type="hidden" name="items[][quantity]" class="quantity" value="1">
                      {% endif %}
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            </div>
            {%- if show_button_add_all -%}
              {%- liquid
                assign price = product.selected_or_first_available_variant.price
              -%}
              {%- for items in product.metafields.custom.frequently_bought_together.value -%}
                {% if items != blank and items.id != product.id %}
                  {%- liquid
                    assign product_available = items.variants | where: 'available'
                    assign current_variant = items.selected_or_first_available_variant
                    assign price = current_variant.price | plus: price
                  -%}
                {% endif %}
              {%- endfor -%}
              <button
                type="submit"
                name="add"
                class="btn pointer btn-primary w-full relative product_submit_button product-form__submit word-wrap relative"
                aria-label="{{ 'products.product.add_all_to_cart' | t }}"
              >
                <span class="btn-label hidden-on-load transition-short flex content-center">
                  {{- 'products.product.add_all_to_cart' | t -}}
                  <span class="dot-total mx-3"> - </span>
                  <div class="total-price">
                    <span class="price">
                      {%- if settings.currency_code_enabled %}
                        {{ price | money_with_currency }}
                      {% else %}
                        {{ price | money }}
                      {% endif -%}
                    </span>
                  </div>
                </span>
                {%- render 'loader' -%}
              </button>
            {% endif %}
          </form>
        </product-form>
      </div>
    </bought-together-popup>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.bought-together-products.name",
  "tag": "section",
  "class": "section",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_setting.highlight_text.label"
    },
    {
      "type": "text",
      "id": "highlight_text",
      "default": "Highlight text",
      "label": "t:sections.all.content_setting.subheading.label"
    },
    {
      "type": "select",
      "id": "highlight_text_icon",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__1.label"
        },
        {
          "value": "star",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__2.label"
        },
        {
          "value": "dot",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__3.label"
        }
      ],
      "default": "star",
      "label": "t:sections.all.content_setting.highlight_text.settings.icons.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.image-with-text.settings.background_color",
      "default": "#D0473E",
      "alpha": true
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.image-with-text.settings.text_color",
      "default": "#ffffff",
      "alpha": true
    },
    {
      "type": "checkbox",
      "id": "hidden_highlight_text_on_mobile",
      "label": "t:sections.all.mobile_options.mobile_layout.hidden_on_mobile.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label",
      "default": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "checkbox",
      "id": "hidden_description_on_mobile",
      "label": "t:sections.all.mobile_options.mobile_layout.hidden_description_on_mobile.label",
      "default": true
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.section_divider_heading"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.divider.show_divider",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.bought-together-products.name",
      "category": "t:sections.group.product"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
