{%- if product.metafields.custom.frequently_bought_together.value -%}
  {%- liquid
    assign section_st = section.settings
    if section_st.section_width == 'fix_width'
      assign section_width = 'container'
    elsif section_st.section_width == 'full_width'
      assign section_width = 'full-width px-20'
    else
      assign section_width = 'fluid_container'
    endif
    assign heading_size = section_st.heading_size
    assign text_alignment = section_st.text_alignment
    assign header_size = ''
    if heading_size == 'small'
      assign header_size = 'h3'
    elsif heading_size == 'large'
      assign header_size = 'h1'
    endif
    assign show_button_add_all = false
  -%}
  {%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};{% if heading_size == 'large' %}--font-size: 40;{% endif %}
{%- endcapture -%}
  <div
    class="section color-{{ section_st.color_scheme }} section__bought-together-products gradient"
    style="{{ style | strip | strip_newlines }}"
  >
    <div class="{{ section_width }}">
      <div
        class="bought-together-products__wrapper"
        data-price="{{ product.selected_or_first_available_variant.price }}"
      >
        <div class="box-total">
          {%- if section_st.heading != blank or section_st.description != blank or section_st.subheading != blank -%}
            <div
              class="section-header text-{{ text_alignment }}"
            >
              {%- if section_st.subheading != blank -%}
                <div class="section-subheading">
                  {{ section_st.subheading }}
                </div>
              {%- endif -%}
              {%- if section_st.heading != blank -%}
                <h2 class="section-heading {{ header_size }}">
                  {{ section_st.heading }}
                </h2>
              {%- endif -%}
              {%- if section_st.description != blank -%}
                <div class="section-description">
                  {{ section_st.description }}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
          <div class="w-full sf-prod__block info-bought-together">
            <product-form class="bought-together-products-form">
              <form
                method="post"
                action="/cart/add"
                accept-charset="UTF-8"
                enctype="multipart/form-data"
                novalidate="novalidate"
                data-type="add-to-cart-form"
              >
                <input type="hidden" name="form_type" value="product">
                <input type="hidden" name="utf8" value="✓">
                <div class="bought-together-products-list">
                  <div class="variant-select" product-id="{{ product.id }}">
                    <input
                      type="hidden"
                      name="items[][id]"
                      value="{{ product.selected_or_first_available_variant.id }}"
                    >
                    <input type="hidden" name="items[][quantity]" class="quantity" value="1">
                  </div>
                  {%- for items in product.metafields.custom.frequently_bought_together.value -%}
                    {%- liquid
                      assign product_available = items.variants | where: 'available'
                      assign loop_index = forloop.index
                    -%}
                    {% if items != blank and items.id != product.id %}
                      <div class="variant-select" product-id="{{ items.id }}">
                        {%- if items.variants.size > 1 -%}
                          {% for variant in product_available %}
                            {%- liquid
                              assign selected = false
                              assign quantity = variant.inventory_quantity
                            -%}
                            {% if quantity < 1 and variant.available == false %}
                              {% continue %}
                            {% else %}
                              {% assign selected = true %}
                              {% assign show_button_add_all = true %}
                            {% endif %}
                            <input
                              type="hidden"
                              name="items[][id]"
                              data-index="{{ loop_index }}"
                              value="{{ variant.id }}"
                            >
                            <input type="hidden" name="items[][quantity]" class="quantity" value="1">
                            {% if selected %}
                              {% break %}
                            {% endif %}
                          {% endfor %}
                        {%- else -%}
                          {%- if items.selected_or_first_available_variant.inventory_quantity > 0
                            or items.selected_or_first_available_variant.available == true
                          -%}
                            {% assign show_button_add_all = true %}
                            <input
                              type="hidden"
                              name="items[][id]"
                              data-index="{{ loop_index }}"
                              value="{{ product.selected_or_first_available_variant.id }}"
                            >
                            <input type="hidden" name="items[][quantity]" class="quantity" value="1">
                          {% endif %}
                        {% endif %}
                      </div>
                    {% endif %}
                  {%- endfor -%}
                </div>
                {%- if show_button_add_all -%}
                  <button
                    type="submit"
                    name="add"
                    class="btn btn-outline w-full relative product_submit_button product-form__submit word-wrap relative"
                    aria-label="{{ 'products.product.add_all_to_cart' | t }}"
                  >
                    <span class="btn-label hidden-on-load transition-short">
                      {{- 'products.product.add_all_to_cart' | t -}}
                    </span>
                    {%- render 'loader' -%}
                  </button>
                {% endif %}
              </form>
              <div class="total-price">
                {%- liquid
                  assign price = product.selected_or_first_available_variant.price
                -%}
                {%- for items in product.metafields.custom.frequently_bought_together.value -%}
                  {% if items != blank and items.id != product.id %}
                    {%- liquid
                      assign product_available = items.variants | where: 'available'
                      assign current_variant = items.selected_or_first_available_variant
                      assign price = current_variant.price | plus: price
                    -%}
                  {% endif %}
                {%- endfor -%}
                <span>
                  {{- 'products.product.add_all_to_cart' | t -}}
                  :</span
                >
                <span class="price">
                  {%- if settings.currency_code_enabled %}
                    {{ price | money_with_currency }}
                  {% else %}
                    {{ price | money }}
                  {% endif -%}
                </span>
              </div>
            </product-form>
          </div>
        </div>
        <div class="bought-together-list">
          {%- for items in product.metafields.custom.frequently_bought_together.value -%}
            {% if items != blank and items.id != product.id %}
              {%- render 'card-product',
                card_product: items,
                section_id: section.id,
                disable_hover_image: true,
                disable_show_video: true,
                disable_quickview: true,
                variant_swatch: true,
                container: section_width,
                column: 4,
                column_mobile: 1,
                padding: 20,
                indexFor: forloop.index,
                type: 'bought_together'
              -%}
            {% endif %}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.bought-together-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label",
      "default": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ],
  "presets": [
    {
      "name": "t:sections.bought-together-products.name"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
