{% liquid
  assign theme_st = settings
%}
<a
  href="{{ routes.cart_url }}"
  class="header__icon wh-40 flex content-center"
  id="cart-icon-bubble"
>
  {%- if theme_st.cart_icon == 'shopping_bag' -%}
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
      <path d="M6.85649 1.9248H15.1362C19.046 1.9248 19.437 3.78663 19.7015 6.0583L20.7365 14.8405C21.0699 17.7211 20.196 20.0747 16.1711 20.0747H5.83303C1.79669 20.0747 0.922718 17.7211 1.2677 14.8405L2.30267 6.0583C2.55567 3.78663 2.94664 1.9248 6.85649 1.9248Z" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M7.69922 6.25864C7.69922 8.45876 9.53828 9.3501 10.9992 9.3501C12.4602 9.3501 14.2992 8.45876 14.2992 6.25864" stroke="currentColor" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {%- else -%}
    <svg width="21" height="20" viewBox="0 0 21 20" fill="none">
      <path d="M0.878906 1.75L5.5448 13.6018C5.69245 13.9758 6.05667 14.2219 6.46026 14.2219H17.6525C18.125 14.2219 18.5384 13.8774 18.6172 13.4049L20.1036 4.75232C20.2119 4.15185 19.7492 3.60061 19.1389 3.60061H6.42089" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
      <path d="M16.7734 16.75C16.7734 17.5781 16.0263 18.25 15.1055 18.25C14.1846 18.25 13.4375 17.5781 13.4375 16.75" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
      <path d="M10.5625 16.75C10.5625 17.5781 9.81539 18.25 8.89453 18.25C7.97367 18.25 7.22656 17.5781 7.22656 16.75" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
    </svg>
  {%- endif -%}
  <span class="tooltip-content visually-hidden rounded-5 fs-small tooltip-bottom">
    {{ 'templates.cart.minicart' | t }}
  </span>
  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
  {%- if cart != empty -%}
    <div class="cart-count rounded-50 inline-flex content-center absolute bg-primary color-white fs-10>
      {%- if cart.item_count < 100 -%}
        <span class="count">{{ cart.item_count }}</span>
      {%- else -%}
        <span aria-hidden="true">~</span>
      {%- endif -%}
      <span class="visually-hidden">{{ 'templates.cart.cart_count' | t: count: cart.item_count }}</span>
    </div>
  {%- else -%}
    <div class="cart-count hidden">
      <span aria-hidden="true">0</span>
    </div>
  {%- endif -%}
</a>
