{% liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign show_free_shipping_message = section_st.show_free_shipping_message
  assign show_cart_note = section_st.show_cart_note
  assign show_estimate_shipping = section_st.show_estimate_shipping
  assign show_gift_wrap = section_st.show_gift_wrap
%}
<cart-drawer
  id="Cart-Drawer"
  class="modal pointer-none active-modal-js"
  style="--drawer-width: 82rem;--col-width: clamp(25%, 12vw, 300px);"
  tabindex="0"
  role="dialog"
>
  <modal-overlay class="modal-overlay pointer invisible transition"></modal-overlay>
  <div class="modal-inner invisible drawer drawer-right fixed right-0 z-15 inset-y-0 bg-white w-full">
    <button
      is="button-close-model"
      class="modal__close pointer btn-reset wh-40 inline-flex content-center absolute z-3 top-0 right-0"
      aria-label="Close"
    >
      <svg width="13" height="14" viewBox="0 0 13 14" fill="none">
        <path d="M0.282609 2.06784C0.0942029 1.89363 0 1.68314 0 1.43635C0 1.17504 0.0942029 0.950028 0.282609 0.761307C0.456522 0.587102 0.673913 0.5 0.934783 0.5C1.19565 0.5 1.41304 0.587102 1.58696 0.761307L6.5 5.68258L11.413 0.761307C11.587 0.587102 11.8043 0.5 12.0652 0.5C12.3261 0.5 12.5435 0.587102 12.7174 0.761307C12.9058 0.950028 13 1.17504 13 1.43635C13 1.68314 12.9058 1.89363 12.7174 2.06784L7.80435 6.98911L12.7174 11.9104C12.9058 12.0991 13 12.3241 13 12.5854C13 12.8322 12.9058 13.0427 12.7174 13.2169C12.5435 13.4056 12.3261 13.5 12.0652 13.5C11.8043 13.5 11.587 13.4056 11.413 13.2169L6.5 8.31742L1.58696 13.2169C1.41304 13.4056 1.19565 13.5 0.934783 13.5C0.673913 13.5 0.456522 13.4056 0.282609 13.2169C0.0942029 13.0427 0 12.8322 0 12.5854C0 12.3241 0.0942029 12.0991 0.282609 11.9104L5.19565 6.98911L0.282609 2.06784Z" fill="currentColor"></path>
      </svg>
    </button>
    <div class="drawer__body h-full overflow-y-auto custom-scrollbar">
      <div class="drawer__header">
        <h2 class="drawer__heading">
          {{ 'sections.cart.title' | t }}
          <span class="cart-count">
            {%- if cart.item_count < 100 -%}
              {{- cart.item_count -}}
            {%- else -%}
              ~
            {%- endif -%}
          </span>
        </h2>
      </div>
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings ">
            <h2 class="drawer__empty-heading">{{ theme_st.cart_empty_heading }}</h2>
            <div class="drawer__empty-description rte">{{ theme_st.cart_empty_description }}</div>
            {%- if theme_st.cart_empty_collection -%}
              <ul class="drawer__empty-collections">
                {% for collection in theme_st.cart_empty_collection %}
                  <li>
                    {% liquid
                      assign collection_media = collection.featured_image
                      assign collection_alt = collection.featured_image.alt | default: collection.title
                    %}
                    <a
                      class="block collection-item__media--ratio rounded"
                      draggable="false"
                      href="{{ collection.url }}"
                      aria-label="{{- collection.title -}}"
                    >
                      {%- if collection_media -%}
                        <div style="--aspect-ratio: '4/3';">
                          {% render 'responsive-image',
                            type: 'other',
                            image: collection_media,
                            image_alt: collection_alt
                          %}
                        </div>
                      {%- endif -%}
                      <span class="collection-item__name">{{- collection.title -}}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {%- endif -%}
          </div>
        </div>
      {%- else -%}
      {%- endif -%}
    </div>
  </div>
</cart-drawer>
{% schema %}
{
  "name": "t:sections.cart-drawer.name",
  "tag": "section",
  "class": "overlay-section overlay-cart",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.cart-drawer.settings.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "checkbox",
      "id": "show_free_shipping_message",
      "default": true,
      "label": "t:sections.cart-drawer.settings.show_free_shipping_message.label",
      "info": "t:sections.cart-drawer.settings.show_free_shipping_message.info"
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": true,
      "label": "t:sections.cart-drawer.settings.show_cart_note"
    },
    {
      "type": "checkbox",
      "id": "show_estimate_shipping",
      "default": true,
      "label": "t:sections.cart-drawer.settings.show_estimate_shipping"
    },
    {
      "type": "checkbox",
      "id": "show_gift_wrap",
      "default": true,
      "label": "t:sections.cart-drawer.settings.show_gift_wrap"
    }
  ]
}
{% endschema %}
