{%- liquid
  assign section_st = section.settings
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'full-width-gap'
  endif
  assign aspect_ratio = '1/1'
  case section_st.image_ratio
    when 'adapt'
      assign aspect_ratio = 'adapt'
    when 'square'
      assign aspect_ratio = '1/1'
    when 'portrait'
      assign aspect_ratio = '3/4'
    else
      assign aspect_ratio = '4/3'
  endcase
-%}
{%- capture style -%}
--section-padding-top: {{ section_st.padding_top }}px; --section-padding-bottom: {{ section_st.padding_bottom }}px;
  {%- endcapture -%}
<div
  class="color-{{ section_st.color_scheme }} gradient section__collection-list"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    {%- if section_st.title != blank or section_st.description != blank -%}
      <div
        class="section-header"
      >
        {%- if section_st.title != blank -%}
          <h2 class="section-heading">
            {{ section_st.title }}
          </h2>
        {%- endif -%}
        {%- if section_st.description != blank -%}
          <div class="section-description">
            {{ section_st.description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if section_st.enable_carousel -%}
      <slide-section
        data-items="{{ section_st.columns_desktop }}"
        data-mobile="{{ section_st.items_per_row_mobile }}"
        data-controls="{{ section_st.show_navigation }}"
        data-nav="{{ section_st.show_pagination }}"
        data-loop="false"
        data-lazyload="false"
        data-autoplay="false"
        data-mouse-drag="true"
        data-autoplay-timeout="5000"
        data-controls-position="top"
        data-nav-as-thumbnails="false"
        data-autoplay-button-output="false"
        data-axis="horizontal"
        data-mode="carousel"
        data-fix-height="false"
        data-product-type="true"
        data-autowidth="true"
        data-gap="{{ section_st.column_gap }}"
        class="{% if section_st.information_position != 'overlay' %} round-on-top{% endif %}"
        data-nav-center-postion="collection-media"
      >
        <div class="{% if section_st.columns_desktop > 5 %} column-2-5{% endif %} slide-container no-js-scroll{% if settings.animations_reveal_on_scroll %} slide-animation opacity-0{% endif %}">
          {% for block in section.blocks %}
            <div
              class="collection-items align-self-start relative{% if settings.animations_reveal_on_scroll %} scroll-trigger {{ scroll_animation }}{% endif %}"
              {{ block.shopify_attributes }}
              {%- if settings.animations_reveal_on_scroll -%}
                style="--animation-order: {{ forloop.index }};"
              {%- endif -%}
            >
              <div class="collection__inner relative">
                <div
                  class="banner__media rounded collection-media"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                  {% endif %}
                  style="
                    {%- if aspect_ratio == "adapt" -%}
                      {%- if block.settings.collection_image == blank and block.settings.collection == blank -%}
                        --aspect-ratio: 3/4;
                      {%- endif -%}
                      {%- else -%}
                      --aspect-ratio: {{ aspect_ratio }};
                    {%- endif -%}
                  "
                >
                  {%- if block.settings.collection_image == blank -%}
                    {%- if block.settings.collection != blank -%}
                      {%- liquid
                        assign p_url = block.settings.collection.url
                        assign p_img = block.settings.collection.featured_image
                      -%}
                      {%- if block.settings.collection_title != blank -%}
                        {%- assign banner_alt = block.settings.collection_title | escape -%}
                      {%- else -%}
                        {%- assign banner_alt = block.settings.collection.title | escape -%}
                      {%- endif -%}
                      <a
                        class="collection_banner-image{% if section_st.information_position == 'overlay' %} overlay-image{% endif %} block relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in {% else %} fade-in {% endif %}"
                        {% if p_url == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ p_url }}"
                        {% endif %}
                        aria-label="{{ banner_alt }}"
                        style="--aspect-ratio: {% if aspect_ratio == "adapt" %}{% if p_img %}{{ p_img.aspect_ratio }}{% else %}1/1{% endif %}{% else %}{{ aspect_ratio }}{% endif %}"
                      >
                        {%- if p_img -%}
                          <img
                            srcset="
                              {%- if p_img.width >= 165 -%}{{ p_img | image_url: width: 165 }} 165w,{%- endif -%}
                              {%- if p_img.width >= 360 -%}{{ p_img | image_url: width: 360 }} 360w,{%- endif -%}
                              {%- if p_img.width >= 533 -%}{{ p_img | image_url: width: 533 }} 533w,{%- endif -%}
                              {%- if p_img.width >= 720 -%}{{ p_img | image_url: width: 720 }} 720w,{%- endif -%}
                              {%- if p_img.width >= 940 -%}{{ p_img | image_url: width: 940 }} 940w,{%- endif -%}
                              {%- if p_img.width >= 1066 -%}{{ p_img | image_url: width: 1066 }} 1066w,{%- endif -%}
                              {{ p_img | image_url }} {{ p_img.width }}w
                            "
                            src="{{ p_img | image_url: width: 720 }}"
                            data-sizes="auto"
                            alt="{{ banner_alt }}"
                            loading="lazy"
                            width="{{ p_img.width }}"
                            height="{{ p_img.height }}"
                            sizes="100vw"
                          >
                        {%- else -%}
                          {% render 'placeholder-render' | type: "collection" %}
                        {%- endif -%}
                      </a>
                    {%- else -%}
                      {%- assign default_alt = 'sections.collection_list.sample_name' | t -%}
                      <a
                        class="collection_banner-image{% if section_st.information_position == 'overlay' %} overlay-image{% endif %} block relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in {% else %} fade-in {% endif %}{% if section_st.information_position == 'overlay' %} overlay-bg{% endif %}"
                        role="link"
                        aria-disabled="true"
                        aria-label="{{ block.settings.collection_title | default: default_alt }}"
                      >
                        {% render 'placeholder-render' | type: "collection" | index: forloop.index %}
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    {%- liquid
                      assign p_url = ''
                      if block.settings.collection != blank
                        assign p_url = block.settings.collection.url
                      endif
                      assign default_alt = 'sections.collection_list.collection_list_image' | t
                    -%}
                    {%- if block.settings.collection_title != blank -%}
                      {%- assign banner_alt = block.settings.collection_title | escape -%}
                    {%- else -%}
                      {%- assign banner_alt = block.settings.collection_image.alt
                        | default: block.settings.collection.title
                        | default: default_alt
                        | escape
                      -%}
                    {%- endif -%}
                    <a
                      class="collection_banner-image{% if section_st.information_position == 'overlay' %} overlay-image{% endif %} block relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in {% else %} fade-in {% endif %}"
                      {% if p_url == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ p_url }}"
                      {% endif %}
                      aria-label="{{ banner_alt }}"
                      style="--aspect-ratio: {% if aspect_ratio == "adapt" %}{{ block.settings.collection_image.aspect_ratio }}{% else %}{{ aspect_ratio }}{% endif %}"
                    >
                      {%- assign collection_image = block.settings.collection_image -%}
                      <img
                        srcset="
                          {%- if collection_image.width >= 165 -%}{{ collection_image | image_url: width: 165 }} 165w,{%- endif -%}
                          {%- if collection_image.width >= 360 -%}{{ collection_image | image_url: width: 360 }} 360w,{%- endif -%}
                          {%- if collection_image.width >= 533 -%}{{ collection_image | image_url: width: 533 }} 533w,{%- endif -%}
                          {%- if collection_image.width >= 720 -%}{{ collection_image | image_url: width: 720 }} 720w,{%- endif -%}
                          {%- if collection_image.width >= 940 -%}{{ collection_image | image_url: width: 940 }} 940w,{%- endif -%}
                          {%- if collection_image.width >= 1066 -%}{{ collection_image | image_url: width: 1066 }} 1066w,{%- endif -%}
                          {{ collection_image | image_url }} {{ collection_image.width }}w
                        "
                        src="{{ collection_image | image_url: width: 720 }}"
                        data-sizes="auto"
                        alt="{{ banner_alt }}"
                        loading="lazy"
                        width="{{ collection_image.width }}"
                        height="{{ collection_image.height }}"
                        sizes="100vw"
                      >
                    </a>
                  {%- endif -%}
                </div>
                <div
                  class="collection-information text-{{ section_st.text_information_alignment }}{% if section_st.information_position == 'overlay' %} absolute inset-x-0 bottom-0 p-30 pointer-none{% else %} mt-22{% endif %}"
                  {% if section_st.information_position == 'overlay' %}
                    style="--heading-color: {{ section_st.overlay_image_color }};--text-color: {{ section_st.overlay_image_color }}"
                  {% endif %}
                >
                  {%- if block.settings.collection_title == blank -%}
                    {%- if block.settings.collection != blank -%}
                      {%- liquid
                        assign p_url = ''
                        if block.settings.collection != blank
                          assign p_url = block.settings.collection.url
                        endif
                      -%}
                      <a
                        class="remove-underline{% if section_st.columns_desktop > 4 %} fs-22 heading{% else %} h4{% endif %} m-0 relative z-3"
                        {% if p_url == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ p_url }}"
                        {% endif %}
                        aria-label="{{ block.settings.collection.title }}"
                      >
                        {{ block.settings.collection.title }}
                      </a>
                    {%- else -%}
                      <a
                        class="remove-underline{% if section_st.columns_desktop > 4 %} fs-22 heading{% else %} h4{% endif %} m-0 relative z-3"
                        role="link"
                        aria-disabled="true"
                        aria-label="{{ 'sections.collection_list.sample_name' | t }}"
                      >
                        {{ 'sections.collection_list.sample_name' | t }}
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    {%- liquid
                      assign p_url = ''
                      if block.settings.collection != blank
                        assign p_url = block.settings.collection.url
                      endif
                    -%}
                    <a
                      class="remove-underline {% if section_st.information_position == 'below' %}border-animation{% endif %} h6 m-0 relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                      {% if p_url == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ p_url }}"
                      {% endif %}
                      aria-label="{{ block.settings.collection_title }}"
                    >
                      {{ block.settings.collection_title }}
                    </a>
                  {%- endif -%}
                  {%- if section_st.show_product_count -%}
                    <div class="product-count mt-5 relative z-3 text-color">
                      {%- assign pc = block.settings.collection.products_count | default: 0 -%}
                      {{ pc }}
                      {%- if pc < 2 -%}
                        {{ 'sections.collection_list.item' | t }}
                      {%- else -%}
                        {{ 'sections.collection_list.items' | t }}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </slide-section>
    {%- else -%}
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Collection list",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.header.collection"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.adapt"
        },
        {
          "value": "square",
          "label": "t:sections.all.image.aspect_ratio.options__1"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image.aspect_ratio.options__2"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image.aspect_ratio.options__3"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.image.aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "overlay",
          "label": "t:sections.all.content_position.options__1.label"
        },
        {
          "value": "bellow",
          "label": "t:sections.all.content_position.options__2.label"
        }
      ],
      "default": "overlay",
      "label": "t:sections.all.content_position.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "default": false,
      "label": "t:sections.collection-list.settings.show_product_count.label"
    },

    {
      "type": "range",
      "id": "columns_desktop",
      "label": "t:sections.all.columns_desktop.label",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.overlay_image_settings"
    },
    {
      "type": "color",
      "id": "overlay_image_color",
      "label": "t:sections.collection-list.settings.overlay_image_color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.all.carousel.header"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "t:sections.all.carousel.enable_carousel.label",
      "default": true,
      "info": "t:sections.all.carousel.enable_carousel.description"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "default": true,
      "label": "t:sections.all.carousel.show_navigation.label"
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "default": false,
      "label": "t:sections.all.carousel.show_pagination.label"
    },
    {
      "type": "checkbox",
      "id": "reveal_slide",
      "default": false,
      "label": "t:sections.all.carousel.reveal_slide.label"
    },
    {
      "type": "range",
      "id": "items_per_row_mobile",
      "label": "t:sections.all.items.items_per_row_mobile",
      "min": 1,
      "max": 2,
      "step": 0.5,
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.image.label",
          "info": "t:sections.collection-list.blocks.featured_collection.settings.image.info"
        },
        {
          "type": "text",
          "id": "collection_title",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.title.label",
          "info": "t:sections.collection-list.blocks.featured_collection.settings.title.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
