{%- if product.metafields.custom.compare_items.value -%}
  {%- liquid
    assign theme_st = settings
    assign section_st = section.settings
    if section_st.section_width == 'fix_width'
      assign section_width = 'container'
    elsif section_st.section_width == 'full_width'
      assign section_width = 'full-width px-20'
    else
      assign section_width = 'fluid_container'
    endif
    assign heading_size = section_st.heading_size
    assign text_alignment = section_st.text_alignment
    assign header_size = ''
    if heading_size == 'small'
      assign header_size = 'h3'
    elsif heading_size == 'large'
      assign header_size = 'h1'
    endif
    assign show_price = section_st.show_price
    assign show_ratings = section_st.show_ratings
    assign show_vendor = section_st.show_vendor
    assign show_color = section_st.show_color
    assign show_size = section_st.show_size
    assign show_highlights = section_st.show_highlights
    assign show_availability = section_st.show_availability
    assign option_name_size = 'Size'
    if section_st.size_trigger != blank
      assign option_name_size = section_st.size_trigger | split: ','
    endif
    assign option_name_color = 'Color'
    if theme_st.color_swatch_trigger != blank
      assign option_name_color = theme_st.color_swatch_trigger | split: ','
    endif
    assign product_image_ratio = theme_st.product_image_ratio
    assign product_show_video_featured = theme_st.product_show_video_featured
  -%}
  {%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}
  {% style %}
    .compare-field {
      --field-heading: 13rem;
      flex: 0 0 auto;
      width: calc((100% - var(--field-heading)) / 1.5);
      box-shadow: 1px 0 0 0 var(--color-border);
      border-bottom: 1px solid var(--color-border);
      --color-text: var(--color-heading);
    }
    .field-heading.compare-field {
      width: var(--field-heading);
    }
    @media (min-width: 768px) {
      .compare-field {
        --field-heading: 16.8rem;
        width: calc((100% - var(--field-heading)) / 5);
      }
    }
  {% endstyle %}
  <div
    class="section color-{{ section_st.color_scheme }} section__compare-products gradient{% if section_st.show_divider %} border-top{% endif %}"
    style="{{ style | strip | strip_newlines }}"
  >
    <div class="{{ section_width }}">
      {%- if section_st.heading != blank or section_st.description != blank or section_st.subheading != blank -%}
        <div
          class="section-header text-{{ text_alignment }}"
        >
          {%- if section_st.subheading != blank -%}
            <div class="section-subheading mb-10">
              {{ section_st.subheading }}
            </div>
          {%- endif -%}
          {%- if section_st.heading != blank -%}
            <h2 class="section-heading {{ header_size }}">
              {{ section_st.heading }}
            </h2>
          {%- endif -%}
          {%- if section_st.description != blank -%}
            <div class="section-description mt-15 prose">
              {{ section_st.description }}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="compare-table-products overflow-auto border rounded">
        <div class="compare-row flex flex-nowrap compare-row-basic">
          <div class="compare-field flex wrap align-center word-break p-20 field-heading sticky left-0 bg-white z-2 heading-style">
            {{ 'products.product.product_compare' | t }}
          </div>
          <div class="compare-field flex wrap align-center gap-20 word-break p-20 current-product bg-secondary">
            {%- liquid
              assign p_media = product.featured_media
              assign ratio = '3/4'
              if product_image_ratio != 'adapt'
                case product_image_ratio
                  when 'square'
                    assign ratio = '1/1'
                  when 'landscape'
                    assign ratio = '4/3'
                  when 'portrait'
                    assign ratio = '3/4'
                endcase
              else
                if p_media.media_type == 'model'
                  assign ratio = '3/4'
                else
                  assign ratio = p_media.aspect_ratio
                endif
              endif
              if p_media.media_type == 'video' or p_media.media_type == 'external_video'
                assign type_video = true
              endif
            -%}
            <div class="product__inner relative hover-effect w-full">
              <a
                class="product-image focus-inset{% if type_video and product_show_video_featured %} video-pause{% endif %}"
                draggable="false"
                href="{{ product.url }}"
                aria-label="{{ product.title }}"
              >
                {%- if p_media -%}
                  <div
                    class="product__media animation-swatches rounded"
                    style="--aspect-ratio: {{ ratio }};"
                  >
                    {%- assign alt_features = p_media.alt | default: product.title | escape -%}
                    {% if type_video and product_show_video_featured and product != true %}
                      {% if p_media.media_type == 'video' %}
                        <video-product class="product__img featured-image product__img_video lazy-video-item">
                          {% render 'responsive-image',
                            type: 'product',
                            class: 'product__img video-thumbnail',
                            image: p_media.preview_image,
                            image_alt: alt_features
                          %}
                          <template class="video-template max-w-100">
                            {{
                              p_media
                              | media_tag:
                                image_size: '2048x',
                                autoplay: true,
                                controls: true,
                                loop: true,
                                preload: 'none'
                            }}
                          </template>
                        </video-product>
                      {% elsif p_media.media_type == 'external_video' %}
                        {% liquid
                          assign video_id = p_media.external_id
                        %}
                        <video-product class="product__img featured-image product__img_video lazy-video-item">
                          {% render 'responsive-image',
                            type: 'product',
                            class: 'product__img video-thumbnail',
                            image: p_media.preview_image,
                            image_alt: alt_features
                          %}
                          <template class="video-template">
                            {%- if p_media.host == 'youtube' -%}
                              <iframe
                                src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1&mute=1&loop=0"
                                class="js-youtube w-full h-full"
                              ></iframe>
                            {%- else -%}
                              {{
                                p_media
                                | external_video_url: autoplay: true
                                | external_video_tag: class: '', loading: 'lazy'
                              }}
                            {%- endif -%}
                          </template>
                        </video-product>
                      {% endif %}
                    {% else %}
                      {% render 'responsive-image',
                        type: 'product',
                        class: 'product__img featured-image',
                        image: p_media,
                        image_alt: alt_features,
                        motion: true
                      %}
                    {% endif %}
                  </div>
                {%- else -%}
                  {%- liquid
                    assign ratio = '3/4'
                    if product_image_ratio != 'adapt'
                      case product_image_ratio
                        when 'square'
                          assign ratio = '1/1'
                        when 'landscape'
                          assign ratio = '4/3'
                        when 'portrait'
                          assign ratio = '3/4'
                      endcase
                    endif
                  -%}
                  <div
                    class="product__media rounded"
                    style="--aspect-ratio: {{ ratio }};"
                  >
                    {% render 'placeholder-render' %}
                  </div>
                {%- endif -%}
                {% render 'product-badges', scope: 'item', card_product: product %}
              </a>
            </div>
            <a
              aria-label="{{ product.title }}"
              class="product__name heading-style block"
              href="{{ product.url }}"
            >
              {{- product.title -}}
            </a>
          </div>
          {%- for items in product.metafields.custom.compare_items.value -%}
            {%- liquid
              if items.id == product.id
                continue
              endif
            -%}
            <div class="compare-field flex wrap align-center word-break p-20">
              {%- liquid
                assign p_media = items.featured_media
                assign ratio = '3/4'
                if product_image_ratio != 'adapt'
                  case product_image_ratio
                    when 'square'
                      assign ratio = '1/1'
                    when 'landscape'
                      assign ratio = '4/3'
                    when 'portrait'
                      assign ratio = '3/4'
                  endcase
                else
                  if p_media.media_type == 'model'
                    assign ratio = '3/4'
                  else
                    assign ratio = p_media.aspect_ratio
                  endif
                endif
                if p_media.media_type == 'video' or p_media.media_type == 'external_video'
                  assign type_video = true
                endif
              -%}
              <div class="product__inner relative hover-effect w-full">
                <a
                  class="product-image focus-inset{% if type_video and product_show_video_featured %} video-pause{% endif %}"
                  draggable="false"
                  href="{{ items.url }}"
                  aria-label="{{ items.title }}"
                >
                  {%- if p_media -%}
                    <div
                      class="product__media animation-swatches rounded"
                      style="--aspect-ratio: {{ ratio }};"
                    >
                      {%- assign alt_features = p_media.alt | default: items.title | escape -%}
                      {% if type_video and product_show_video_featured and items != true %}
                        {% if p_media.media_type == 'video' %}
                          <video-product class="product__img featured-image product__img_video lazy-video-item">
                            {% render 'responsive-image',
                              type: 'product',
                              class: 'product__img video-thumbnail',
                              image: p_media.preview_image,
                              image_alt: alt_features
                            %}
                            <template class="video-template max-w-100">
                              {{
                                p_media
                                | media_tag:
                                  image_size: '2048x',
                                  autoplay: true,
                                  controls: true,
                                  loop: true,
                                  preload: 'none'
                              }}
                            </template>
                          </video-product>
                        {% elsif p_media.media_type == 'external_video' %}
                          {% liquid
                            assign video_id = p_media.external_id
                          %}
                          <video-product class="product__img featured-image product__img_video lazy-video-item">
                            {% render 'responsive-image',
                              type: 'product',
                              class: 'product__img video-thumbnail',
                              image: p_media.preview_image,
                              image_alt: alt_features
                            %}
                            <template class="video-template">
                              {%- if p_media.host == 'youtube' -%}
                                <iframe
                                  src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1&mute=1&loop=0"
                                  class="js-youtube w-full h-full"
                                ></iframe>
                              {%- else -%}
                                {{
                                  p_media
                                  | external_video_url: autoplay: true
                                  | external_video_tag: class: '', loading: 'lazy'
                                }}
                              {%- endif -%}
                            </template>
                          </video-product>
                        {% endif %}
                      {% else %}
                        {% render 'responsive-image',
                          type: 'product',
                          class: 'product__img featured-image',
                          image: p_media,
                          image_alt: alt_features,
                          motion: true
                        %}
                      {% endif %}
                    </div>
                  {%- else -%}
                    {%- liquid
                      assign ratio = '3/4'
                      if product_image_ratio != 'adapt'
                        case product_image_ratio
                          when 'square'
                            assign ratio = '1/1'
                          when 'landscape'
                            assign ratio = '4/3'
                          when 'portrait'
                            assign ratio = '3/4'
                        endcase
                      endif
                    -%}
                    <div
                      class="product__media rounded"
                      style="--aspect-ratio: {{ ratio }};"
                    >
                      {% render 'placeholder-render' %}
                    </div>
                  {%- endif -%}
                </a>
              </div>
              <a
                aria-label="{{ items.title }}"
                class="product__name heading-style block"
                href="{{ items.url }}"
              >
                {{- items.title -}}
              </a>
            </div>
          {%- endfor -%}
        </div>
        {%- if show_price -%}
          <div class="compare-row flex flex-nowrap compare-row-price">
            <div class="compare-field flex wrap align-center word-break p-20 field-heading sticky left-0 bg-white z-2 heading-style">
              {{ 'products.product.price.label' | t }}
            </div>
            <div class="compare-field flex wrap align-center word-break p-20 current-product bg-secondary">
              {%- render 'price', scope: 'item', product: product -%}
            </div>
            {%- for items in product.metafields.custom.compare_items.value -%}
              {%- liquid
                if items.id == product.id
                  continue
                endif
              -%}
              <div class="compare-field flex wrap align-center word-break p-20">
                {%- render 'price', scope: 'item', product: items -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- if show_ratings -%}
          <div class="compare-row flex flex-nowrap compare-row-review">
            <div class="compare-field flex wrap align-center word-break p-20 field-heading sticky left-0 bg-white z-2 heading-style">
              {{ 'products.product.ratings' | t }}
            </div>
            <div class="compare-field flex wrap align-center word-break p-20 current-product bg-secondary">
              {%- liquid
                render 'review', review_star: true, product: product
              -%}
            </div>
            {%- for items in product.metafields.custom.compare_items.value -%}
              {%- liquid
                if items.id == product.id
                  continue
                endif
              -%}
              <div class="compare-field flex wrap align-center word-break p-20">
                {%- liquid
                  render 'review', review_star: true, product: items
                -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- if show_vendor -%}
          <div class="compare-row flex flex-nowrap compare-row-vendor">
            <div class="compare-field flex wrap align-center word-break p-20 field-heading sticky left-0 bg-white z-2 heading-style">
              {{ 'products.product.vendor' | t }}
            </div>
            <div class="compare-field flex wrap align-center word-break p-20 current-product bg-secondary">
              {%- if product.vendor -%}
                {{ product.vendor }}
              {%- else -%}
                -
              {% endif %}
            </div>
            {%- for items in product.metafields.custom.compare_items.value -%}
              {%- liquid
                if items.id == product.id
                  continue
                endif
              -%}
              <div class="compare-field flex wrap align-center word-break p-20">
                {%- if items.vendor -%}
                  {{ items.vendor }}
                {%- else -%}
                  -
                {% endif %}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- if show_color -%}
          <div class="compare-row flex flex-nowrap compare-row-color">
            <div class="compare-field flex wrap align-center word-break p-20 field-heading sticky left-0 bg-white z-2 heading-style">
              {{ 'products.product.color' | t }}
            </div>
            <div class="compare-field flex wrap align-center word-break p-20 current-product bg-secondary">
              {%- if product.has_only_default_variant -%}
                <span>-</span>
              {%- else -%}
                {%- for option in product.options_with_values -%}
                  {%- liquid
                    assign is_color_option = false
                    for colorItem in option_name_color
                      if option.name == colorItem
                        assign is_color_option = true
                      endif
                    endfor
                  -%}
                  {%- if is_color_option -%}
                    {%- for value in option.values -%}
                      <span class="color-content uppercase-first-letter">
                        {{- value -}}
                        {%- if forloop.last != true %}, {% endif %}
                      </span>
                    {%- endfor -%}
                  {% endif %}
                {%- endfor -%}
              {% endif %}
            </div>
            {%- for items in product.metafields.custom.compare_items.value -%}
              {%- liquid
                if items.id == product.id
                  continue
                endif
              -%}
              <div class="compare-field flex wrap align-center word-break p-20">
                {%- if items.has_only_default_variant -%}
                  <span>-</span>
                {%- else -%}
                  {%- for option in items.options_with_values -%}
                    {%- liquid
                      assign is_color_option = false
                      for colorItem in option_name_color
                        if option.name == colorItem
                          assign is_color_option = true
                        endif
                      endfor
                    -%}
                    {%- if is_color_option -%}
                      {%- for value in option.values -%}
                        <span class="color-content uppercase-first-letter">
                          {{- value -}}
                          {%- if forloop.last != true %}, {% endif %}
                        </span>
                      {%- endfor -%}
                    {% endif %}
                  {%- endfor -%}
                {% endif %}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- if show_size -%}
          <div class="compare-row flex flex-nowrap compare-row-size">
            <div class="compare-field flex wrap align-center word-break p-20 field-heading sticky left-0 bg-white z-2 heading-style">
              {{ 'products.product.size' | t }}
            </div>
            <div class="compare-field flex wrap align-center word-break p-20 current-product bg-secondary">
              {%- if product.has_only_default_variant -%}
                <span>-</span>
              {%- else -%}
                {%- liquid
                  assign size_option = false
                  for option in product.options_with_values
                    for sizeItem in option_name_size
                      if option.name == sizeItem
                        assign size_option = true
                      endif
                    endfor
                  endfor
                -%}
                {%- if size_option -%}
                  {%- for option in product.options_with_values -%}
                    {%- liquid
                      assign is_size_option = false
                      for sizeItem in option_name_size
                        if option.name == sizeItem
                          assign is_size_option = true
                        endif
                      endfor
                    -%}
                    {%- if is_size_option -%}
                      {%- for value in option.values -%}
                        <span class="size-content uppercase-first-letter">
                          {{- value -}}
                          {%- if forloop.last != true %}, {% endif %}
                        </span>
                      {%- endfor -%}
                    {% endif %}
                  {%- endfor -%}
                {%- else -%}
                  <span>-</span>
                {% endif %}
              {% endif %}
            </div>
            {%- for items in product.metafields.custom.compare_items.value -%}
              {%- liquid
                if items.id == product.id
                  continue
                endif
              -%}
              <div class="compare-field flex wrap align-center word-break p-20">
                {%- if items.has_only_default_variant -%}
                  <span>-</span>
                {%- else -%}
                  {%- liquid
                    assign size_option = false
                    for option in items.options_with_values
                      for sizeItem in option_name_size
                        if option.name == sizeItem
                          assign size_option = true
                        endif
                      endfor
                    endfor
                  -%}
                  {%- if size_option -%}
                    {%- for option in items.options_with_values -%}
                      {%- liquid
                        assign is_size_option = false
                        for sizeItem in option_name_size
                          if option.name == sizeItem
                            assign is_size_option = true
                          endif
                        endfor
                      -%}
                      {%- if is_size_option -%}
                        {%- for value in option.values -%}
                          <span class="size-content uppercase-first-letter">
                            {{- value -}}
                            {%- if forloop.last != true %}, {% endif %}
                          </span>
                        {%- endfor -%}
                      {% endif %}
                    {%- endfor -%}
                  {%- else -%}
                    <span>-</span>
                  {% endif %}
                {% endif %}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- if show_highlights -%}
          <div class="compare-row flex flex-nowrap compare-row-highlights">
            <div class="compare-field flex wrap align-center word-break p-20 field-heading sticky left-0 bg-white z-2 heading-style">
              {{ 'products.product.highlights' | t }}
            </div>
            <div class="compare-field flex wrap align-center word-break p-20 current-product bg-secondary">
              {%- if product.metafields.custom.ingredient_highlights -%}
                {{ product.metafields.custom.ingredient_highlights }}
              {%- else -%}
                <span>-</span>
              {% endif %}
            </div>
            {%- for items in product.metafields.custom.compare_items.value -%}
              {%- liquid
                if items.id == product.id
                  continue
                endif
              -%}
              <div class="compare-field flex wrap align-center word-break p-20">
                {%- if items.metafields.custom.ingredient_highlights -%}
                  {{ items.metafields.custom.ingredient_highlights }}
                {%- else -%}
                  <span>-</span>
                {% endif %}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- if show_availability -%}
          <div class="compare-row flex flex-nowrap compare-row-availability">
            <div class="compare-field flex wrap align-center word-break p-20 field-heading sticky left-0 bg-white z-2 heading-style">
              {{ 'products.product.availability' | t }}
            </div>
            <div
              class="compare-field flex wrap align-center word-break p-20 current-product bg-secondary gap-custom"
              style="--gap: 8;"
            >
              {%- if product.available -%}
                <svg width="12" height="10" fill="none">
                  <path fill="#008A00" d="M10.86.86 4 7.718l-2.86-2.86a.69.69 0 0 0-.484-.187.617.617 0 0 0-.453.187.661.661 0 0 0-.203.485c0 .177.068.328.203.453L3.531 9.14A.636.636 0 0 0 4 9.328a.636.636 0 0 0 .469-.187l7.328-7.344A.594.594 0 0 0 12 1.344a.661.661 0 0 0-.203-.485.636.636 0 0 0-.469-.187.67.67 0 0 0-.469.187Z"/>
                </svg>
                <span class="text-color" style="--color-text: #008A00;"> {{ 'products.product.instock' | t }}</span>
              {%- else -%}
                <svg width="10" height="10" fill="none">
                  <path fill="#907341" d="M.531 1.797a.594.594 0 0 1-.203-.453c0-.188.068-.35.203-.485A.636.636 0 0 1 1 .672c.188 0 .344.062.469.187L5 4.391 8.531.859A.636.636 0 0 1 9 .672c.188 0 .344.062.469.187a.661.661 0 0 1 .203.485.594.594 0 0 1-.203.453L5.938 5.328l3.53 3.531a.661.661 0 0 1 .204.485.594.594 0 0 1-.203.453A.611.611 0 0 1 9 10a.611.611 0 0 1-.469-.203L5 6.28 1.469 9.797A.611.611 0 0 1 1 10a.611.611 0 0 1-.469-.203.594.594 0 0 1-.203-.453c0-.188.068-.35.203-.485l3.531-3.53-3.53-3.532Z"/>
                </svg>
                <span class="text-color" style="--color-text: #907341;"> {{ 'products.product.unavailable' | t }}</span>
              {% endif %}
            </div>
            {%- for items in product.metafields.custom.compare_items.value -%}
              {%- liquid
                if items.id == product.id
                  continue
                endif
              -%}
              <div class="compare-field flex wrap align-center word-break p-20 gap-custom" style="--gap: 8;">
                {%- if items.available -%}
                  <svg width="12" height="10" fill="none">
                    <path fill="#008A00" d="M10.86.86 4 7.718l-2.86-2.86a.69.69 0 0 0-.484-.187.617.617 0 0 0-.453.187.661.661 0 0 0-.203.485c0 .177.068.328.203.453L3.531 9.14A.636.636 0 0 0 4 9.328a.636.636 0 0 0 .469-.187l7.328-7.344A.594.594 0 0 0 12 1.344a.661.661 0 0 0-.203-.485.636.636 0 0 0-.469-.187.67.67 0 0 0-.469.187Z"/>
                  </svg>
                  <span class="text-color" style="--color-text: #008A00;"> {{ 'products.product.instock' | t }}</span>
                {%- else -%}
                  <svg width="10" height="10" fill="none">
                    <path fill="#907341" d="M.531 1.797a.594.594 0 0 1-.203-.453c0-.188.068-.35.203-.485A.636.636 0 0 1 1 .672c.188 0 .344.062.469.187L5 4.391 8.531.859A.636.636 0 0 1 9 .672c.188 0 .344.062.469.187a.661.661 0 0 1 .203.485.594.594 0 0 1-.203.453L5.938 5.328l3.53 3.531a.661.661 0 0 1 .204.485.594.594 0 0 1-.203.453A.611.611 0 0 1 9 10a.611.611 0 0 1-.469-.203L5 6.28 1.469 9.797A.611.611 0 0 1 1 10a.611.611 0 0 1-.469-.203.594.594 0 0 1-.203-.453c0-.188.068-.35.203-.485l3.531-3.53-3.53-3.532Z"/>
                  </svg>
                  <span class="text-color" style="--color-text: #907341;">
                    {{ 'products.product.unavailable' | t -}}
                  </span>
                {% endif %}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.compare-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.compare-products.settings.header.label"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "t:sections.compare-products.settings.show_price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_ratings",
      "label": "t:sections.compare-products.settings.show_ratings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.compare-products.settings.show_vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color",
      "label": "t:sections.compare-products.settings.show_color",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_size",
      "label": "t:sections.compare-products.settings.show_size",
      "default": false
    },
    {
      "type": "text",
      "id": "size_trigger",
      "label": "t:sections.all.product_setting.variant_picker.settings.size_guide.settings.size_trigger.label",
      "info": "t:sections.all.product_setting.variant_picker.settings.size_guide.settings.size_trigger.info",
      "default": "Size,Größe,Misurare"
    },
    {
      "type": "checkbox",
      "id": "show_highlights",
      "label": "t:sections.compare-products.settings.show_highlights",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_availability",
      "label": "t:sections.compare-products.settings.show_availability",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.section_divider_heading"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.divider.show_divider",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.compare-products.name"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
