{% liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign scroll_animation = theme_st.scroll_animation
  assign contact_id = 'ContactForm-' | append: section.id
%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}
{% style %}
  .contact__fields select {
    padding: 5px 35px 5px 25px;
  }
{% endstyle %}
<div
  class="color-{{ section_st.color_scheme }} gradient section stretch_width flex column content-center w-full max-w-custom-all mx-auto{% if section_st.show_divider %} border-top{% endif %}"
  style="{{ style | strip | strip_newlines }}--max-width: 78rem;--bs-gutter-x: 3rem;"
>
  <div class="contact_form-inner w-full">
    <div class="contact_form-field w-full">
      {%- if section_st.heading != blank or section_st.description != blank -%}
        {% assign animate_delay = 25 %}
        <div
          class="section-header text-{{ section_st.text_alignment }}"
        >
          {%- if section_st.heading != blank -%}
            {% if scroll_animation %}
              <motion-effect
                data-animate="fade-up"
                data-animate-delay="{{ animate_delay }}"
                class="block"
              >
            {% endif %}
            <h2 class="section-heading">{{ section_st.heading }}</h2>
            {% if scroll_animation %}
              </motion-effect>
            {% endif %}
          {%- endif -%}
          {%- if section_st.description != blank -%}
            {% assign animate_delay = animate_delay | plus: 50 %}
            {% if scroll_animation %}
              <motion-effect
                data-animate="fade-up"
                data-animate-delay="{{ animate_delay }}"
                class="block"
              >
            {% endif %}
            <div
              class="short-des mt-16 prose max-w-custom mx-auto"
              style="--max-width: 60rem;"
            >
              {{ section_st.description }}
            </div>
            {% if scroll_animation %}
              </motion-effect>
            {% endif %}
          {%- endif -%}
        </div>
      {%- endif -%}
      {%- form 'contact', id: contact_id, class: 'isolate field' -%}
        {%- if form.posted_successfully? -%}
          <div
            class="form-status form-status form__message success mb-10 flex align-center gap-10 mb-10"
            tabindex="-1"
            autofocus
          >
            <div class="flex content-center">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" class="flex-auto w-20">
                <use href="#icon-success"></use>
              </svg>
            </div>
            {{ 'templates.contact.form.post_success' | t }}
          </div>
        {%- elsif form.errors -%}
          <div class="form__message error mb-10">
            <div
              class="flex align-center gap-10"
              role="alert"
              tabindex="-1"
              autofocus
            >
              <div class="flex content-center">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" class="flex-auto w-20">
                  <use href="#icon-error"></use>
                </svg>
              </div>
              {{ 'templates.contact.form.error_heading' | t }}
            </div>
            <ul class="list-unstyled w-custom" style="--width: calc(100% - 24px)">
              <li>
                <a
                  href="#ContactForm-email"
                  class="color-inherit"
                  aria-label=" {{ form.errors.translated_fields.email }}"
                >
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </a>
              </li>
            </ul>
          </div>
        {%- endif -%}
        <div
          class="contact__fields field grid-cols"
        >
          <div class="flex column flex-md-row gap-20 mb-20">
            <div
              class="field relative w-full flex wrap"
            >
              <input
                class="field__input w-full"
                autocomplete="name"
                type="text"
                id="ContactFormName-{{ section.id }}"
                name="contact[name]"
                required
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                placeholder="{{ section_st.name }} *"
              >
              <label class="field__label visually-hidden" for="ContactFormName-{{ section.id }}">
                {{ 'templates.contact.form.name' | t -}}
              </label>
            </div>
            <div class="field relative w-full flex wrap field--with-error">
              <input
                autocomplete="email"
                type="email"
                id="ContactFormEmail-{{ section.id }}"
                class="field__input w-full"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                autocorrect="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-email-error"
                {% endif %}
                placeholder="{{ section_st.email_placeholder }} *"
                required
                pattern=".+\.[a-zA-Z]{2,6}"
              >
              <label class="field__label visually-hidden" for="ContactFormEmail-{{ section.id }}">
                {{ 'templates.contact.form.email' | t }}
                <span class="required">*</span></label
              >
              {%- if form.errors contains 'email' -%}
                <div class="contact__field-error error flex align-center mt-10" id="ContactForm-email-error">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <div class="flex content-center">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" class="flex-auto w-20">
                      <use href="#icon-error"></use>
                    </svg>
                  </div>
                  <span class="form__message">
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </span>
                </div>
              {%- endif -%}
            </div>
          </div>
          <div class="field relative w-full flex wrap mb-20 field-contact-subject">
            <select
              id="ContactFormSubject-{{ section.id }}"
              class="field__input w-full contact-form-subject"
              name="contact[subject]"
              required
            >
              <option value="" disabled selected>{{ 'templates.contact.subject.name' | t }} *</option>
            </select>
            <select-contact text="{{ section_st.option_select }}"></select-contact>
            <label for="ContactFormSubject-{{ section.id }}" class="visually-hidden">
              {{ 'templates.contact.subject.name' | t }}
            </label>
          </div>
        </div>
        <div
          class="field relative w-full flex wrap"
        >
          <textarea
            rows="3"
            id="ContactFormMessage-{{ section.id }}"
            class="text-area field__input w-full"
            aria-required="true"
            aria-invalid="true"
            required
            name="contact[body]"
            placeholder="{{ section_st.message }} *"
            required
            style="--input-padding: 2.5rem;"
          >
        {{- form.body -}}
        </textarea>
          <label class="form__label field__label visually-hidden" for="ContactFormMessage-{{ section.id }}">
            {{ 'templates.contact.form.comment' | t }}
            <span class="required">*</span>
          </label>
        </div>
        <div
          class="contact__button mt-30 mt-1025-40 flex justify-center"
        >
          <button
            type="submit"
            class="btn pointer btn-primary w-1025-custom w-full max-w-100 relative"
            style="--width: 25rem;"
          >
            <span class="hidden-on-load transition-short">{{ section_st.button_label }}</span>
            {%- render 'loader' -%}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>
<script type="module">
  import { setupFormValidation } from '{{ "form-validation.js" | asset_url }}';

  document.addEventListener('DOMContentLoaded', () => {
    setupFormValidation({
      formSelector: 'form[id^="ContactForm-"]',
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.contact-form.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label",
      "default": "Contact form"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label",
      "default": "<p>Add a short description for this section.</p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.contact-form.name"
    },
    {
      "type": "text",
      "id": "name",
      "label": "t:sections.contact-form.settings.name",
      "default": "Your name"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "t:sections.contact-form.settings.email_placeholder",
      "default": "Enter your email..."
    },
    {
      "type": "text",
      "id": "message",
      "label": "t:sections.contact-form.settings.message",
      "default": "Your comment"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.content_setting.button_label.label",
      "default": "Send message"
    },
    {
      "type": "text",
      "id": "option_select",
      "label": "t:sections.contact-form.settings.option",
      "default": "Product, Order, Press, Other"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.section_divider_heading"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.divider.show_divider",
      "default": false
    }
  ]
}
{% endschema %}
