{%- liquid
  assign section_st = section.settings
  assign heading = section_st.heading
  assign subheading = section_st.subheading
  assign show_faqs_message = section_st.show_faqs_message
  assign show_image = section_st.show_image
  assign image_desktop_position = section_st.image_desktop_position
  assign description = section_st.description
  assign button_label = section_st.button_label
  assign button_link = section_st.button_link

  assign column_gap_slide = 0
  if section_st.column_gap == 'large'
    assign column_gap_slide = 30
  elsif section_st.column_gap == 'medium'
    assign column_gap_slide = 20
  elsif section_st.column_gap == 'small'
    assign column_gap_slide = 10
  endif

  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'fluid_container'
  endif
-%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}

{%- capture col_style -%}
  {% if column_gap_slide < 15 %}--gap: {{ column_gap_slide }}px;--gap: {{ column_gap_slide }}px;{% else %}--gap: 15px;--gap: {{  column_gap_slide }}px;--gap-desktop: {{  column_gap_slide }}px;{% endif %}
{%- endcapture -%}

{% style %}
  .faq-container .shopify-block:first-child details {
    padding-top: 0;
  }
{% endstyle %}
<section
  class="section section__faq color-{{ section_st.color_scheme }} gradient"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div
      class="section__faqs flex-md gap{% if image_desktop_position == 'right' %} flex-1025-row-reverse{% endif %}"
      style="{{ col_style | strip | strip_newlines }}"
    >
      {% if show_image %}
        <div class="image-faq__media-item w-full">
          <div
            class="image-faq__media banner__media rounded"
            {% if section_st.image != blank %}
              style="--aspect-ratio: {{ section_st.image.aspect_ratio }}";
            {% else %}
              style="--aspect-ratio: 3/4";
            {% endif %}
          >
            {%- liquid
              assign alt = 'general.image.image_alt_default' | t
              if section_st.image.alt
                assign alt = section_st.image.alt | escape
              endif
            -%}
            {%- if section_st.image != blank -%}
              {% render 'responsive-image',
                type: 'other',
                container: section_width,
                image: section_st.image,
                image_alt: alt
              %}
            {% else %}
              {% render 'placeholder-render', type: 'collection-6', class: 'img-placeholder h-full w-full rounded' %}
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div
        class="section__faqs-content w-full{% if show_faqs_message %} flex-md gap{% endif %}{% if show_image %} column{% endif %}"
        style="--gap: clamp(3rem, 5vw, 10rem);--gap: clamp(3rem, 5vw, 10rem);--col-width: 30%;"
      >
        {% if show_faqs_message %}
          <div class="faqs__info w-full text-{{ section_st.text_alignment }}">
            {%- if subheading != blank -%}
              <div class="faqs__subheading h7 heading-letter-spacing subheading_weight mb-10">{{ subheading }}</div>
            {%- endif -%}
            {%- if heading != blank -%}
              <div class="faqs__heading h2 mb-15">{{ heading }}</div>
            {%- endif -%}
            {%- if description != blank -%}
              <div class="faqs__description">{{ description }}</div>
            {%- endif -%}
            {%- if button_label != blank -%}
              <a
                {% if button_link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ button_link | default: "#" }}"
                {% endif %}
                aria-label="{{ button_label }}"
                class="btn btn-primary inline-block mt-40 min-w-custom text-center"
                style="--min-width: 20rem;"
              >
                {{ button_label }}
              </a>
            {%- endif -%}
          </div>
        {% endif %}
        <div class="faq-container w-full">
          {% content_for 'blocks' %}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "t:sections.faq.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "_item-faq"
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.all.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "checkbox",
      "id": "open_all_question",
      "label": "t:sections.faq.settings.open_all_question",
      "default": false
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.image.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "t:sections.faq.settings.show_image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "select",
      "id": "image_desktop_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.image.desktop_position.left"
        },
        {
          "value": "right",
          "label": "t:sections.all.image.desktop_position.right"
        }
      ],
      "default": "left",
      "label": "t:sections.all.image.desktop_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.faq.heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_faqs_message",
      "label": "t:sections.faq.settings.show_faqs_message",
      "default": true
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label",
      "default": "Have a Question?"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label",
      "default": "Help Center!"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label",
      "default": "<p>Add a short description for this block.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.content_setting.button_label.label",
      "info": "t:sections.all.content_setting.button_label.info",
      "default": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.content_setting.link.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ],
  "presets": [
    {
      "name": "t:sections.faq.name",
      "blocks": [
        {
          "type": "_item-faq"
        },
        {
          "type": "_item-faq"
        },
        {
          "type": "_item-faq"
        }
      ]
    }
  ]
}
{% endschema %}
