{%- liquid
  assign section_st = section.settings
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'fluid_container'
  endif

  assign heading_size = section_st.heading_size
  assign header_size = ''
  if heading_size == 'small'
    assign header_size = 'h3'
  elsif heading_size == 'large'
    assign header_size = 'h1'
  endif

  assign image = section_st.image
  assign image_mobile = section_st.image_mobile
  assign image_ratio = section_st.image_ratio

  assign ratio = '3/4'
  assign ratio_mb = '3/4'
  if image_ratio != 'adapt'
    case image_ratio
      when 'square'
        assign ratio = '1/1'
        assign ratio_mb = '1/1'
      when 'landscape'
        assign ratio = '4/3'
        assign ratio_mb = '4/3'
      when 'portrait'
        assign ratio = '3/4'
        assign ratio_mb = '3/4'
    endcase
  else
    if image != blank or image_mobile != blank
      assign ratio = image.aspect_ratio
      assign ratio_mb = image_mobile.aspect_ratio | default: ratio
    endif
  endif
  assign image_alt = image.alt
  if image_alt == blank
    assign image_alt = 'general.image.image_alt_default' | t
  endif
-%}

{%- capture style -%}
    --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
    {% if heading_size == 'large' %}--font-size: 40;{% endif %}
{%- endcapture -%}

{% style %}
  .block__information_text:is(:nth-of-type(1), :nth-of-type(5)) {
    margin-inline-end: 1.7rem;
  }
  .block__information_text:is(:nth-of-type(3), :nth-of-type(7)) {
    margin-inline-end: 3.7rem;
  }
  .block__information_text:is(:nth-of-type(2), :nth-of-type(6)) {
    margin-inline-start: 1.7rem;
  }
  .block__information_text:is(:nth-of-type(4), :nth-of-type(8)) {
    margin-inline-start: 3.7rem;
  }
  .balloon-icon {
    bottom: -4px;
    inset-inline-end: -9px;
  }
  .information-text__content {
    --gap-desktop: var(--max-width, 40rem);
    --width: (calc(100% - 40rem) / 2);
    --row-gap: 5.7rem;
  }
{% endstyle %}
<div
  class="section section color-{{ section_st.color_scheme }} gradient"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    {%- if section_st.heading != blank or section_st.description != blank -%}
      <div class="section-header section-header__in-section text-{{ section_st.text_alignment }}{% if section.blocks.size > 0 %} mb-30 mb-md-40{% endif %}">
        {%- if section_st.heading != blank -%}
          <h2 class="block section-heading {{ header_size }}">
            {{ section_st.heading }}
          </h2>
        {%- endif -%}
        {%- if section_st.description != blank -%}
          <div class="section-description mt-15">
            {{ section_st.description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="section-content relative">
      <div class="media-product relative w-full max-w-custom mx-auto" style="--max-width: 40rem;">
        <div
          class="media-product__main"
          style="--aspect-ratio: {{ ratio }};{% if image_mobile != blank %}--aspect-ratio-mb: {{ ratio_mb }};{% endif %}"
        >
          {% if image != blank or image_mobile != blank %}
            {% render 'responsive-image',
              type: 'banner',
              container: section_st.section_width,
              image: image,
              image_mobile: image_mobile,
              image_alt: image_alt
            %}
          {% else %}
            {%- render 'placeholder-render', type: 'lifestyle-2' -%}
          {% endif %}
        </div>
        <media-effect>
          {% assign image_effect_blocks = section.blocks | where: 'type', 'image_effect' %}
          {% for block in image_effect_blocks %}
            <div
              class="media-effect__item absolute w-custom max-w-100 rounded"
              style="--width: 10rem;left: {{ block.settings.position_left }}%;top: {{ block.settings.position_top }}%;"
            >
              {%- liquid
                assign image = block.settings.image
                assign ratio = '3/4'
                if image_ratio != 'adapt'
                  case image_ratio
                    when 'square'
                      assign ratio = '1/1'
                    when 'landscape'
                      assign ratio = '4/3'
                    when 'portrait'
                      assign ratio = '3/4'
                  endcase
                else
                  if image != blank
                    assign ratio = image.aspect_ratio
                  endif
                endif
                assign image_alt = image.alt
                if image_alt == blank
                  assign image_alt = 'general.image.image_alt_default' | t
                endif
              -%}
              {% if image != blank %}
                {% render 'responsive-image',
                  type: 'banner',
                  container: section_st.section_width,
                  image: image,
                  image_alt: image_alt,
                  class: 'rounded'
                %}
              {% else %}
                {%- render 'placeholder-render', type: 'product' -%}
              {% endif %}
            </div>
          {% endfor %}
        </media-effect>
      </div>
      <content-effect class="information-text__wrapper block absolute top-0 w-full h-full z-1 pt-20">
        <div class="information-text__content flex wrap align-start justify-center h-full gap">
          {% assign content_effect_blocks = section.blocks | where: 'type', 'information' %}
          {% for block in content_effect_blocks %}
            {% assign block_st = block.settings %}
            <div
              class="block__information_text flex justify-center w-custom relative"
              {{ block.shopify_attributes }}
            >
              <div
                class="block__information_text-inner transition-short relative"
                style="--gap: 8;"
              >
                <div class="block_infor-text heading_weight bg-secondary flex gap-custom{% if block_st.uppercase %} uppercase{% endif %} fs-{{ block_st.highlight_text_size }} text-color bg-custom py-15 px-25 btn-rounded">
                  {% if block_st.highlight_text_icon != 'none' %}
                    {% render 'icon_svg_list', icon: block_st.highlight_text_icon %}
                  {% endif %}
                  <span>{{ block_st.highlight_text | escape }}</span>
                </div>
                <svg width="25" height="25" fill="none" class="absolute balloon-icon">
                  <ellipse cx="21" cy="20.999" fill="var(--color-background-2)" rx="4" ry="3.999"/><ellipse cx="9" cy="8.998" fill="var(--color-background-2)" rx="9" ry="8.998"/>
                </svg>
              </div>
            </div>
          {% endfor %}
        </div>
      </content-effect>
      {% if section_st.button_label != blank %}
        <div class="button-block flex justify-content-center">
          <a
            {% if section_st.button_link == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ section_st.button_link | default: "#" }}"
            {% endif %}
            aria-label="{{ section_st.button_label }}"
            class="text-center mt-30 btn btn-{{ section_st.button_type }}{% if section_st.button_type == "link" %} align-self-center{% else %} w-custom max-w-100{% endif %}"
            {% if section_st.button_type != 'link' %}
              style="--width: 20rem;"
            {% endif %}
          >
            {{ section_st.button_label }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<script src="{{ 'section-featured-product-banner.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "t:sections.featured_product_banner.name",
  "tag": "section",
  "class": "section section-featured-product-banner",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Heading",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Description</p>",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.all.image.mobile_image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.adapt"
        },
        {
          "value": "square",
          "label": "t:sections.all.image.aspect_ratio.options__1"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image.aspect_ratio.options__2"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image.aspect_ratio.options__3"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.image.aspect_ratio.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.all.content_setting.first_button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.content_setting.first_button_label.link"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "t:sections.all.content_setting.button_type.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.content_setting.button_type.primary.label"
        },
        {
          "value": "outline",
          "label": "t:sections.all.content_setting.button_type.outline.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.content_setting.button_type.link.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ],
  "blocks": [
    {
      "type": "information",
      "limit": 8,
      "name": "t:sections.featured_product_banner.blocks.name",
      "settings": [
        {
          "type": "text",
          "id": "highlight_text",
          "default": "Icon with text",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "select",
          "id": "highlight_text_size",
          "options": [
            {
              "value": "small-1",
              "label": "t:sections.all.content_header.heading_size.options__1.label"
            },
            {
              "value": "",
              "label": "t:sections.all.content_header.heading_size.options__2.label"
            },
            {
              "value": "big-2",
              "label": "t:sections.all.content_header.heading_size.options__3.label"
            }
          ],
          "default": "",
          "label": "t:sections.all.content_header.heading_size.size"
        },
        {
          "type": "select",
          "id": "highlight_text_icon",
          "label": "t:sections.all.svg.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon.none.label"
            },
            {
              "value": "coil",
              "label": "t:sections.all.icon.coil.label"
            },
            {
              "value": "coptic_cross",
              "label": "t:sections.all.icon.coptic_cross.label"
            },
            {
              "value": "hydration",
              "label": "t:sections.all.icon.hydration.label"
            },
            {
              "value": "brightening",
              "label": "t:sections.all.icon.brightening.label"
            },
            {
              "value": "balloon",
              "label": "t:sections.all.icon.balloon.label"
            },
            {
              "value": "droplet",
              "label": "t:sections.all.icon.droplet.label"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "uppercase",
          "default": false,
          "label": "t:settings_schema.typography.settings.heading.text_transform.uppercase"
        }
      ]
    },
    {
      "type": "image_effect",
      "name": "t:sections.featured_product_banner.blocks.image_effect.label",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "range",
          "id": "position_top",
          "label": "t:sections.bundle-products.blocks.settings.position_top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "range",
          "id": "position_left",
          "label": "t:sections.bundle-products.blocks.settings.position_left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_product_banner.name",
      "blocks": [
        {
          "type": "image_effect",
          "settings": {
            "position_top": 1,
            "position_left": 15
          }
        },
        {
          "type": "image_effect",
          "settings": {
            "position_top": 50,
            "position_left": 5
          }
        },
        {
          "type": "image_effect",
          "settings": {
            "position_top": 0,
            "position_left": 5
          }
        },
        {
          "type": "information"
        },
        {
          "type": "information"
        },
        {
          "type": "information"
        },
        {
          "type": "information"
        },
        {
          "type": "information"
        },
        {
          "type": "information"
        }
      ]
    }
  ]
}
{% endschema %}
