{%- liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign color_scheme = section_st.color_scheme
  assign menu = section_st.menu
  assign transparent = section_st.transparent
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'fluid_container'
  endif
  assign transparent_class = ''
  if request.page_type == 'index' and transparent
    assign transparent_class = ' absolute inset-x-0 transparent z-15'
  endif
-%}
<script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }};--section-pb: {{ section_st.padding_bottom }};--gap: 1rem; --gap-desktop: 2.5rem;{{- -}}
  {% if transparent %}--transparent-color: {{ section_st.header_text_icon_transparent }};{% endif %}{{- -}}
  --header-grid-template: 'menu logo icon' / minmax(4rem, 1fr) minmax(auto, 45%)  minmax(8rem,1fr);{{- -}}
{%- endcapture -%}

{% style %}
  {% if section_st.logo_position == 'left' %}
    @media only screen and (min-width: 1025px) {
      .logo-left{
        --header-grid-template: 'logo menu icon' / minmax(0, 1fr) fit-content(60%) minmax(0,1fr);
      }
      .logo-center{
        --header-grid-template: 'menu logo icon' / minmax(0, 1fr) minmax(50px, var(--logo-width))  minmax(0,1fr);
      }

    }
  {% endif %}
  {% if request.page_type == 'index' and transparent %}
    .transparent{
      --color-background: transparent;
      --color-text: {{ section_st.header_text_icon_transparent }};
    }
    @media only screen and (min-width: 1025px) {
      .header:not(.shopify-section-header-sticky) .transparent:hover {
        --color-background: {{ color_scheme.settings.background }}!important;
        --color-text: {{ color_scheme.settings.text_color }}!important;
        --header-background-opacity: 1;
        --header-logo-opacity: 1;
        --animation-nav-delay: 0.2s;
       }
    }
  {% endif %}
    {% if section_st.enable_rounded_style %}
      announcement-bar:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      top: 100%;
      height: calc(100% + 30px);
      background: inherit;
      z-index: -2;
    }
   .section-announcement-bar + .site-header .section-rounded{
      border-radius: 3rem 3rem 0 0;
    }
  {% endif %}
{% endstyle %}

<header
  data-sticky-type="{{ section_st.sticky_header_type }}"
  data-sticky-mobile="{{ section_st.sticky_header_mobile }}"
  data-menu-trigger="{{ section_st.menu_trigger }}"
  class="header-wrapper p-min{{ transparent_class }} color-{{ color_scheme }}{% if section_st.enable_rounded_style %} section-rounded{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div class="header__inner grid gap logo-{{ section_st.logo_position }} align-center">
      <toggle-menu class="mobile-menu-toggle hidden-1025">
        <button
          class="btn-reset btn-toggle text-start pointer"
          aria-controls="Menu-Drawer"
          aria-label="{{ 'accessibility.toggle_menu' | t }}"
        >
          <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
            <path d="M1.00703 7.99665C0.725995 7.99665 0.483997 7.90285 0.28103 7.71524C0.0936768 7.512 0 7.26968 0 6.98828C0 6.7225 0.0936768 6.49581 0.28103 6.30821C0.483997 6.10497 0.725995 6.00335 1.00703 6.00335H18.993C19.274 6.00335 19.5082 6.10497 19.6956 6.30821C19.8985 6.49581 20 6.7225 20 6.98828C20 7.26968 19.8985 7.512 19.6956 7.71524C19.5082 7.90285 19.274 7.99665 18.993 7.99665H1.00703ZM1.00703 1.9933C0.725995 1.9933 0.483997 1.8995 0.28103 1.71189C0.0936768 1.50865 0 1.26633 0 0.984925C0 0.719151 0.0936768 0.492462 0.28103 0.304858C0.483997 0.101619 0.725995 0 1.00703 0H18.993C19.274 0 19.5082 0.101619 19.6956 0.304858C19.8985 0.492462 20 0.719151 20 0.984925C20 1.26633 19.8985 1.50865 19.6956 1.71189C19.5082 1.8995 19.274 1.9933 18.993 1.9933H1.00703ZM1.00703 14C0.725995 14 0.483997 13.9062 0.28103 13.7186C0.0936768 13.5154 0 13.273 0 12.9916C0 12.7259 0.0936768 12.4992 0.28103 12.3116C0.483997 12.1083 0.725995 12.0067 1.00703 12.0067H18.993C19.274 12.0067 19.5082 12.1083 19.6956 12.3116C19.8985 12.4992 20 12.7259 20 12.9916C20 13.273 19.8985 13.5154 19.6956 13.7186C19.5082 13.9062 19.274 14 18.993 14H1.00703Z" fill="{% if transparent  %}{{ section_st.header_text_icon_transparent }}{% else %}currentColor{% endif %}"></path>
          </svg>
        </button>
      </toggle-menu>
      {%- render 'logo', section_st: section_st -%}
      {%- if menu != blank -%}
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="hidden"
          hidden
        >
          <symbol id="icon-arrow-down">
            <path d="M0.195652 1.58361C0.0652174 1.46321 0 1.31773 0 1.14716C0 0.966555 0.0652174 0.811037 0.195652 0.680602C0.316054 0.560201 0.466555 0.5 0.647157 0.5C0.827759 0.5 0.978261 0.560201 1.09866 0.680602L4.5 4.08194L7.90134 0.680602C8.02174 0.560201 8.17224 0.5 8.35284 0.5C8.53344 0.5 8.68395 0.560201 8.80435 0.680602C8.93478 0.811037 9 0.966555 9 1.14716C9 1.31773 8.93478 1.46321 8.80435 1.58361L4.9515 5.43646C4.8311 5.56689 4.6806 5.63211 4.5 5.63211C4.3194 5.63211 4.1689 5.56689 4.04849 5.43646L0.195652 1.58361Z" fill="currentColor"/>
          </symbol>
          <symbol id="icon-back" viewBox="0 0 6 11" fill="none">
            <path d="M4.7193 10.7605C4.85965 10.9202 5.03509 11 5.24561 11C5.45614 11 5.63158 10.9202 5.77193 10.7605C5.92398 10.6131 6 10.435 6 10.2261C6 10.005 5.92398 9.81463 5.77193 9.65494L1.80702 5.49079L5.77193 1.32663C5.92398 1.17923 6 1.00112 6 0.792295C6 0.571189 5.92398 0.380793 5.77193 0.221106C5.63158 0.0737018 5.45614 0 5.24561 0C5.03509 0 4.85965 0.0737018 4.7193 0.221106L0.22807 4.93802C0.0760236 5.09771 0 5.28811 0 5.50921C0 5.71803 0.0760236 5.89615 0.22807 6.04355L4.7193 10.7605Z" fill="currentColor"/>
          </symbol>
          <symbol id="icon-next" viewBox="0 0 6 11" fill="none">
            <path fill="currentColor" d="M1.278 10.721a.688.688 0 0 1-.528.229.688.688 0 0 1-.527-.229.669.669 0 0 1-.229-.51c0-.21.077-.392.229-.544l3.973-3.973L.223 1.721a.669.669 0 0 1-.229-.51c0-.21.077-.392.229-.544C.363.527.539.456.75.456c.211 0 .387.07.528.21l4.5 4.5a.744.744 0 0 1 .228.546c0 .199-.076.369-.228.51l-4.5 4.5Z"/>
          </symbol>
        </svg>
        <nav class="header__menu hidden block-1025">
          <ul class="list-menu list-unstyled flex wrap">
            {%- for link in menu.links -%}
              {%- if section.blocks.size > 0 -%}
                <li>
                  {%- liquid
                    assign last_block = null
                    assign mega_width = 100
                    for block in section.blocks
                      assign block_st = block.settings
                      if block_st.text == link.title
                        assign last_block = block
                      endif
                    endfor
                  -%}
                  {%- if last_block != null -%}
                    {%- assign has_content = false -%}
                    {%- case last_block.type -%}
                      {%- when 'menu_mega' -%}
                        {%- for i in (1..5) -%}
                          {%- capture promotion -%}promotion_image_{{ i }}{%- endcapture -%}
                          {%- liquid
                            if last_block.settings[promotion] != blank
                              assign has_content = true
                            endif
                          -%}
                        {%- endfor -%}
                      {%- when 'menu_product' -%}
                        {%- liquid
                          if last_block.settings.product_list != blank
                            assign has_content = true
                          endif
                        -%}
                      {%- when 'menu_collection' -%}
                        {%- liquid
                          if last_block.settings.collection != blank
                            assign has_content = true
                          endif
                        -%}
                    {%- endcase -%}
                    {%- if link.links.size > 0 or has_content -%}
                      <details is="details-mega-menu" class="details-header-menu animate-motion">
                        <summary
                          class="menu__item level-1{% if settings.menu_uppercase %} uppercase{% endif %} fs-big-2 menu_weight flex align-center gap-5 space-between"
                          data-href="{{ link.url }}"
                          aria-label="{{ link.title }}"
                        >
                          {{ link.title }}
                          <svg
                            class="icon icon-down icon-rotate transition-short"
                            width="9"
                            height="6"
                            viewBox="0 0 9 6"
                          >
                            <use href="#icon-arrow-down" />
                          </svg>
                        </summary>
                        {%- liquid
                          if has_content and link.links.size > 0
                            assign mega_width = last_block.settings.mega_width
                          endif
                        -%}
                        <div
                          class="mega-menu py-40 submenu transition invisible submenu-desktop custom-scrollbar overflow-auto {{ section_st.dropdowns_animation }} border-top overflow-y-auto absolute inset-x-0 z-2 bg-white shadow"
                          style="--col-mega-width: {{ mega_width }}%; --gap: 20px; --delay: 0.05s;"
                        >
                          <div class="container flex wrap gap">
                            {%- if link.links.size > 0 -%}
                              <div
                                class="menu-list flex-1"
                                style="--col-desktop: {{ last_block.settings.menu_column }}"
                              >
                                {%- render 'horizontal-menu', section_st: section_st, menu_mega: true, link: link -%}
                              </div>
                            {%- endif -%}
                            {%- if has_content -%}
                              {%- case last_block.type -%}
                                {%- when 'menu_mega' -%}
                                  <div
                                    class="col-mega mega-banner flex wrap flex-cols"
                                    style="{% if last_block.settings.banner_column > 1 %}--col-number: 2{% else %}--col-number: 1;{% endif %};--col-desktop: {{ last_block.settings.banner_column }};"
                                  >
                                    {%- for i in (1..5) -%}
                                      {%- capture promotion -%}promotion_image_{{ i }}{%- endcapture -%}
                                      {%- capture promotion_subheading -%}promotion_subheading_{{ i }}{%- endcapture -%}
                                      {%- capture promotion_heading -%}promotion_heading_{{ i }}{%- endcapture -%}
                                      {%- capture promotion_description -%}promotion_description_{{ i }}{%- endcapture -%}
                                      {%- capture promotion_button_label -%}promotion_button_label_{{ i }}{%- endcapture -%}
                                      {%- capture promotion_button_link -%}promotion_button_link_{{ i }}{%- endcapture -%}
                                      {%- if last_block.settings[promotion] != blank -%}
                                        {% case i %}
                                          {% when 1 %}
                                            {% assign color_scheme_banner = last_block.settings.color_scheme_banner_1 %}
                                          {% when 2 %}
                                            {% assign color_scheme_banner = last_block.settings.color_scheme_banner_2 %}
                                          {% when 3 %}
                                            {% assign color_scheme_banner = last_block.settings.color_scheme_banner_3 %}
                                          {% when 4 %}
                                            {% assign color_scheme_banner = last_block.settings.color_scheme_banner_4 %}
                                          {% when 5 %}
                                            {% assign color_scheme_banner = last_block.settings.color_scheme_banner_5 %}
                                          {% else %}
                                            {% assign color_scheme_banner = 'default' %}
                                        {% endcase %}
                                        {%- liquid
                                          assign image = last_block.settings[promotion]
                                          assign subheading = last_block.settings[promotion_subheading]
                                          assign heading = last_block.settings[promotion_heading]
                                          assign description = last_block.settings[promotion_description]
                                          assign button_label = last_block.settings[promotion_button_label]
                                          assign banner_link = last_block.settings[promotion_button_link]
                                          assign banner_default = 'accessibility.promotion_banner'
                                          assign image_alt = image.alt | default: banner_default | escape
                                        -%}
                                        <div class="banner__item slideIn-animate rounded">
                                          <a
                                            {% if banner_link != blank %}
                                              href="{{ banner_link }}"
                                            {% else %}
                                              role="link" aria-disabled="true"
                                            {% endif %}
                                            arial-label="{{ image_alt }}"
                                            class="banner__inner hover-effect{% if last_block.settings.content_position != 'bellow' %} flex relative align-{{ last_block.settings.content_position }}{% endif %}"
                                            {% if last_block.settings.content_position != 'bellow' %}
                                              style="--aspect-ratio: {{ image.aspect_ratio }};"
                                            {% endif %}
                                          >
                                            <div
                                              class="banner__item-media block rounded hover-effect{% if last_block.settings.content_position != 'bellow' %} absolute inset-0{% endif %}"
                                              style="--aspect-ratio: {{ image.aspect_ratio }};--point:{{ image.presentation.focal_point }};"
                                            >
                                              {% render 'responsive-image',
                                                image: image,
                                                type: 'other',
                                                alt: image_alt
                                              %}
                                            </div>
                                            {% if heading != blank
                                              or subheading != blank
                                              or description != blank
                                              or button_label != blank
                                            %}
                                              <div class="banner__item-info bg-transparent color-{{ color_scheme_banner }} w-full{% if last_block.settings.content_position != 'bellow' %} py-40 px-30{% else %} mt-20{% endif %} text-{{ last_block.settings.content_alignment }} relative z-1">
                                                {% if subheading != blank %}
                                                  <div class="subheading mb-3">
                                                    {{ subheading | escape }}
                                                  </div>
                                                {% endif %}
                                                {% if heading != blank %}
                                                  <h2 class="heading{% if last_block.settings.banner_column > 3 %} h5{% else %} h3{% endif %}">
                                                    {{ heading }}
                                                  </h2>
                                                {% endif %}
                                                {% if description != blank %}
                                                  <div class="description mt-5">
                                                    {{ description }}
                                                  </div>
                                                {% endif %}
                                                {% if button_label != blank %}
                                                  <button
                                                    class="btn btn-primary mt-20 text-center w-custom"
                                                    style="--custom-width: 70%;--btn-padding-x: 2rem;"
                                                    aria-label="{{ button_label }}"
                                                  >
                                                    <span class="btn-text relative z-1">{{ button_label }}</span>
                                                  </button>
                                                {% endif %}
                                              </div>
                                            {%- endif -%}
                                          </a>
                                        </div>
                                      {%- endif -%}
                                    {%- endfor -%}
                                  </div>
                                {%- when 'menu_product' -%}
                                  <link
                                    rel="stylesheet"
                                    href="{{ 'product.css' | asset_url }}"
                                    media="print"
                                    onload="this.media='all'"
                                  >
                                  <div class="col-mega mega-product">
                                    {%- liquid
                                      assign heading = last_block.settings.heading
                                      assign product_column = last_block.settings.product_column
                                    -%}
                                    {%- if heading != blank -%}
                                      <h2 class="section-heading h4 mb-20 slideIn-animate">
                                        {{ heading }}
                                      </h2>
                                    {%- endif -%}
                                    <slide-section
                                      class="swiper hover-action slideIn-animate"
                                      data-section-id="{{ section.id }}"
                                      data-autoplay="false"
                                      data-effect="slide"
                                      data-loop="false"
                                      data-speed="500"
                                      data-spacing="20"
                                      data-mobile="1"
                                      data-desktop="{{ product_column }}"
                                      data-tablet="{{ product_column }}"
                                    >
                                      {%- render 'swiper-navigation', show_on_hover: true -%}
                                      <div class="swiper-wrapper">
                                        {%- liquid
                                          for product in last_block.settings.product_list
                                            render 'card-product', card_product: product, section_id: section.id, class: ' swiper-slide', show_video: false, container: section_width, column: product_column, column_mobile: 1, padding: 20, indexFor: forloop.index
                                          endfor
                                        -%}
                                      </div>
                                    </slide-section>
                                  </div>
                                {%- when 'menu_collection' -%}
                                  <div class="col-mega mega-collection">
                                    {%- liquid
                                      assign heading = last_block.settings.heading
                                      assign collection_column = last_block.settings.collection_column
                                    -%}
                                    {%- if heading != blank -%}
                                      <h2 class="section-heading h4 mb-20 slideIn-animate">
                                        {{ heading }}
                                      </h2>
                                    {%- endif -%}
                                    <slide-section
                                      class="swiper hover-action slideIn-animate"
                                      data-section-id="{{ section.id }}"
                                      data-autoplay="false"
                                      data-effect="slide"
                                      data-loop="false"
                                      data-speed="500"
                                      data-spacing="20"
                                      data-mobile="1"
                                      data-desktop="{{ collection_column }}"
                                      data-tablet="{{ collection_column }}"
                                    >
                                      {%- render 'swiper-navigation', show_on_hover: true -%}
                                      <div class="swiper-wrapper">
                                        {% for collection in last_block.settings.collection %}
                                          <div class="collection-item swiper-slide">
                                            {% render 'collection-item',
                                              card_collection: collection,
                                              section: section,
                                              container: section_width,
                                              column: collection_column,
                                              column_mobile: 1,
                                              padding: 20
                                            %}
                                          </div>
                                        {% endfor %}
                                      </div>
                                    </slide-section>
                                  </div>
                              {%- endcase -%}
                            {%- endif -%}
                          </div>
                        </div>
                      </details>
                    {%- else -%}
                      <a
                        class="menu__item level-1{% if settings.menu_uppercase %} uppercase{% endif %} fs-big-2 menu_weight no-underline"
                        href="{{ link.url }}"
                        aria-label="{{ link.title }}"
                      >
                        {{- link.title -}}
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    {%- if link.links.size > 0 -%}
                      <details is="details-mega-menu" class="details-header-menu animate-motion">
                        <summary
                          class="menu__item level-1{% if settings.menu_uppercase %} uppercase{% endif %} fs-big-2 menu_weight flex align-center gap-5 space-between"
                          data-href="{{ link.url }}"
                          aria-label="{{ link.title }}"
                        >
                          {{ link.title }}
                          <svg
                            class="icon icon-down icon-rotate transition-short"
                            width="9"
                            height="6"
                            viewBox="0 0 9 6"
                          >
                            <use href="#icon-arrow-down" />
                          </svg>
                        </summary>
                        {%- render 'horizontal-menu',
                          section_st: section_st,
                          link: link,
                          type: 'classic',
                          level1_index: forloop.index
                        -%}
                      </details>
                    {%- else -%}
                      <a
                        class="menu__item level-1{% if settings.menu_uppercase %} uppercase{% endif %} fs-big-2 menu_weight no-underline"
                        href="{{ link.url }}"
                        aria-label="{{ link.title }}"
                      >
                        {{- link.title -}}
                      </a>
                    {%- endif -%}
                  {%- endif -%}
                </li>
              {%- else -%}
                <li>
                  {%- if link.links.size > 0 -%}
                    <details is="details-mega-menu" class="details-header-menu animate-motion">
                      <summary
                        class="menu__item level-1{% if settings.menu_uppercase %} uppercase{% endif %} fs-big-2 menu_weight flex align-center gap-5 space-between"
                        data-href="{{ link.url }}"
                        aria-label="{{ link.title }}"
                      >
                        {{ link.title }}
                        <svg
                          class="icon icon-down icon-rotate transition-short"
                          width="9"
                          height="6"
                          viewBox="0 0 9 6"
                        >
                          <use href="#icon-arrow-down" />
                        </svg>
                      </summary>
                      {%- render 'horizontal-menu',
                        section_st: section_st,
                        link: link,
                        type: 'classic',
                        level1_index: forloop.index
                      -%}
                    </details>
                  {%- else -%}
                    <a
                      class="menu__item level-1{% if settings.menu_uppercase %} uppercase{% endif %} fs-big-2 menu_weight no-underline"
                      href="{{ link.url }}"
                      aria-label="{{ link.title }}"
                    >
                      {{- link.title -}}
                    </a>
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
      {%- if section_st.show_account
        or section_st.show_search
        or section_st.show_cart
        or section_st.show_language
        or section_st.show_currency
      -%}
        <div class="header__action flex wrap flex-end align-center gap-20">
          {% if section_st.show_language or section_st.show_currency %}
            <div class="desktop-localization-wrapper hidden flex-1025 align-center gap-15">
              {% if section_st.show_currency %}
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              {% endif %}
              {% if section_st.show_language %}
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              {% endif %}
            </div>
          {% endif %}
          {%- if section_st.show_search or section_st.show_account or section_st.show_cart -%}
            <div class="flex gap" style="--gap: 7px;">
              {%- if section_st.show_search -%}
                {% # theme-check-disable NestedSnippet %}
                <a
                  href="{{ routes.search_url }}"
                  class="header__icon wh-40 flex content-center"
                  id="search-icon-bubble"
                  data-custom-class="{{ section_width }}"
                >
                  <span class="tooltip-content visually-hidden rounded-5 fs-small tooltip-bottom">
                    {{ 'general.search.search' | t }}
                  </span>
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M10.5465 19.1672C15.3076 19.1672 19.1672 15.3076 19.1672 10.5465C19.1672 5.7854 15.3076 1.92578 10.5465 1.92578C5.7854 1.92578 1.92578 5.7854 1.92578 10.5465C1.92578 15.3076 5.7854 19.1672 10.5465 19.1672Z" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.0746 20.0742L18.2598 18.2593" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span class="visually-hidden">{{ 'general.search.search' | t }}</span>
                </a>
                {% # theme-check-enable NestedSnippet %}
              {%- endif -%}
              {%- if section_st.show_account -%}
                <a
                  href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                  class="header__icon wh-40 hidden flex-1025 content-center"
                  aria-label="{{ 'customer.account_fallback' | t }}"
                >
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M20.7234 20.0751C19.6588 18.2845 18.2153 16.8151 16.5209 15.7975C14.8265 14.7798 12.9335 14.2452 11.0099 14.2412C9.08637 14.2372 7.19164 14.7639 5.49382 15.7744C3.79601 16.785 2.29912 18.2968 1.22855 20.083" stroke="currentColor" stroke-width="1.8" stroke-linecap="round"/>
                    <circle cx="10.9992" cy="6.24623" r="4.32143" stroke="currentColor" stroke-width="1.8"/>
                  </svg>
                </a>
              {%- endif -%}
              {%- if section_st.show_cart -%}
                <a
                  href="{{ routes.cart_url }}"
                  class="header__icon wh-40 flex content-center relative"
                  id="cart-icon-bubble"
                >
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <use href="#icon-cart" />
                  </svg>
                  <span class="tooltip-content visually-hidden rounded-5 fs-small tooltip-bottom">
                    {{ 'templates.cart.minicart' | t }}
                  </span>
                  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                  {%- if cart != empty -%}
                    <div class="cart-count rounded-50 inline-flex content-center absolute">
                      {%- if cart.item_count < 100 -%}
                        <span class="count">{{ cart.item_count }}</span>
                      {%- else -%}
                        <span aria-hidden="true">~</span>
                      {%- endif -%}
                      <span class="visually-hidden">{{ 'templates.cart.cart_count' | t: count: cart.item_count }}</span>
                    </div>
                  {%- else -%}
                    <div class="cart-count hidden">
                      <span aria-hidden="true">0</span>
                    </div>
                  {%- endif -%}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
  <template class="menu-drawer">
    <menu-drawer
      id="Menu-Drawer"
      class="modal pointer-none block active-modal-js"
      style="--modal-width: 100%;"
    >
      <modal-overlay class="modal-overlay pointer invisible transition"></modal-overlay>
      <div class="modal-inner transition top-rounded w-full fixed z-15 left-0 bg-white">
        {%- if section_st.banner_image == blank -%}
          <button
            class="modal__close transition-short absolute{% if section_st.banner_image != blank %} top-10 right-10 bg-white blur rounded-50 shadow{% else %} invisible inset-x-0 mx-auto bg-white btn-close-model{% endif %} w-50 h-50 btn-reset rounded-50 inline-flex content-center pointer"
            style="--custom-width: 2.4rem;"
            is="button-close-model"
            aria-label="{{ 'accessibility.button.close' | t }}"
          >
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
              <use href="#icon-close" />
            </svg>
          </button>
        {%- endif -%}
        <div class="drawer__body h-full">
          <div class="drawer__content flex column h-full">
            <nav class="header__menu-mobile overflow-y-auto overflow-x-hidden w-full h-full grow-1">
              {%- if section_st.banner_image != blank -%}
                <div class="banner top-rounded overflow-hidden relative">
                  <button
                    class="modal__close transition-short absolute{% if section_st.banner_image != blank %} top-10 right-10 bg-white blur rounded-50 shadow{% else %} invisible inset-x-0 mx-auto bg-white btn-close-model{% endif %} w-50 h-50 btn-reset rounded-50 inline-flex content-center pointer"
                    style="--custom-width: 2.4rem;"
                    is="button-close-model"
                    aria-label="{{ 'accessibility.button.close' | t }}"
                  >
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
                      <use href="#icon-close" />
                    </svg>
                  </button>
                  {%- assign banner_default = 'accessibility.promotion_banner' | t -%}
                  {%- assign image_alt = section_st.banner_image.alt | default: banner_default | escape -%}
                  <a
                    {% if section_st.banner_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      aria-label="{{ banner_default }}" href="{{ section_st.banner_link }}"
                    {% endif %}
                    class="header-banner flex align-center"
                  >
                    {% render 'responsive-image', image: section_st.banner_image, type: 'other', image_alt: image_alt %}
                  </a>
                </div>
              {%- endif -%}
              <ul class="list-unstyled px-gutter-x py-10">
                {%- for link in menu.links -%}
                  {%- if section.blocks.size > 0 -%}
                    <li class="py-10">
                      {%- liquid
                        assign last_block = null
                        assign mega_width = 100
                        for block in section.blocks
                          assign block_st = block.settings
                          if block_st.text == link.title
                            assign last_block = block
                          endif
                        endfor
                      -%}
                      {%- if last_block != null -%}
                        {%- assign has_content = false -%}
                        {%- case last_block.type -%}
                          {%- when 'menu_mega' -%}
                            {%- for i in (1..5) -%}
                              {%- capture promotion -%}promotion_image_{{ i }}{%- endcapture -%}
                              {%- liquid
                                if last_block.settings[promotion] != blank
                                  assign has_content = true
                                endif
                              -%}
                            {%- endfor -%}
                          {%- when 'menu_product' -%}
                            {%- liquid
                              if last_block.settings.product_list != blank
                                assign has_content = true
                              endif
                            -%}
                          {%- when 'menu_collection' -%}
                            {%- liquid
                              if last_block.settings.collection != blank
                                assign has_content = true
                              endif
                            -%}
                        {%- endcase -%}
                        {%- if link.links.size > 0 or has_content -%}
                          <details is="details-mega-menu" class="details-header-menu animate-motion">
                            <summary
                              class="menu__item level-1{% if settings.menu_uppercase %} uppercase{% endif %} fs-big-2 menu_weight flex align-center gap-5 space-between"
                              data-href="{{ link.url }}"
                              aria-label="{{ link.title }}"
                            >
                              {{ link.title }}
                              {% if settings.rtl %}
                                <svg class="icon-down block hidden-1025" width="6" height="11">
                                  <use href="#icon-back" />
                                </svg>
                              {% else %}
                                <svg class="icon-down block hidden-1025" width="6" height="11">
                                  <use href="#icon-next" />
                                </svg>
                              {% endif %}
                            </summary>
                            <div class="submenu absolute inset-0 z-2 bg-white flex column transition invisible sub-mb absolute inset-0 drawer drawer-right-mb top-rounded overflow-hidden">
                              <div class="overflow-y-auto overflow-x-hidden custom-scrollbar pb-20">
                                {%- render 'horizontal-menu', section_st: section_st, menu_mobile: true, link: link -%}
                                {%- if has_content -%}
                                  {%- case last_block.type -%}
                                    {%- when 'menu_mega' -%}
                                      <div
                                        class="mega-banner flex column flex-cols gap p-gutter-x"
                                        style="--col-number: 1;--gap:24px;"
                                      >
                                        {%- for i in (1..5) -%}
                                          {%- capture promotion -%}promotion_image_{{ i }}{%- endcapture -%}
                                          {%- capture promotion_subheading -%}promotion_subheading_{{ i }}{%- endcapture -%}
                                          {%- capture promotion_heading -%}promotion_heading_{{ i }}{%- endcapture -%}
                                          {%- capture promotion_description -%}promotion_description_{{ i }}{%- endcapture -%}
                                          {%- capture promotion_button_label -%}promotion_button_label_{{ i }}{%- endcapture -%}
                                          {%- capture promotion_button_link -%}promotion_button_link_{{ i }}{%- endcapture -%}
                                          {%- if last_block.settings[promotion] != blank -%}
                                            {%- liquid
                                              assign image = last_block.settings[promotion]
                                              assign subheading = last_block.settings[promotion_subheading]
                                              assign heading = last_block.settings[promotion_heading]
                                              assign description = last_block.settings[promotion_description]
                                              assign button_label = last_block.settings[promotion_button_label]
                                              assign banner_link = last_block.settings[promotion_button_link]
                                              assign banner_default = 'accessibility.promotion_banner'
                                              assign banner_alt = image.alt | default: banner_default | escape
                                            -%}
                                            <div class="banner__item">
                                              <div
                                                class="banner__inner{% if last_block.settings.content_position != 'bellow' %} flex relative flex align-{{ last_block.settings.content_position }}{% endif %}"
                                                {% if last_block.settings.content_position != 'bellow' %}
                                                  style="--aspect-ratio: {{ image.aspect_ratio }};"
                                                {% endif %}
                                              >
                                                <a
                                                  {% if banner_link != blank %}
                                                    href="{{ banner_link }}"
                                                  {% else %}
                                                    role="link" aria-disabled="true"
                                                  {% endif %}
                                                  arial-label="{{ image_alt }}"
                                                  class="banner__inner{% if last_block.settings.content_position != 'bellow' %}{% endif %}"
                                                  {% if last_block.settings.content_position != 'bellow' %}
                                                    style="--aspect-ratio: {{ image.aspect_ratio }};"
                                                  {% endif %}
                                                >
                                                  <div
                                                    class="banner__item-media rounded{% if last_block.settings.content_position != 'bellow' %} absolute inset-0{% endif %}"
                                                    style="--point:{{ image.presentation.focal_point }}; {% if last_block.settings.content_position != 'overlay' %}--aspect-ratio: {{ image.aspect_ratio }};{% endif %}"
                                                  >
                                                    {% render 'responsive-image',
                                                      image: image,
                                                      type: 'other',
                                                      image_alt: banner_alt
                                                    %}
                                                  </div>
                                                </a>
                                                {% if heading != blank
                                                  or subheading != blank
                                                  or description != blank
                                                  or button_label != blank
                                                %}
                                                  <div class="banner__item-info color-{{ last_block.settings.color_scheme }} w-full{% if last_block.settings.content_position != 'bellow' %} py-30 px-gutter-x absolute{% else %} relative mt-15{% endif %} text-{{ last_block.settings.content_alignment }} z-1">
                                                    {% if subheading != blank %}
                                                      <div class="subheading fs-18">
                                                        {{ subheading | escape }}
                                                      </div>
                                                    {% endif %}
                                                    {% if heading != blank %}
                                                      <h6 class="heading">
                                                        {{ heading }}
                                                      </h6>
                                                    {% endif %}
                                                    {% if description != blank %}
                                                      <div class="description fs-16">
                                                        {{ description }}
                                                      </div>
                                                    {% endif %}
                                                    {% if button_label != blank %}
                                                      <div class="button">
                                                        <a
                                                          class="btn btn-primary inline-block text-center mt-20"
                                                          {% if banner_link == blank %}
                                                            role="link" aria-disabled="true"
                                                          {% else %}
                                                            href="{{ banner_link | default: "#" }}"
                                                          {% endif %}
                                                          aria-label="{{ button_label }}"
                                                        >
                                                          {{ button_label }}
                                                        </a>
                                                      </div>
                                                    {% endif %}
                                                  </div>
                                                {%- endif -%}
                                              </div>
                                            </div>
                                          {%- endif -%}
                                        {%- endfor -%}
                                      </div>
                                    {%- when 'menu_product' -%}
                                      <link
                                        rel="stylesheet"
                                        href="{{ 'product.css' | asset_url }}"
                                        media="print"
                                        onload="this.media='all'"
                                      >
                                      <div class="col-mega mega-product px-gutter-x py-12">
                                        {%- liquid
                                          assign heading = last_block.settings.heading
                                          assign product_column = last_block.settings.product_column
                                        -%}
                                        {%- if heading != blank -%}
                                          <h4 class="section-heading mb-20">
                                            {{ heading }}
                                          </h4>
                                        {%- endif -%}
                                        <div class="free-scroll">
                                          <slide-section
                                            class="swiper hover-action overflow-visible-mb"
                                            data-section-id="{{ section.id }}"
                                            data-autoplay="false"
                                            data-effect="slide"
                                            data-loop="false"
                                            data-speed="500"
                                            data-spacing="20"
                                            data-mobile="1.5"
                                            data-desktop="{{ product_column }}"
                                            data-tablet="{{ product_column }}"
                                            data-free-scroll="true"
                                          >
                                            {%- render 'swiper-navigation', show_on_hover: true -%}
                                            <div class="swiper-wrapper">
                                              {%- liquid
                                                for product in last_block.settings.product_list
                                                  render 'card-product', card_product: product, section_id: section.id, class: ' swiper-slide', show_video: false, container: section_width, column: product_column, column_mobile: 1, padding: 20, indexFor: forloop.index
                                                endfor
                                              -%}
                                            </div>
                                          </slide-section>
                                        </div>
                                      </div>
                                    {%- when 'menu_collection' -%}
                                      <div class="col-mega mega-collection px-gutter-x py-12">
                                        {%- liquid
                                          assign heading = last_block.settings.heading
                                          assign collection_column = last_block.settings.collection_column
                                        -%}
                                        {%- if heading != blank -%}
                                          <h4 class="section-heading mb-20">
                                            {{ heading }}
                                          </h4>
                                        {%- endif -%}
                                        <div class="free-scroll">
                                          <slide-section
                                            class="swiper hover-action overflow-visible-mb"
                                            data-section-id="{{ section.id }}"
                                            data-autoplay="false"
                                            data-effect="slide"
                                            data-loop="false"
                                            data-speed="500"
                                            data-spacing="20"
                                            data-mobile="1.5"
                                            data-desktop="{{ collection_column }}"
                                            data-tablet="{{ collection_column }}"
                                            data-free-scroll="true"
                                          >
                                            {%- render 'swiper-navigation', show_on_hover: true -%}
                                            <div class="swiper-wrapper">
                                              {% for collection in last_block.settings.collection %}
                                                <div class="collection-item swiper-slide">
                                                  {% render 'collection-item',
                                                    card_collection: collection,
                                                    section: section,
                                                    container: section_width,
                                                    column: collection_column,
                                                    column_mobile: 1,
                                                    padding: 20
                                                  %}
                                                </div>
                                              {% endfor %}
                                            </div>
                                          </slide-section>
                                        </div>
                                      </div>
                                  {%- endcase -%}
                                {%- endif -%}
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a
                            class="menu__item no-underline py-10 fs-18{% if settings.menu_uppercase %} uppercase{% endif %} menu_weight"
                            href="{{ link.url }}"
                            aria-label="{{ link.title }}"
                          >
                            {{- link.title -}}
                          </a>
                        {%- endif -%}
                      {%- else -%}
                        {%- if link.links.size > 0 -%}
                          <details is="details-mega-menu" class="details-header-menu animate-motion">
                            <summary
                              class="menu__item level-1{% if settings.menu_uppercase %} uppercase{% endif %} fs-big-2 menu_weight flex align-center gap-5 space-between"
                              data-href="{{ link.url }}"
                              aria-label="{{ link.title }}"
                            >
                              {{ link.title }}
                              {% if settings.rtl %}
                                <svg class="icon-down block hidden-1025" width="6" height="11">
                                  <use href="#icon-back" />
                                </svg>
                              {% else %}
                                <svg class="icon-down block hidden-1025" width="6" height="11">
                                  <use href="#icon-next" />
                                </svg>
                              {% endif %}
                            </summary>
                            {%- render 'horizontal-menu',
                              section_st: section_st,
                              menu_mobile: true,
                              link: link,
                              type: 'classic',
                              level1_index: forloop.index
                            -%}
                          </details>
                        {%- else -%}
                          <a
                            class="menu__item no-underline fs-big-2{% if settings.menu_uppercase %} uppercase{% endif %} menu_weight"
                            href="{{ link.url }}"
                            aria-label="{{ link.title }}"
                          >
                            {{- link.title -}}
                          </a>
                        {%- endif -%}
                      {%- endif -%}
                    </li>
                  {%- else -%}
                    <li class="py-10">
                      {%- if link.links.size > 0 -%}
                        <details is="details-mega-menu" class="details-header-menu animate-motion">
                          <summary
                            class="menu__item level-1{% if settings.menu_uppercase %} uppercase{% endif %} fs-big-2 menu_weight flex align-center gap-5 space-between"
                            data-href="{{ link.url }}"
                            aria-label="{{ link.title }}"
                          >
                            {{ link.title }}
                            {% if settings.rtl %}
                              <svg class="icon-down block hidden-1025" width="6" height="11">
                                <use href="#icon-back" />
                              </svg>
                            {% else %}
                              <svg class="icon-down block hidden-1025" width="6" height="11">
                                <use href="#icon-next" />
                              </svg>
                            {% endif %}
                          </summary>
                          {%- render 'horizontal-menu',
                            section_st: section_st,
                            menu_mobile: true,
                            link: link,
                            type: 'classic',
                            level1_index: forloop.index
                          -%}
                        </details>
                      {%- else -%}
                        <a
                          class="menu__item no-underline fs-big-2{% if settings.menu_uppercase %} uppercase{% endif %} menu_weight"
                          href="{{ link.url }}"
                          aria-label="{{ link.title }}"
                        >
                          {{- link.title -}}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </nav>
            {%- if section_st.show_account
              or section_st.show_search
              or section_st.show_cart
              or section_st.show_language
              or section_st.show_currency
            -%}
              <div class="disclosure__footer bg-white flex column gap-15 p-gutter-x border-top">
                <div class="align-center justify-content-end d-flex gap-10 space-between">
                  {% if section_st.show_language or section_st.show_currency %}
                    <div class="desktop-localization-wrapper disclosure__footer last-r-0 pr-30 d-flex gap-15 align-center">
                      {% if section_st.show_currency %}
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      {% endif %}
                      {% if section_st.show_language %}
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      {% endif %}
                    </div>
                  {% endif %}
                  {%- if section_st.show_account -%}
                    <a
                      href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                      class="btn btn-primary block text-center mt-20 mb-15 text-size"
                      aria-label="{% if customer %}{{ 'customer.account.title' | t }}{% else %}{{ 'customer.login_page.title' | t }}{% endif %}"
                    >
                      {% if customer %}
                        {{ 'customer.account.title' | t }}
                      {% else %}
                        {{ 'customer.login_page.title' | t }}
                      {% endif %}
                    </a>
                    <div class="text-center">
                      {%- if customer -%}
                        <a
                          href="{{ routes.account_logout_url }}"
                          class="btn btn-outline block text-center text-size"
                          aria-label="{{ 'customer.account_fallback' | t }}"
                        >
                          {{- 'customer.log_out' | t -}}
                        </a>
                      {%- else -%}
                        <span>{{- 'customer.register.Do_not_have_an_account' | t -}}</span>
                        <a
                          href="{%- if customer -%}{{ routes.account_logout_url }}{%- else -%}{{ routes.account_register_url }}{%- endif -%}"
                          class="heading-style underline"
                          aria-label="{{ 'customer.account_fallback' | t }}"
                        >
                          {{- 'customer.register.title' | t -}}
                        </a>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </menu-drawer>
  </template>
</header>
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "site-header sticky z-10",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        }
      ],
      "default": "left",
      "info": "t:sections.header.settings.logo_position.info",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "sticky_header_mobile",
      "default": true,
      "label": "t:sections.header.settings.sticky_header_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "enable_rounded_style",
      "default": false,
      "label": "t:sections.all.section_setting.enable_rounded_style.label",
      "info": "t:sections.all.section_setting.enable_rounded_style.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_trigger",
      "options": [
        {
          "value": "click",
          "label": "t:sections.header.settings.menu.menu_trigger.options__1.label"
        },
        {
          "value": "hover",
          "label": "t:sections.header.settings.menu.menu_trigger.options__2.label"
        }
      ],
      "default": "click",
      "label": "t:sections.header.settings.menu.menu_trigger.label"
    },
    {
      "type": "select",
      "id": "dropdowns_animation",
      "options": [
        {
          "value": "fade-in",
          "label": "t:sections.header.settings.menu.dropdowns_animation.options__1.label"
        },
        {
          "value": "fade-in-down",
          "label": "t:sections.header.settings.menu.dropdowns_animation.options__2.label"
        },
        {
          "value": "down-to-up",
          "label": "t:sections.header.settings.menu.dropdowns_animation.options__3.label"
        }
      ],
      "default": "down-to-up",
      "label": "t:sections.header.settings.menu.dropdowns_animation.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.menu_mobile.label"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "t:sections.header.settings.menu_mobile.banner_image.label"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "t:sections.header.settings.menu_mobile.link.label"
    },
    {
      "type": "collection_list",
      "id": "banner_collection",
      "label": "t:sections.header.settings.menu_mobile.collections.label",
      "limit": 5
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.addons.label"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "default": true,
      "label": "t:sections.header.settings.addons.show_search.label"
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "default": true,
      "label": "t:sections.header.settings.addons.show_account.label"
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "default": true,
      "label": "t:sections.header.settings.addons.show_cart.label"
    },
    {
      "type": "checkbox",
      "id": "show_currency",
      "default": true,
      "label": "t:sections.header.settings.addons.show_currency.label"
    },
    {
      "type": "checkbox",
      "id": "show_language",
      "default": false,
      "label": "t:sections.header.settings.addons.show_language.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.transparent.content",
      "info": "t:sections.header.settings.transparent.info"
    },
    {
      "type": "checkbox",
      "id": "transparent",
      "default": false,
      "label": "t:sections.header.settings.transparent.transparent.label"
    },
    {
      "type": "color",
      "id": "header_text_icon_transparent",
      "label": "t:sections.header.settings.transparent.text_icon_transparent.label",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "menu_mega",
      "name": "t:sections.header.settings.blocks.mega_menu.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.header.settings.blocks.menu_item.label",
          "info": "t:sections.header.settings.blocks.menu_item.info"
        },
        {
          "type": "range",
          "id": "menu_column",
          "min": 2,
          "max": 5,
          "step": 1,
          "label": "t:sections.header.settings.blocks.menu_column.label",
          "default": 4
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.banners.label"
        },
        {
          "type": "range",
          "id": "mega_width",
          "min": 30,
          "max": 100,
          "unit": "%",
          "step": 1,
          "label": "t:sections.all.width.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "banner_column",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.all.columns.label",
          "default": 2
        },
        {
          "type": "select",
          "id": "content_position",
          "options": [
            {
              "group": "Bellow image",
              "value": "bellow",
              "label": "t:sections.all.content_position.options__2.label"
            },
            {
              "group": "Overlay image",
              "value": "start",
              "label": "t:sections.all.content_position.options__1.top"
            },
            {
              "group": "Overlay image",
              "value": "center",
              "label": "t:sections.all.content_position.options__1.middle"
            },
            {
              "group": "Overlay image",
              "value": "end",
              "label": "t:sections.all.content_position.options__1.bottom"
            }
          ],
          "default": "end",
          "label": "t:sections.all.content_position.label"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.all.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.all.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.all.text_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.all.text_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.promotion_1.label"
        },
        {
          "type": "image_picker",
          "id": "promotion_image_1",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_banner_1",
          "label": "t:sections.all.colors.label",
          "info": "t:sections.all.colors.info",
          "default": "default-color-scheme"
        },
        {
          "type": "text",
          "id": "promotion_subheading_1",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "promotion_heading_1",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "promotion_description_1",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "promotion_button_label_1",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_button_link_1",
          "label": "t:sections.all.content_setting.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.promotion_2.label"
        },
        {
          "type": "image_picker",
          "id": "promotion_image_2",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_banner_2",
          "label": "t:sections.all.colors.label",
          "info": "t:sections.all.colors.info",
          "default": "default-color-scheme"
        },
        {
          "type": "text",
          "id": "promotion_subheading_2",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "promotion_heading_2",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "promotion_description_2",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "promotion_button_label_2",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_button_link_2",
          "label": "t:sections.all.content_setting.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.promotion_3.label"
        },
        {
          "type": "image_picker",
          "id": "promotion_image_3",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_banner_3",
          "label": "t:sections.all.colors.label",
          "info": "t:sections.all.colors.info",
          "default": "default-color-scheme"
        },
        {
          "type": "text",
          "id": "promotion_subheading_3",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "promotion_heading_3",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "promotion_description_3",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "promotion_button_label_3",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_button_link_3",
          "label": "t:sections.all.content_setting.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.promotion_4.label"
        },
        {
          "type": "image_picker",
          "id": "promotion_image_4",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_banner_4",
          "label": "t:sections.all.colors.label",
          "info": "t:sections.all.colors.info",
          "default": "default-color-scheme"
        },
        {
          "type": "text",
          "id": "promotion_subheading_4",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "promotion_heading_4",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "promotion_description_4",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "promotion_button_label_4",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_button_link_4",
          "label": "t:sections.all.content_setting.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.promotion_5.label"
        },
        {
          "type": "image_picker",
          "id": "promotion_image_5",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_banner_5",
          "label": "t:sections.all.colors.label",
          "info": "t:sections.all.colors.info",
          "default": "default-color-scheme"
        },
        {
          "type": "text",
          "id": "promotion_subheading_5",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "promotion_heading_5",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "promotion_description_5",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "promotion_button_label_5",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_button_link_5",
          "label": "t:sections.all.content_setting.link.label"
        }
      ]
    },
    {
      "type": "menu_product",
      "name": "t:sections.header.settings.blocks.product.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.header.settings.blocks.menu_item.label",
          "info": "t:sections.header.settings.blocks.menu_item.info"
        },
        {
          "type": "range",
          "id": "menu_column",
          "min": 2,
          "max": 5,
          "step": 1,
          "label": "t:sections.header.settings.blocks.menu_column.label",
          "default": 4
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.product.header"
        },
        {
          "type": "range",
          "id": "mega_width",
          "min": 30,
          "max": 100,
          "unit": "%",
          "step": 1,
          "label": "t:sections.all.width.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "product_column",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.all.columns.label",
          "default": 2
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Products",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "limit": 5,
          "label": "t:sections.header.settings.blocks.product.header"
        }
      ]
    },
    {
      "type": "menu_collection",
      "name": "t:sections.header.settings.blocks.collection.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.header.settings.blocks.menu_item.label",
          "info": "t:sections.header.settings.blocks.menu_item.info"
        },
        {
          "type": "range",
          "id": "menu_column",
          "min": 2,
          "max": 5,
          "step": 1,
          "label": "t:sections.header.settings.blocks.menu_column.label",
          "default": 4
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.collection.header"
        },
        {
          "type": "range",
          "id": "mega_width",
          "min": 30,
          "max": 100,
          "unit": "%",
          "step": 1,
          "label": "t:sections.all.width.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "collection_column",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.all.columns.label",
          "default": 2
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Collection",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "collection_list",
          "id": "collection",
          "limit": 5,
          "label": "t:sections.header.settings.blocks.collection.header"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "menu_mega"
      }
    ]
  }
}
{% endschema %}
