{%- liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign menu = section_st.menu
  assign transparent = section_st.transparent_on_desktop
  assign transparent_mobile = section_st.transparent_on_mobile
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'full-width-gap'
  endif
  assign transparent_class = ''
  if request.page_type == 'index' and transparent
    assign transparent_class = ' transparent'
    if transparent_mobile
      assign transparent_class = transparent_class | append: ' transparent-mobile'
    endif
  endif
-%}
{%- capture style -%}
  --section-padding-top: {{ section_st.padding_top }}px; --section-padding-bottom: {{ section_st.padding_bottom }}px;
  {% if transparent %}--transparent-color: {{ section_st.header_text_icon_transparent }};{% endif %}
{%- endcapture -%}
<header
  data-sticky-type="{{ section_st.sticky_header_type }}"
  data-sticky-mobile="{{ section_st.sticky_header_mobile }}"
  class="header-wrapper {{ transparent_class }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div class="header__inner grid logo-{{ section_st.logo_position }}">
      <button
        class="btn-reset btn-toggle hidden-1025"
        aria-controls="MenuDrawer"
        aria-label="{{ 'accessibility.toggle_menu' | t }}"
      >
        <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
          <path d="M1.00703 7.99665C0.725995 7.99665 0.483997 7.90285 0.28103 7.71524C0.0936768 7.512 0 7.26968 0 6.98828C0 6.7225 0.0936768 6.49581 0.28103 6.30821C0.483997 6.10497 0.725995 6.00335 1.00703 6.00335H18.993C19.274 6.00335 19.5082 6.10497 19.6956 6.30821C19.8985 6.49581 20 6.7225 20 6.98828C20 7.26968 19.8985 7.512 19.6956 7.71524C19.5082 7.90285 19.274 7.99665 18.993 7.99665H1.00703ZM1.00703 1.9933C0.725995 1.9933 0.483997 1.8995 0.28103 1.71189C0.0936768 1.50865 0 1.26633 0 0.984925C0 0.719151 0.0936768 0.492462 0.28103 0.304858C0.483997 0.101619 0.725995 0 1.00703 0H18.993C19.274 0 19.5082 0.101619 19.6956 0.304858C19.8985 0.492462 20 0.719151 20 0.984925C20 1.26633 19.8985 1.50865 19.6956 1.71189C19.5082 1.8995 19.274 1.9933 18.993 1.9933H1.00703ZM1.00703 14C0.725995 14 0.483997 13.9062 0.28103 13.7186C0.0936768 13.5154 0 13.273 0 12.9916C0 12.7259 0.0936768 12.4992 0.28103 12.3116C0.483997 12.1083 0.725995 12.0067 1.00703 12.0067H18.993C19.274 12.0067 19.5082 12.1083 19.6956 12.3116C19.8985 12.4992 20 12.7259 20 12.9916C20 13.273 19.8985 13.5154 19.6956 13.7186C19.5082 13.9062 19.274 14 18.993 14H1.00703Z" fill="currentColor"></path>
        </svg>
      </button>
      {%- render 'logo', section_st: section_st -%}
      {%- if menu != blank -%}
        <nav class="header__menu">
          <ul class="list-unstyled flex">
            {%- for link in menu.links -%}
              {%- if section.blocks.size > 0 -%}
                <li>
                  {%- liquid
                    assign last_block = null
                    assign mega_width = 100
                    for block in section.blocks
                      assign block_st = block.settings
                      if block_st.text == link.title
                        assign last_block = block
                      endif
                    endfor
                  -%}
                  {%- if last_block != null -%}
                    {%- assign has_content = false -%}
                    {%- case last_block.type -%}
                      {%- when 'menu_mega' -%}
                        {%- for i in (1..5) -%}
                          {%- capture promotion -%}promotion_image_{{ i }}{%- endcapture -%}
                          {%- liquid
                            if last_block.settings[promotion] != blank
                              assign has_content = true
                            endif
                          -%}
                        {%- endfor -%}
                      {%- when 'menu_product' -%}
                      {%- else -%}
                    {%- endcase -%}
                    {%- if link.links.size > 0 or has_content -%}
                      <details class="details-header-menu">
                        <summary
                          class="menu__item"
                          data-href="{{ link.url }}"
                          aria-label="{{ link.title }}"
                        >
                          {{ link.title }}
                        </summary>
                        {%- liquid
                          if has_content and link.links.size > 0
                            assign mega_width = last_block.settings.mega_width
                          endif
                        -%}
                        <div class="mega-menu" style="--col-mega-width: {{ mega_width }}%">
                          {%- if link.links.size > 0 -%}
                            <div
                              class="menu-list"
                              style="--col-desktop: {{ last_block.settings.menu_column }}"
                            >
                              {%- render 'horizontal-menu', section_st: section_st, menu_mega: true, link: link -%}
                            </div>
                          {%- endif -%}
                          {%- if has_content -%}
                            {%- case last_block.type -%}
                              {%- when 'menu_mega' -%}
                                <div
                                  class="mega-banner"
                                  style="--banner-column: {{ last_block.settings.banner_column }};"
                                >
                                  {%- for i in (1..5) -%}
                                    {%- capture promotion -%}promotion_image_{{ i }}{%- endcapture -%}
                                    {%- capture promotion_subheading -%}promotion_subheading_{{ i }}{%- endcapture -%}
                                    {%- capture promotion_heading -%}promotion_heading_{{ i }}{%- endcapture -%}
                                    {%- capture promotion_description -%}promotion_description_{{ i }}{%- endcapture -%}
                                    {%- capture promotion_button_label -%}promotion_button_label_{{ i }}{%- endcapture -%}
                                    {%- capture promotion_button_link -%}promotion_button_link_{{ i }}{%- endcapture -%}
                                    {%- if last_block.settings[promotion] != blank -%}
                                      {%- liquid
                                        assign image = last_block.settings[promotion]
                                        assign subheading = last_block.settings[promotion_subheading]
                                        assign heading = last_block.settings[promotion_heading]
                                        assign description = last_block.settings[promotion_description]
                                        assign button_label = last_block.settings[promotion_button_label]
                                        assign banner_link = last_block.settings[promotion_button_link]
                                        assign banner_default = 'accessibility.promotion_banner'
                                        assign image_alt = image.alt | default: banner_default | escape
                                      -%}
                                      <div class="banner__item">
                                        <div class="banner__inner position-{{ last_block.settings.content_position }}">
                                          <div
                                            class="banner__item-media"
                                            style="--aspect-ratio: {{ image.aspect_ratio }};--point:{{ image.presentation.focal_point }};"
                                          >
                                            {% if banner_link != blank %}
                                              <a href="{{ banner_link }}">
                                            {%- endif -%}
                                            {% render 'responsive-image', image: image, type: 'other', alt: image_alt %}
                                            {% if banner_link != blank %}
                                              </a>
                                            {%- endif -%}
                                          </div>
                                          {% if heading != blank
                                            or subheading != blank
                                            or description != blank
                                            or button_label != blank
                                          %}
                                            <div class="banner__item-info alignment-{{ last_block.settings.content_alignment }}">
                                              {% if subheading != blank %}
                                                <div class="subheading">
                                                  {{ subheading | escape }}
                                                </div>
                                              {% endif %}
                                              {% if heading != blank %}
                                                <h2 class="heading">
                                                  {{ block_st.heading }}
                                                </h2>
                                              {% endif %}
                                              {% if description != blank %}
                                                <div class="description">
                                                  {{ description }}
                                                </div>
                                              {% endif %}
                                              {% if button_label != blank %}
                                                <div class="button">
                                                  <a
                                                    {% if banner_link == blank %}
                                                      role="link" aria-disabled="true"
                                                    {% else %}
                                                      href="{{ banner_link | default: "#" }}"
                                                    {% endif %}
                                                    aria-label="{{ button_label }}"
                                                  >
                                                    {{ button_label }}
                                                  </a>
                                                </div>
                                              {% endif %}
                                            </div>
                                          {%- endif -%}
                                        </div>
                                      </div>
                                    {%- endif -%}
                                  {%- endfor -%}
                                </div>
                              {%- when 'menu_product' -%}
                              {%- when 'menu_collection' -%}
                            {%- endcase -%}
                          {%- endif -%}
                        </div>
                      </details>
                    {%- else -%}
                      <a
                        class="menu__item no-underline"
                        href="{{ link.url }}"
                        aria-label="{{ link.title }}"
                      >
                        {{- link.title -}}
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    {%- if link.links.size > 0 -%}
                      <details class="details-header-menu">
                        <summary
                          class="menu__item"
                          data-href="{{ link.url }}"
                          aria-label="{{ link.title }}"
                        >
                          {{ link.title }}
                        </summary>
                        {%- render 'horizontal-menu',
                          section_st: section_st,
                          link: link,
                          type: 'classic',
                          level1_index: forloop.index
                        -%}
                      </details>
                    {%- else -%}
                      <a
                        class="menu__item no-underline"
                        href="{{ link.url }}"
                        aria-label="{{ link.title }}"
                      >
                        {{- link.title -}}
                      </a>
                    {%- endif -%}
                  {%- endif -%}
                </li>
              {%- else -%}
                <li>
                  {%- if link.links.size > 0 -%}
                    <details class="details-header-menu">
                      <summary
                        class="menu__item"
                        data-href="{{ link.url }}"
                        aria-label="{{ link.title }}"
                      >
                        {{ link.title }}
                      </summary>
                      {%- render 'horizontal-menu',
                        section_st: section_st,
                        link: link,
                        type: 'classic',
                        level1_index: forloop.index
                      -%}
                    </details>
                  {%- else -%}
                    <a
                      class="menu__item no-underline"
                      href="{{ link.url }}"
                      aria-label="{{ link.title }}"
                    >
                      {{- link.title -}}
                    </a>
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
      {%- if section_st.show_account
        or section_st.show_search
        or section_st.show_cart
        or section_st.show_language
        or section_st.show_currency
      -%}
        <div class="header__action flex flex-end">
          {% if section_st.show_language or section_st.show_currency %}
            <div class="desktop-localization-wrapper">
              {% if section_st.show_currency %}
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              {% endif %}
              {% if section_st.show_language %}
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              {% endif %}
            </div>
          {% endif %}
          {%- if section_st.show_search -%}
            {% # theme-check-disable NestedSnippet %}
            <a
              href="{{ routes.search_url }}"
              class="header__icon"
              id="search-icon-bubble"
              data-custom-class="{{ section_width }}"
            >
              <span class="tooltip-content visually-hidden rounded-5 fs-small tooltip-bottom">
                {{ 'general.search.search' | t }}
              </span>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M9.587 17.4245C13.9153 17.4245 17.424 13.9157 17.424 9.58749C17.424 5.25923 13.9153 1.75049 9.587 1.75049C5.25874 1.75049 1.75 5.25923 1.75 9.58749C1.75 13.9157 5.25874 17.4245 9.587 17.4245Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.2495 18.2494L16.5996 16.5995" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span class="visually-hidden">{{ 'general.search.search' | t }}</span>
            </a>
            {% # theme-check-enable NestedSnippet %}
          {%- endif -%}
          {%- if section_st.show_account -%}
            <a
              href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
              class="header__icon"
              aria-label="{{ 'customer.account_fallback' | t }}"
            >
              <svg class="icon-account" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M19 18.4c-.985-1.657-2.322-3.017-3.89-3.96A9.929 9.929 0 0 0 10.009 13a9.923 9.923 0 0 0-5.106 1.42c-1.571.935-2.912 2.29-3.903 3.942"/><circle cx="10" cy="5.6" r="4" stroke="currentColor" stroke-width="1.5"/>
              </svg>
            </a>
          {%- endif -%}
          {%- if section_st.show_cart -%}
            <a
              href="{{ routes.cart_url }}"
              class="header__icon"
              id="cart-icon-bubble"
            >
              <span class="header__icon">
                {%- if theme_st.cart_icon == 'shopping_bag' -%}
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M6.23303 1.75H13.76C17.3144 1.75 17.6699 3.44257 17.9103 5.50772L18.8512 13.4916C19.1544 16.1102 18.3598 18.2499 14.7009 18.2499H5.30261C1.63321 18.2499 0.838693 16.1102 1.15232 13.4916L2.0932 5.50772C2.32319 3.44257 2.67862 1.75 6.23303 1.75Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7 5.68958C7 7.6897 8.67188 8.5 10 8.5C11.3281 8.5 13 7.6897 13 5.68958" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                {%- else -%}
                  <svg width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M0.878906 1.75L5.5448 13.6018C5.69245 13.9758 6.05667 14.2219 6.46026 14.2219H17.6525C18.125 14.2219 18.5384 13.8774 18.6172 13.4049L20.1036 4.75232C20.2119 4.15185 19.7492 3.60061 19.1389 3.60061H6.42089" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M16.7734 16.75C16.7734 17.5781 16.0263 18.25 15.1055 18.25C14.1846 18.25 13.4375 17.5781 13.4375 16.75" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M10.5625 16.75C10.5625 17.5781 9.81539 18.25 8.89453 18.25C7.97367 18.25 7.22656 17.5781 7.22656 16.75" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
                  </svg>
                {%- endif -%}
              </span>
              <span class="tooltip-content visually-hidden rounded-5 fs-small tooltip-bottom">
                {{ 'templates.cart.minicart' | t }}
              </span>
              <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
              {%- if cart != empty -%}
                <div class="cart-count rounded-50 bg-dark p-5 color-light fs-10 inline-flex content-center absolute">
                  {%- if cart.item_count < 100 -%}
                    <span>{{ cart.item_count }}</span>
                  {%- else -%}
                    <span aria-hidden="true">~</span>
                  {%- endif -%}
                  <span class="visually-hidden">{{ 'templates.cart.cart_count' | t: count: cart.item_count }}</span>
                </div>
              {%- else -%}
                <div class="cart-count rounded-50 bg-dark p-5 color-light fs-10 inline-flex content-center absolute">
                  <span aria-hidden="true">0</span>
                </div>
              {%- endif -%}
            </a>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
  <menu-drawer id="Menu-Drawer" class="menu-drawer modal">
    <div class="modal-overlay"></div>
    <div class="modal-inner">
      <div class="drawer-header">
        <button aria-label="Close">
          <svg width="13" height="14" viewBox="0 0 13 14" fill="none">
            <path d="M0.282609 2.06784C0.0942029 1.89363 0 1.68314 0 1.43635C0 1.17504 0.0942029 0.950028 0.282609 0.761307C0.456522 0.587102 0.673913 0.5 0.934783 0.5C1.19565 0.5 1.41304 0.587102 1.58696 0.761307L6.5 5.68258L11.413 0.761307C11.587 0.587102 11.8043 0.5 12.0652 0.5C12.3261 0.5 12.5435 0.587102 12.7174 0.761307C12.9058 0.950028 13 1.17504 13 1.43635C13 1.68314 12.9058 1.89363 12.7174 2.06784L7.80435 6.98911L12.7174 11.9104C12.9058 12.0991 13 12.3241 13 12.5854C13 12.8322 12.9058 13.0427 12.7174 13.2169C12.5435 13.4056 12.3261 13.5 12.0652 13.5C11.8043 13.5 11.587 13.4056 11.413 13.2169L6.5 8.31742L1.58696 13.2169C1.41304 13.4056 1.19565 13.5 0.934783 13.5C0.673913 13.5 0.456522 13.4056 0.282609 13.2169C0.0942029 13.0427 0 12.8322 0 12.5854C0 12.3241 0.0942029 12.0991 0.282609 11.9104L5.19565 6.98911L0.282609 2.06784Z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
      <div class="drawer__body">
        {%- if section_st.banner_image != blank -%}
          <div class="banner gap-small tablet-1 mb-1 row-as-column-gap">
            {%- assign banner_default = 'accessibility.promotion_banner' | t -%}
            {%- assign image_alt = section_st.banner_image.alt | default: banner_default | escape -%}
            <a
              {% if section_st.banner_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                aria-label="{{ banner_default }}" href="{{ section_st.banner_link }}"
              {% endif %}
              class="header-banner"
            >
              {% render 'responsive-image', image: image, type: 'other', image_alt: image_alt %}
            </a>
          </div>
        {%- endif -%}
        <nav class="header__menu">
          <ul>
            {%- for link in menu.links -%}
              {%- if section.blocks.size > 0 -%}
                <li>
                  {%- liquid
                    assign last_block = null
                    assign mega_width = 100
                    for block in section.blocks
                      assign block_st = block.settings
                      if block_st.text == link.title
                        assign last_block = block
                      endif
                    endfor
                  -%}
                  {%- if last_block != null -%}
                    {%- assign has_content = false -%}
                    {%- case last_block.type -%}
                      {%- when 'menu_mega' -%}
                        {%- for i in (1..5) -%}
                          {%- capture promotion -%}promotion_image_{{ i }}{%- endcapture -%}
                          {%- liquid
                            if last_block.settings[promotion] != blank
                              assign has_content = true
                            endif
                          -%}
                        {%- endfor -%}
                      {%- when 'menu_product' -%}
                      {%- else -%}
                    {%- endcase -%}
                    {%- if link.links.size > 0 or has_content -%}
                      <details class="details-header-menu">
                        <summary
                          class="menu__item"
                          data-href="{{ link.url }}"
                          aria-label="{{ link.title }}"
                        >
                          {{ link.title }}
                        </summary>
                        <div class="submenu">
                          {%- render 'horizontal-menu', section_st: section_st, menu_mobile: true, link: link -%}
                          {%- if has_content -%}
                            {%- case last_block.type -%}
                              {%- when 'menu_mega' -%}
                                <div
                                  class="mega-banner"
                                  style="--banner-column: 2"
                                >
                                  {%- for i in (1..5) -%}
                                    {%- capture promotion -%}promotion_image_{{ i }}{%- endcapture -%}
                                    {%- capture promotion_subheading -%}promotion_subheading_{{ i }}{%- endcapture -%}
                                    {%- capture promotion_heading -%}promotion_heading_{{ i }}{%- endcapture -%}
                                    {%- capture promotion_description -%}promotion_description_{{ i }}{%- endcapture -%}
                                    {%- capture promotion_button_label -%}promotion_button_label_{{ i }}{%- endcapture -%}
                                    {%- capture promotion_button_link -%}promotion_button_link_{{ i }}{%- endcapture -%}
                                    {%- if last_block.settings[promotion] != blank -%}
                                      {%- liquid
                                        assign image = last_block.settings[promotion]
                                        assign subheading = last_block.settings[promotion_subheading]
                                        assign heading = last_block.settings[promotion_heading]
                                        assign description = last_block.settings[promotion_description]
                                        assign button_label = last_block.settings[promotion_button_label]
                                        assign banner_link = last_block.settings[promotion_button_link]
                                        assign banner_default = 'accessibility.promotion_banner'
                                        assign banner_alt = image.alt | default: banner_default | escape
                                      -%}
                                      <div class="banner__item">
                                        <div class="banner__inner position-{{ last_block.settings.content_position }}">
                                          <div
                                            class="banner__item-media"
                                            style="--aspect-ratio: {{ image.aspect_ratio }};--point:{{ image.presentation.focal_point }};"
                                          >
                                            {% if banner_link != blank %}
                                              <a href="{{ banner_link }}">
                                            {%- endif -%}
                                            {% render 'responsive-image',
                                              image: image,
                                              type: 'other',
                                              image_alt: banner_alt
                                            %}
                                            {% if banner_link != blank %}
                                              </a>
                                            {%- endif -%}
                                          </div>
                                          {% if heading != blank
                                            or subheading != blank
                                            or description != blank
                                            or button_label != blank
                                          %}
                                            <div class="banner__item-info alignment-{{ last_block.settings.content_alignment }}">
                                              {% if subheading != blank %}
                                                <div class="subheading">
                                                  {{ subheading | escape }}
                                                </div>
                                              {% endif %}
                                              {% if heading != blank %}
                                                <h2 class="heading">
                                                  {{ block_st.heading }}
                                                </h2>
                                              {% endif %}
                                              {% if description != blank %}
                                                <div class="description">
                                                  {{ description }}
                                                </div>
                                              {% endif %}
                                              {% if button_label != blank %}
                                                <div class="button">
                                                  <a
                                                    {% if banner_link == blank %}
                                                      role="link" aria-disabled="true"
                                                    {% else %}
                                                      href="{{ banner_link | default: "#" }}"
                                                    {% endif %}
                                                    aria-label="{{ button_label }}"
                                                  >
                                                    {{ button_label }}
                                                  </a>
                                                </div>
                                              {% endif %}
                                            </div>
                                          {%- endif -%}
                                        </div>
                                      </div>
                                    {%- endif -%}
                                  {%- endfor -%}
                                </div>
                              {%- when 'menu_product' -%}
                              {%- when 'menu_collection' -%}
                            {%- endcase -%}
                          {%- endif -%}
                        </div>
                      </details>
                    {%- else -%}
                      <a
                        class="menu__item no-underline"
                        href="{{ link.url }}"
                        aria-label="{{ link.title }}"
                      >
                        {{- link.title -}}
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    {%- if link.links.size > 0 -%}
                      <details class="details-header-menu">
                        <summary
                          class="menu__item"
                          data-href="{{ link.url }}"
                          aria-label="{{ link.title }}"
                        >
                          {{ link.title }}
                        </summary>
                        {%- render 'horizontal-menu',
                          section_st: section_st,
                          menu_mobile: true,
                          link: link,
                          type: 'classic',
                          level1_index: forloop.index
                        -%}
                      </details>
                    {%- else -%}
                      <a
                        class="menu__item no-underline"
                        href="{{ link.url }}"
                        aria-label="{{ link.title }}"
                      >
                        {{- link.title -}}
                      </a>
                    {%- endif -%}
                  {%- endif -%}
                </li>
              {%- else -%}
                <li>
                  {%- if link.links.size > 0 -%}
                    <details class="details-header-menu">
                      <summary
                        class="menu__item"
                        data-href="{{ link.url }}"
                        aria-label="{{ link.title }}"
                      >
                        {{ link.title }}
                      </summary>
                      {%- render 'horizontal-menu',
                        section_st: section_st,
                        menu_mobile: true,
                        link: link,
                        type: 'classic',
                        level1_index: forloop.index
                      -%}
                    </details>
                  {%- else -%}
                    <a
                      class="menu__item no-underline"
                      href="{{ link.url }}"
                      aria-label="{{ link.title }}"
                    >
                      {{- link.title -}}
                    </a>
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </nav>
      </div>
    </div>
  </menu-drawer>
</header>
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        }
      ],
      "default": "left",
      "info": "t:sections.header.settings.logo_position.info",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "sticky_header_mobile",
      "default": true,
      "label": "t:sections.header.settings.sticky_header_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_trigger",
      "options": [
        {
          "value": "click",
          "label": "t:sections.header.settings.menu.menu_trigger.options__1.label"
        },
        {
          "value": "hover",
          "label": "t:sections.header.settings.menu.menu_trigger.options__2.label"
        }
      ],
      "default": "click",
      "label": "t:sections.header.settings.menu.menu_trigger.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.menu_mobile.label"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "t:sections.header.settings.menu_mobile.banner_image.label"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "t:sections.header.settings.menu_mobile.link.label"
    },
    {
      "type": "collection_list",
      "id": "banner_collection",
      "label": "t:sections.header.settings.menu_mobile.collections.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.addons.label"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "default": true,
      "label": "t:sections.header.settings.addons.show_search.label"
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "default": true,
      "label": "t:sections.header.settings.addons.show_account.label"
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "default": true,
      "label": "t:sections.header.settings.addons.show_cart.label"
    },
    {
      "type": "checkbox",
      "id": "show_currency",
      "default": true,
      "label": "t:sections.header.settings.addons.show_currency.label"
    },
    {
      "type": "checkbox",
      "id": "show_language",
      "default": false,
      "label": "t:sections.header.settings.addons.show_language.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.transparent.content",
      "info": "t:sections.header.settings.transparent.info"
    },
    {
      "type": "checkbox",
      "id": "transparent_on_desktop",
      "default": false,
      "label": "t:sections.header.settings.transparent.transparent_on_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "transparent_on_mobile",
      "default": false,
      "label": "t:sections.header.settings.transparent.transparent_on_mobile.label"
    },
    {
      "type": "color",
      "id": "header_text_icon_transparent",
      "label": "t:sections.header.settings.transparent.text_icon_transparent.label",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "menu_mega",
      "name": "t:sections.header.settings.blocks.mega_menu.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.header.settings.blocks.menu_item.label",
          "info": "t:sections.header.settings.blocks.menu_item.info"
        },
        {
          "type": "range",
          "id": "menu_column",
          "min": 2,
          "max": 5,
          "step": 1,
          "label": "t:sections.header.settings.blocks.menu_column.label",
          "default": 4
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.banners.label"
        },
        {
          "type": "range",
          "id": "mega_width",
          "min": 30,
          "max": 100,
          "unit": "%",
          "step": 1,
          "label": "t:sections.all.width.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "banner_column",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.all.columns.label",
          "default": 2
        },
        {
          "type": "select",
          "id": "content_position",
          "options": [
            {
              "value": "overlay",
              "label": "t:sections.all.content_position.options__1.label"
            },
            {
              "value": "bellow",
              "label": "t:sections.all.content_position.options__2.label"
            }
          ],
          "default": "overlay",
          "label": "t:sections.all.content_position.label"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.all.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.all.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.all.text_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.all.text_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.promotion_1.label"
        },
        {
          "type": "image_picker",
          "id": "promotion_image_1",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "text",
          "id": "promotion_subheading_1",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "promotion_heading_1",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "promotion_description_1",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "promotion_button_label_1",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_button_link_1",
          "label": "t:sections.all.content_setting.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.promotion_2.label"
        },
        {
          "type": "image_picker",
          "id": "promotion_image_2",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "text",
          "id": "promotion_subheading_2",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "promotion_heading_2",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "promotion_description_2",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "promotion_button_label_2",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_button_link_2",
          "label": "t:sections.all.content_setting.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.promotion_3.label"
        },
        {
          "type": "image_picker",
          "id": "promotion_image_3",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "text",
          "id": "promotion_subheading_3",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "promotion_heading_3",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "promotion_description_3",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "promotion_button_label_3",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_button_link_3",
          "label": "t:sections.all.content_setting.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.promotion_4.label"
        },
        {
          "type": "image_picker",
          "id": "promotion_image_4",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "text",
          "id": "promotion_subheading_4",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "promotion_heading_4",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "promotion_description_4",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "promotion_button_label_4",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_button_link_4",
          "label": "t:sections.all.content_setting.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.mega_menu.promotion_5.label"
        },
        {
          "type": "image_picker",
          "id": "promotion_image_5",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "text",
          "id": "promotion_subheading_5",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "promotion_heading_5",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "promotion_description_5",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "promotion_button_label_5",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_button_link_5",
          "label": "t:sections.all.content_setting.link.label"
        }
      ]
    },
    {
      "type": "menu_product",
      "name": "t:sections.header.settings.blocks.product.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.header.settings.blocks.menu_item.label",
          "info": "t:sections.header.settings.blocks.menu_item.info"
        },
        {
          "type": "range",
          "id": "menu_column",
          "min": 2,
          "max": 5,
          "step": 1,
          "label": "t:sections.header.settings.blocks.menu_column.label",
          "default": 4
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.product.header"
        },
        {
          "type": "range",
          "id": "mega_width",
          "min": 30,
          "max": 100,
          "unit": "%",
          "step": 1,
          "label": "t:sections.all.width.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "product_column",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.all.columns.label",
          "default": 2
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Products",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "t:sections.header.settings.blocks.product.header"
        }
      ]
    },
    {
      "type": "menu_collection",
      "name": "t:sections.header.settings.blocks.collection.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.header.settings.blocks.menu_item.label",
          "info": "t:sections.header.settings.blocks.menu_item.info"
        },
        {
          "type": "range",
          "id": "menu_column",
          "min": 2,
          "max": 5,
          "step": 1,
          "label": "t:sections.header.settings.blocks.menu_column.label",
          "default": 4
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.blocks.collection.header"
        },
        {
          "type": "range",
          "id": "mega_width",
          "min": 30,
          "max": 100,
          "unit": "%",
          "step": 1,
          "label": "t:sections.all.width.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "collection_column",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.all.columns.label",
          "default": 2
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Collection",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "collection_list",
          "id": "collection",
          "label": "t:sections.header.settings.blocks.collection.header"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "menu_mega"
      }
    ]
  }
}
{% endschema %}
