{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'customer.js' | asset_url }}" defer="defer"></script>
{%- liquid
  assign section_st = section.settings
-%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}
<div
  class="stretch_width customer register section flex column content-center w-full max-w-custom-all mx-auto"
  style="{{ style | strip | strip_newlines }}--max-width: 56rem;--bs-gutter-x: 3rem;--input-placeholder-color: #666666;"
>
  <div class="w-full">
    <div class="mb-60">
      <h1 class="heading-title text-center mb-15">
        {{ 'customer.register.title' | t }}
      </h1>
      <div class="heading-description text-center">
        {{ 'customer.register.create_account_details' | t }}
      </div>
    </div>
    <div class="field">
      {%- form 'create_customer', novalidate: 'novalidate' -%}
        {%- if form.errors -%}
          <div class="form__message error flex align-center gap-10 mb-10" tabindex="-1" autofocus>
            <div class="flex content-center">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                <use href="#icon-error"></use>
              </svg>
            </div>
            {%- for field in form.errors -%}
              <ul class="list-unstyled w-custom" style="--width: calc(100% - 24px)">
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#RegisterForm-{{ field }}" class="color-inherit">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              </ul>
            {%- endfor -%}
          </div>
        {%- endif -%}
        <div
          class="field grid-cols mb-20"
        >
          <div class="flex gap-20 column flex-md-row">
            <div class="field relative w-full flex wrap transition">
              <input
                type="text"
                name="customer[first_name]"
                id="RegisterForm-FirstName"
                {% if form.first_name %}
                  value="{{ form.first_name }}"
                {% endif %}
                autocomplete="given-name"
                placeholder="{{ 'customer.register.first_name' | t }} *"
                class="w-full heading-color"
              >
              <label for="RegisterForm-FirstName" class="visually-hidden">
                {{ 'customer.register.first_name' | t }}
              </label>
            </div>
            <div class="field relative w-full flex wrap transition">
              <input
                type="text"
                name="customer[last_name]"
                id="RegisterForm-LastName"
                {% if form.last_name %}
                  value="{{ form.last_name }}"
                {% endif %}
                autocomplete="family-name"
                placeholder="{{ 'customer.register.last_name' | t }} *"
                class="w-full heading-color"
              >
              <label for="RegisterForm-LastName" class="visually-hidden">
                {{ 'customer.register.last_name' | t }}
              </label>
            </div>
          </div>
        </div>
        <div class="field relative w-full flex wrap transition {%- if form.errors contains 'email' -%} mb-10{% else %} mb-20{% endif %}">
          <input
            type="email"
            name="customer[email]"
            id="RegisterForm-email"
            {% if form.email %}
              value="{{ form.email }}"
            {% endif %}
            spellcheck="false"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="RegisterForm-email-error"
            {% endif %}
            placeholder="{{ 'customer.register.email' | t }} *"
            class="w-full {% if form.errors %} border{% endif %} heading-color"
            required
          >
          <label for="RegisterForm-email" class="visually-hidden">
            {{ 'customer.register.email' | t }}
            <span class="required">*</span>
          </label>
        </div>
        {%- if form.errors contains 'email' -%}
          <span id="RegisterForm-email-error" class="form__message error flex align-center gap-10 mb-10">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" class="flex-auto">
              <use href="#icon-error"></use>
            </svg>
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}
          </span>
        {%- endif -%}
        <div class="field relative w-full flex wrap transition mb-10">
          <div class="w-full relative">
            <input
              type="password"
              name="customer[password]"
              id="RegisterForm-password"
              aria-required="true"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-password-error"
              {% endif %}
              placeholder="{{ 'customer.register.password' | t }} *"
              required
              class="w-full heading-color"
            >
            <show-pass-word
              class="show-pass-word transition absolute inset-y-0 flex content-center right-25"
              aria-label="{{ 'customer.login_page.sign_in' | t }}"
            >
              <svg class="icon-hide" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <use href="#icon-hide-password"></use>
              </svg>
              <svg class="icon-view hidden" width="20" height="20" viewBox="0 0 24 24" fill="none">
                <use href="#icon-show-password"></use>
              </svg>
            </show-pass-word>
            <label for="RegisterForm-password" class="visually-hidden">
              {{ 'customer.register.password' | t }}
              <span class="required">*</span>
            </label>
          </div>
        </div>
        {% if form.errors contains 'password' %}
          <div
            id="RegisterForm-password-error"
            class="error form__message fs-small inline-flex align-center gap-10 mb-10 w-full h-custom"
            style="--height: 5.6rem;"
          >
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
              <use href="#icon-error"></use>
            </svg>
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}
          </div>
        {%- endif -%}
        <div class="mb-30 text-start lh-small">
          <span class="required-field fs-small">{{ 'customer.account.required' | t }}</span>
        </div>
        <button class="btn btn-primary w-full relative product_submit_button product-form__submit word-wrap relative">
          <span class="hidden-on-load transition-short"> {{ 'customer.register.submit' | t }}</span>
          {%- render 'loader' -%}
        </button>
        <div class="creat_new-account flex justify-center mt-30">
          <span class="me-5">{{ 'customer.login_page.have_account' | t }}</span>
          <a
            href="{{ routes.account_login_url }}"
            class="heading-color underline"
            aria-label="{{ 'customer.login_page.sign_in' | t }}"
          >
            {{ 'customer.login_page.title' | t }}
          </a>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>
<script type="module">
  import { setupFormValidation } from '{{ "formValidation.js" | asset_url }}';
  document.addEventListener('DOMContentLoaded', () => {
    setupFormValidation({
      formSelector: 'form[action*="/account"]',
      fields: {
        'customer[first_name]': (value) => {
          const invalidChars = /<.*?>|javascript:/i;
          return !value
            ? '{{ 'customer.validate.first_name' | t }}'
            : invalidChars.test(value)
            ? '{{ "customer.validate.invalid" | t }}'
            : '';
        },
        'customer[last_name]': (value) => {
          const invalidChars = /<.*?>|javascript:/i;
          return !value
            ? '{{ 'customer.validate.last_name' | t }}'
            : invalidChars.test(value)
            ? '{{ "customer.validate.invalid" | t }}'
            : '';
        },
        'customer[email]': (value) => {
          const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
          return !value
            ? '{{ "customer.validate.email" | t }}'
            : !emailRegex.test(value)
            ? '{{ "customer.validate.email_invalid" | t }}'
            : '';
        },
        'customer[password]': (value) =>
          !value ? '{{ 'customer.validate.password' | t }}' : value.length < 6 ? '{{ 'customer.validate.min_password' | t }}' : '',
      },
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ]
}
{% endschema %}
