{{ 'password.css' | asset_url | stylesheet_tag }}
{{ 'page-password.css' | asset_url | stylesheet_tag }}
{% liquid
  assign section_st = section.settings
  assign banner_img = section_st.banner_img
  assign banner_position = section_st.banner_position
  assign content_width = section_st.content_width

  if banner_img != blank
    assign show_banner = 'show-banner'
  endif
  assign banner_position_class = ''
  if banner_position == 'position-right'
    assign banner_position_class = ' row-reverse'
  endif
%}

<div class="bls-main-password {{ banner_position_class }}">
  {% if banner_img != blank %}
    <div class="image_banner">
      <div class="bls__password-banner relative">
        {%- assign image_alt = banner_img.alt | default: 'banner_image' -%}
        <img
          loading="lazy"
          src="{{ banner_img | image_url }}"
          alt="{{ image_alt }}"
          width="{{ banner_img.width }}"
          height="{{ banner_img.height }}"
        >
      </div>
    </div>
  {% endif %}
  <div class="main-content section-full">
    <div class="flex justify-between column">
      <div class="color-{{ section.settings.color_scheme }} gradient">
        <div class="password-header flex justify-content-{{ section_st.text_align }}">
          <password-modal
            data-required="{{ 'customer.validate.password' | t }}"
            data-minlength="{{ 'customer.validate.min_password' | t }}"
          >
            <div class="password-logo">
              {%- render 'logo', section_st: section_st -%}
            </div>
            <div class="password-modal modal">
              <div class="modal__toggle" aria-haspopup="dialog">
                <div class="modal__toggle-open password-link link underlined-link">
                  {% render 'icon-padlock' %}
                  <h2 class="password-modal__content-heading" id="DialogHeading">
                    {{ 'general.password_page.login_password_button' | t }}
                  </h2>
                </div>
              </div>
              <div
                class="modal__content"
                role="dialog"
                aria-labelledby="DialogHeading"
                aria-modal="true"
              >
                <div
                  class="password-modal__content"
                  tabindex="-1"
                  data-title="{{ 'general.password_page.login_form_heading' | t }}"
                >
                  <h2 class="password-modal-title">{{ 'general.password_page.login_form_heading' | t }}</h2>
                  {%- form 'storefront_password', class: 'password-form-popup', novalidate: 'novalidate' -%}
                    <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                      <input
                        type="password"
                        name="password"
                        id="Password"
                        class="field__input field__input-pass"
                        autocomplete="current-password"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="PasswordLoginForm-password-error"
                        {% endif %}
                        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                      >

                      {%- if form.errors -%}
                        <div id="PasswordLoginForm-password-error" role="status">
                          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                          <span class="form__message">
                            {%- render 'icon-error' %}
                            {{ 'general.password_page.login_form_error' | t -}}
                          </span>
                        </div>
                      {% endif %}
                    </div>
                    <button name="commit" class="password-button btn btn-primary">
                      <span class="hidden-on-load"> {{ 'general.password_page.login_form_submit' | t }}</span>
                      <svg
                        width="14"
                        height="14"
                        viewBox="0 0 14 14"
                        fill="none"
                        class="spin opacity-0 pointer-none icon-load absolute"
                      >
                        <use href="#icon-load"></use>
                      </svg>
                    </button>
                  {%- endform -%}
                  <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
                </div>
              </div>
            </div>
          </password-modal>
        </div>
        {%- if shop.password_message != blank -%}
          <div class="password-content">
            {{ shop.password_message }}
          </div>
        {% endif %}
      </div>

      <div
        class="row {{ banner_position_class }} banner-text--grid"
      >
        <div class="banner-text--content {{ show_banner }} text-{{ section_st.text_align }}">
          <div
            class="password-with-banner banner-text--content-inner"
            style="--content-width:{{ content_width }}%"
          >
            {%- for block in section.blocks -%}
              {%- liquid
                assign block_st = block.settings
                assign heading_fs = block_st.heading_fs
                assign heading_fw = block_st.heading_fw
                assign heading_mt = block_st.heading_mt
                assign heading_mb = block_st.heading_mb
                assign subheading_fs = block_st.subheading_fs
                assign subheading_fw = block_st.subheading_fw
                assign subheading_mt = block_st.subheading_mt
                assign subheading_mb = block_st.subheading_mb
                assign txt_fs = block_st.txt_fs
                assign txt_fw = block_st.txt_fw
                assign txt_mt = block_st.txt_mt
                assign txt_mb = block_st.txt_mb
                assign countdown_design = block_st.countdown_design
                assign bn_end_time = block_st.bn_end_time
                assign bn_txt_fs = block_st.bn_txt_fs
                assign number_txt_fs = block_st.number_txt_fs
                assign bn_txt_fw = block_st.bn_txt_fw
                assign bn_txt_mt = block_st.bn_txt_mt
                assign bn_txt_mb = block_st.bn_txt_mb
                assign form_txt_mb = block_st.form_txt_mb
                assign form_txt_mt = block_st.form_txt_mt
              -%}
              {% case block.type %}
                {%- when 'subheading' -%}
                  <h4
                    {{ block.shopify_attributes }}
                    class="bls__banner-text--subheading "
                    style="--text-subheading-font-size: {{ subheading_fs }}px; --text-subheading-font-weight: {{ subheading_fw }}; --text-subheading-mt: {{ subheading_mt }}px; --text-subheading-mb: {{ subheading_mb }}px;"
                  >
                    {{ block.settings.sub_title | escape }}
                  </h4>
                {%- when 'heading' -%}
                  <h2
                    {{ block.shopify_attributes }}
                    class="bls__banner-text--heading "
                    style="--text-heading-font-size: {{ heading_fs }}px; --text-heading-font-weight: {{ heading_fw }}; --text-heading-mt: {{ heading_mt }}px; --text-heading-mb: {{ heading_mb }}px;"
                  >
                    {{ block.settings.title | escape }}
                  </h2>
                {%- when 'description' -%}
                  <div
                    {{ block.shopify_attributes }}
                    class="bls__banner-text--des "
                    style="--text-font-size: {{ txt_fs }}px; --text-font-weight: {{ txt_fw }}; --text-mt: {{ txt_mt }}px; --text-mb: {{ txt_mb }}px;"
                  >
                    {{ block.settings.txt_content }}
                  </div>
                {%- when 'countdown_bn' -%}
                  {% if bn_end_time != blank %}
                    <div
                      {{ block.shopify_attributes }}
                      class="{{ countdown_design }} bls__timer"
                      data-timer="{{ bn_end_time }}"
                    >
                      <div class="d-inline-flex">
                        <div
                          class="timer-display timer-banner flex justify-content-{{ section_st.text_align }}"
                          style="--bn-number-font-size: {{ number_txt_fs }}px;--bn-text-font-size: {{ bn_txt_fs }}px; --bn-text-font-weight: {{ bn_txt_fw }}; --bn-text-mt: {{ bn_txt_mt }}px; --bn-text-mb: {{ bn_txt_mb }}px;"
                        >
                          <div class="timer-block">
                            <span class="timer-block__num js-timer-days">00</span>
                            <span class="timer-block__text">{{ 'sections.countdown.format.days' | t }}</span>
                          </div>
                          <div class="timer-block">
                            <span class="timer-block__num js-timer-hours">00</span>
                            <span class="timer-block__text">{{ 'sections.countdown.format.hours' | t }}</span>
                          </div>
                          <div class="timer-block">
                            <span class="timer-block__num js-timer-minutes">00</span>
                            <span class="timer-block__text">{{ 'sections.countdown.format.mins' | t }}</span>
                          </div>
                          <div class="timer-block">
                            <span class="timer-block__num js-timer-seconds">00</span>
                            <span class="timer-block__text">{{ 'sections.countdown.format.secs' | t }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {%- when 'form_subscribe' -%}
                  <div
                    {{ block.shopify_attributes }}
                    class="bls__subcribe-submit"
                    style="--mb: {{ form_txt_mb }}px; --mt:{{  form_txt_mt }}px"
                  >
                    {%- form 'customer', class: 'form-password-page', novalidate: 'novalidate' -%}
                      <input
                        type="hidden"
                        name="contact[tags]"
                        value="newsletter"
                      >
                      <div class="field relative flex wrap gap-10 justify-content-{{ section_st.text_align }}">
                        <input
                          type="email"
                          required
                          name="contact[email]"
                          value="{% if customer %}{{ customer.email }}{% endif %}"
                          placeholder="{{ block.settings.email_placeholder }}"
                          class="password__subcribe-input btn-radius mr-10"
                          {% if form.errors %}
                            aria-invalid="true"
                            aria-describedby="Password-error--{{ section.id }}"
                          {% elsif form.posted_successfully? %}
                            aria-describedby="Password-success--{{ section.id }}"
                          {% endif %}
                        >
                        <button
                          type="submit"
                          name="commit"
                          class="password__subcribe-button btn btn-primary"
                        >
                          <span class="hidden-on-load"> {{ block.settings.btn_label }}</span>
                          {%- render 'loader' -%}
                        </button>
                      </div>
                      {%- if form.errors -%}
                        <small
                          class="newsletter__message newsletter__message--error"
                          id="Password-error--{{ section.id }}"
                        >
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </small>
                      {%- endif -%}
                      {%- if form.posted_successfully? -%}
                        <div
                          class="newsletter-form__message newsletter-form__message--success success form__message fs-small inline-flex align-center gap-10"
                          id="Password-success--{{ section.id }}"
                          tabindex="-1"
                        >
                          {{- 'newsletter.success' | t }}
                        </div>
                      {%- endif -%}
                    {%- endform -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>

<script type="module">
  import { setupFormValidation } from '{{ "formValidation.js" | asset_url }}';
  import { BlsPasswordPopup } from '{{ "password-modal.js" | asset_url }}';
  import { FormValidator } from '{{ "formValidation.js" | asset_url }}';

  window.FormValidator = FormValidator;
  BlsPasswordPopup.init();

  document.addEventListener('DOMContentLoaded', () => {
    setupFormValidation({
      formSelector: 'form.form-password-page',
      fields: {
        'contact[email]': (value) => {
          const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
          return !value
            ? '{{ "customer.validate.email" | t }}'
            : !emailRegex.test(value)
            ? '{{ "customer.validate.email_invalid" | t }}'
            : '';
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-password-content.name",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "select",
      "id": "banner_position",
      "label": "t:sections.main-collection-banner.settings.image_position.label",
      "default": "position-right",
      "options": [
        {
          "value": "position-left",
          "label": "t:sections.main-collection-banner.settings.image_position.option__1"
        },
        {
          "value": "position-right",
          "label": "t:sections.main-collection-banner.settings.image_position.option__2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-password-content.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "range",
      "id": "content_width",
      "label": "t:sections.main-password-content.settings.content_width.label",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.all.content_setting.heading.label",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.all.content_setting.heading.label",
          "default": "Heading"
        },
        {
          "type": "range",
          "id": "heading_fs",
          "label": "t:settings_schema.typography.settings.font_size",
          "min": 20,
          "max": 120,
          "step": 1,
          "unit": "px",
          "default": 40
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.spacing"
        },
        {
          "type": "range",
          "id": "heading_mt",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.padding.padding_top"
        },
        {
          "type": "range",
          "id": "heading_mb",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 10,
          "label": "t:sections.all.padding.padding_bottom"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.all.content_setting.subheading.label",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "sub_title",
          "label": "t:sections.all.content_setting.subheading.label",
          "default": "Subheading"
        },
        {
          "type": "range",
          "id": "subheading_fs",
          "label": "t:settings_schema.typography.settings.font_size",
          "min": 10,
          "max": 20,
          "step": 1,
          "unit": "px",
          "default": 14
        },
        {
          "type": "range",
          "id": "subheading_fw",
          "label": "t:settings_schema.typography.settings.font_weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 500
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.spacing"
        },
        {
          "type": "range",
          "id": "subheading_mt",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.padding.padding_top"
        },
        {
          "type": "range",
          "id": "subheading_mb",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "default": 10,
          "label": "t:sections.all.padding.padding_bottom"
        }
      ]
    },
    {
      "type": "countdown_bn",
      "name": "t:sections.main-password-content.blocks.countdown_bn.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "countdown_design",
          "default": "countdown_design_1",
          "label": "t:sections.main-password-content.blocks.countdown_bn.settings.countdown_design.label",
          "options": [
            {
              "value": "countdown_design_1",
              "label": "t:sections.main-password-content.blocks.countdown_bn.settings.countdown_design.options__1.label"
            },
            {
              "value": "countdown_design_2",
              "label": "t:sections.main-password-content.blocks.countdown_bn.settings.countdown_design.options__2.label"
            },
            {
              "value": "countdown_design_3",
              "label": "t:sections.main-password-content.blocks.countdown_bn.settings.countdown_design.options__3.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "bn_end_time",
          "label": "t:sections.main-password-content.blocks.countdown_bn.settings.bn_end_time.label",
          "default": "12-24-2025",
          "info": "e.g. mm-dd-yyyy"
        },
        {
          "type": "range",
          "id": "bn_txt_fs",
          "label": "t:sections.main-password-content.blocks.countdown_bn.settings.bn_txt_fs.label",
          "min": 8,
          "max": 30,
          "step": 1,
          "unit": "px",
          "default": 18
        },
        {
          "type": "range",
          "id": "number_txt_fs",
          "label": "t:settings_schema.typography.settings.font_size",
          "min": 24,
          "max": 80,
          "step": 1,
          "unit": "px",
          "default": 36
        },
        {
          "type": "range",
          "id": "bn_txt_fw",
          "label": "t:sections.main-password-content.blocks.countdown_bn.settings.bn_txt_fw.label",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.spacing"
        },
        {
          "type": "range",
          "id": "bn_txt_mt",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.padding.padding_top"
        },
        {
          "type": "range",
          "id": "bn_txt_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 25,
          "label": "t:sections.all.padding.padding_bottom"
        }
      ]
    },
    {
      "type": "form_subscribe",
      "name": "t:sections.main-password-content.blocks.form_subscribe.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "email_placeholder",
          "label": "t:sections.main-password-content.blocks.form_subscribe.settings.email_placeholder.label",
          "default": "Enter your email..."
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "t:sections.main-password-content.blocks.form_subscribe.settings.btn_label.label",
          "default": "Subscribe"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.spacing"
        },
        {
          "type": "range",
          "id": "form_txt_mt",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.padding.padding_top"
        },
        {
          "type": "range",
          "id": "form_txt_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 25,
          "label": "t:sections.all.padding.padding_bottom"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-password-content.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "txt_content",
          "label": "t:sections.main-password-content.blocks.text.name",
          "default": "<p>This shop will be powered by ALukas - Multipurpose Premium Shopify theme (password: 1). Are you the store owner? Log in here</p>"
        },
        {
          "type": "range",
          "id": "txt_fs",
          "label": "t:settings_schema.typography.settings.font_size",
          "min": 8,
          "max": 30,
          "step": 1,
          "unit": "px",
          "default": 16
        },
        {
          "type": "range",
          "id": "txt_fw",
          "label": "t:settings_schema.typography.settings.font_weight.label",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.spacing"
        },
        {
          "type": "range",
          "id": "txt_mt",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "t:sections.all.padding.padding_top"
        },
        {
          "type": "range",
          "id": "txt_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 25,
          "label": "t:sections.all.padding.padding_bottom"
        }
      ]
    }
  ]
}
{% endschema %}
