{%- liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign scroll_animation = theme_st.scroll_animation
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'fluid_container'
  endif
-%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}
<div
  class="section template-404"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }} flex justify-center align-center column text-center">
    {%- for block in section.blocks -%}
      {%- liquid
        assign block_st = block.settings
        assign image = block_st.image
      -%}
      {%- case block.type -%}
          {% assign animate_delay = 25 %}
        {%- when 'image' -%}
          <div
            class="w-full max-w-custom mb-50 rounded"
            style="{%- if image != blank -%}--aspect-ratio: {{ image.aspect_ratio }};{% else %}--aspect-ratio: 4/3;{% endif %};--max-width: 50rem;"
          >
            {%- assign image_alt = image.alt | escape | default: 'image' -%}
            {%- if image != blank -%}
              {% render 'responsive-image',
                type: 'other',
                container: section_width,
                image: image,
                image_alt: image_alt
              %}
            {% else %}
              {%- render 'placeholder-render', type: 'lifestyle-2', class: 'img-placeholder h-full w-full rounded' -%}
            {% endif %}
          </div>
        {%- when 'subheading' -%}
          {%- if scroll_animation -%}
            <motion-effect
              data-animate="fade-up"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {%- endif -%}
          <div
            class="block__content-subheading subheading_weight heading mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %}{% if block_st.uppercase %} uppercase{% endif %} fs-{{ block_st.subheading_size }}"
            style="--space-bottom: {{ block_st.spacing_bottom }};"
          >
            {{ block_st.subheading | escape }}
          </div>
          {%- if scroll_animation -%}
            </motion-effect>
          {%- endif -%}
        {%- when 'heading' -%}
          {% assign animate_delay = animate_delay | plus: 50 %}
          {%- if scroll_animation -%}
            <motion-effect
              data-animate="fade-up"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {%- endif -%}
          <div
            class="block__content-heading mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %}{% if block_st.uppercase %} uppercase{% endif %} {{ block_st.heading_size }}"
            style="--space-bottom: {{ block_st.spacing_bottom }};"
            {{ block.shopify_attributes }}
          >
            {{ block_st.heading }}
          </div>
          {%- if scroll_animation -%}
            </motion-effect>
          {%- endif -%}
        {%- when 'description' -%}
          {% assign animate_delay = animate_delay | plus: 50 %}
          {%- if scroll_animation -%}
            <motion-effect
              data-animate="fade-up"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {%- endif -%}
          <div
            class="block__content-des mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %} fs-{{ block_st.description_size }} prose"
            style="--space-bottom: {{ block_st.spacing_bottom }};"
            {{ block.shopify_attributes }}
          >
            {{ block_st.description }}
          </div>
          {%- if scroll_animation -%}
            </motion-effect>
          {%- endif -%}
        {%- when 'button' -%}
          {%- liquid
            assign first_button_label = block_st.first_button_label
            assign first_button_link = block_st.first_button_link
            assign first_button_type = block_st.first_button_type
            assign second_button_label = block_st.second_button_label
            assign second_button_link = block_st.second_button_link
            assign second_button_type = block_st.second_button_type
          %}
          {% if first_button_label != blank or block_st.second_button_label != blank %}
            {% assign animate_delay = animate_delay | plus: 50 %}
            {%- if scroll_animation -%}
              <motion-effect
                data-animate="fade-up"
                data-animate-delay="{{ animate_delay }}"
                class="block"
              >
            {%- endif -%}
            <div
              class="block__buttons mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %} flex wrap text-center gap-15 content-center"
              style="--space-bottom: {{ block_st.spacing_bottom }};"
            >
              {% if first_button_label != blank %}
                <a
                  {% if first_button_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ first_button_link | default: "#" }}"
                  {% endif %}
                  aria-label="{{ first_button_label }}"
                  class="btn pointer btn-{{ first_button_type }}{% if first_button_type == "link" %} align-self-center border-animation{% else %} w-md-custom w-full max-w-100{% endif %}"
                  {% if first_button_type != 'link' %}
                    style="--width: 25rem;"
                  {% endif %}
                >
                  {{ first_button_label }}
                </a>
              {% endif %}
              {% if second_button_label != blank %}
                <a
                  {% if second_button_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ second_button_link | default: "#" }}"
                  {% endif %}
                  aria-label="{{ second_button_label }}"
                  class="btn pointer btn-{{ second_button_type }}{% if second_button_type == "link" %} align-self-center border-animation{% else %} w-md-custom w-full max-w-100{% endif %}"
                  {% if second_button_type != 'link' %}
                    style="--width: 25rem;"
                  {% endif %}
                >
                  {{ second_button_label }}
                </a>
              {% endif %}
            </div>
            {%- if scroll_animation -%}
              </motion-effect>
            {%- endif -%}
          {% endif %}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-404.name",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-404.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 90
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 90
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.all.image.label",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.all.content_setting.heading.label",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.all.content_setting.heading.label",
          "default": "Talk about your brand"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h4",
              "label": "t:sections.all.content_header.heading_size.x_small.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.content_header.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.content_header.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.content_header.heading_size.options__3.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.content_header.heading_size.x_large.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.content_header.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "uppercase",
          "default": false,
          "label": "t:settings_schema.typography.settings.heading.text_transform.uppercase"
        },
        {
          "type": "range",
          "id": "spacing_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.spacing_bottom",
          "default": 15
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.all.content_setting.subheading.label",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.all.content_setting.subheading.label",
          "default": "Subheading"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "options": [
            {
              "value": "small-1",
              "label": "t:sections.all.content_header.heading_size.options__1.label"
            },
            {
              "value": "",
              "label": "t:sections.all.content_header.heading_size.options__2.label"
            },
            {
              "value": "big-2",
              "label": "t:sections.all.content_header.heading_size.options__3.label"
            }
          ],
          "default": "",
          "label": "t:sections.all.content_header.heading_size.size"
        },
        {
          "type": "checkbox",
          "id": "uppercase",
          "default": false,
          "label": "t:settings_schema.typography.settings.heading.text_transform.uppercase"
        },
        {
          "type": "range",
          "id": "spacing_bottom",
          "min": 0,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.spacing_bottom",
          "default": 10
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.all.content_setting.description.label",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>Add a short description for this section.</p>",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "select",
          "id": "description_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.content_header.heading_size.options__1.label"
            },
            {
              "value": "",
              "label": "t:sections.all.content_header.heading_size.options__2.label"
            },
            {
              "value": "big-2",
              "label": "t:sections.all.content_header.heading_size.options__3.label"
            }
          ],
          "default": "",
          "label": "t:sections.all.content_header.heading_size.size"
        },
        {
          "type": "range",
          "id": "spacing_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.spacing_bottom",
          "default": 20
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.all.content_setting.button_label-block.label",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.all.content_setting.first_button_label.name"
        },
        {
          "type": "text",
          "id": "first_button_label",
          "default": "Button label",
          "label": "t:sections.all.content_setting.first_button_label.label"
        },
        {
          "type": "url",
          "id": "first_button_link",
          "label": "t:sections.all.content_setting.first_button_label.link"
        },
        {
          "type": "select",
          "id": "first_button_type",
          "label": "t:sections.all.content_setting.button_type.label",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.content_setting.button_type.primary.label"
            },
            {
              "value": "outline",
              "label": "t:sections.all.content_setting.button_type.outline.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.content_setting.button_type.link.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.all.content_setting.second_button_label.name"
        },
        {
          "type": "text",
          "id": "second_button_label",
          "label": "t:sections.all.content_setting.second_button_label.label"
        },
        {
          "type": "url",
          "id": "second_button_link",
          "label": "t:sections.all.content_setting.second_button_label.link"
        },
        {
          "type": "select",
          "id": "second_button_type",
          "label": "t:sections.all.content_setting.button_type.label",
          "default": "outline",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.content_setting.button_type.primary.label"
            },
            {
              "value": "outline",
              "label": "t:sections.all.content_setting.button_type.outline.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.content_setting.button_type.link.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "spacing_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.spacing_bottom",
          "default": 0
        }
      ]
    }
  ]
}
{% endschema %}
