{% liquid
  assign theme_st = settings
  assign section_st = section.settings
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'fluid_container'
  endif

  assign enable_cart_note = section_st.enable_cart_note
%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}

<div
  class="page-cart section color-{{ section_st.color_scheme }} gradient{% if cart == empty %} is-empty{% endif %}"
  id="main-cart-items"
  data-id="{{ section.id }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div class="js-contents">
      <div
        class="main-cart flex"
        style="--col-width: 45rem;--gap: 60;"
      >
        <div class="cart-left w-full{% if cart != empty %} col-1025-remaining{% endif %}">
          <div class="sticky-1025">
            <cart-items class="{% if cart == empty %}is-empty{% endif %}">
              {% if cart == empty %}
                <div class="cart__warnings">
                  <h2 class="cart__empty-title">{{ 'sections.cart.empty' | t }}</h2>
                  <a
                    href="{{ routes.all_products_collection_url }}"
                    aria-label="{{ 'general.continue_shopping' | t }}"
                  >
                    {{ 'general.continue_shopping' | t }}
                  </a>
                  {%- if shop.customer_accounts_enabled and customer == null -%}
                    <h2 class="cart__login-title">
                      {{ 'sections.cart.login.title' | t }}
                    </h2>
                    <p class="cart__login-paragraph">
                      {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                    </p>
                  {%- endif -%}
                </div>
              {% endif %}
              {%- if cart != empty -%}
                <div class="hidden flex-1025">
                  <div class="product-title">
                    {{ 'sections.cart.headings.product' | t }}
                  </div>
                  <div class="product-price">
                    {{ 'sections.cart.headings.total' | t }}
                  </div>
                </div>
                <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
                  <div class="cart-items">
                    {%- for item in cart.items -%}
                      <div
                        class="cart-item product__item"
                        id="CartItem-{{ item.index | plus: 1 }}"
                      >
                        <div class="cart-item_inner" style="--gap: 15">
                          {% if item.image %}
                            <div class="cart-item__media w-custom" style="--width: 120px">
                              {%- liquid
                                assign ratio = ''
                                if theme_st.product_image_ratio != 'adapt'
                                  case theme_st.product_image_ratio
                                    when 'square'
                                      assign ratio = '1/1'
                                    when 'landscape'
                                      assign ratio = '4/3'
                                    when 'portrait'
                                      assign ratio = '3/4'
                                  endcase
                                else
                                  assign ratio = item.image.aspect_ratio
                                endif
                              -%}
                              <div
                                class="banner__media"
                                style="--aspect-ratio: {{ ratio }}"
                              >
                                <a
                                  href="{{ item.url }}"
                                  class="cart-item__link"
                                  tabindex="-1"
                                  aria-hidden="true"
                                  aria-label="{{ item.image.alt | escape }}"
                                >
                                  <img
                                    class="cart-item__image"
                                    src="{{ item.image | image_url: width: 300 }}"
                                    alt="{{ item.image.alt | escape }}"
                                    loading="lazy"
                                    width="150"
                                    height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                                  >
                                </a>
                              </div>
                            </div>
                          {% endif %}
                          <div class="cart-item__details">
                            <div class="cart-item__details-info h-full">
                              <div class="cart-item__details-info-top flex">
                                <div class="cart-item-info">
                                  <a
                                    href="{{ item.url }}"
                                    class="product__name"
                                    aria-label="{{ item.product.title | escape }}"
                                  >
                                    {{- item.product.title | escape -}}
                                  </a>
                                  {%- if item.product.has_only_default_variant == false
                                    or item.properties.size != 0
                                    or item.selling_plan_allocation != null
                                  -%}
                                    <div class="product_option-cart">
                                      {%- if item.product.has_only_default_variant == false -%}
                                        {%- for option in item.options_with_values -%}
                                          <div class="product-option">
                                            {{ option.name }}:
                                            {{ option.value -}}
                                            {%- unless forloop.last %} / {% endunless %}
                                          </div>
                                        {%- endfor -%}
                                      {%- endif -%}

                                      {%- for property in item.properties -%}
                                        {%- assign property_first_char = property.first | slice: 0 -%}
                                        {%- if property.last != blank and property_first_char != '_' -%}
                                          <div class="product-option">
                                            {%- if property.last contains '/uploads/' -%}
                                              <a
                                                href="{{ property.last }}"
                                                class="link"
                                                target="_blank"
                                                aria-describedby="a11y-new-window-message"
                                                aria-label="{{ property.last }}"
                                              >
                                                {{ property.last | split: '/' | last }}
                                              </a>
                                            {%- else -%}
                                              {{ property.last }}
                                            {%- endif -%}
                                          </div>
                                        {%- endif -%}
                                      {%- endfor -%}
                                    </div>
                                    <p class="product-option">
                                      {{ item.selling_plan_allocation.selling_plan.name }}
                                    </p>
                                  {%- endif -%}
                                  {%- if item.original_price != item.final_price -%}
                                    <div class="cart-item__discounted-prices">
                                      <span class="visually-hidden">
                                        {{ 'products.product.price.regular_price' | t }}
                                      </span>
                                      <s class="cart-item__old-price product-option">
                                        {{- item.original_price | money -}}
                                      </s>
                                      <span class="visually-hidden">
                                        {{ 'products.product.price.sale_price' | t }}
                                      </span>
                                      <strong class="cart-item__final-price product-option">
                                        {{ item.final_price | money }}
                                      </strong>
                                    </div>
                                  {%- else -%}
                                    <div>
                                      {{ item.original_price | money }}
                                    </div>
                                  {%- endif -%}
                                  <ul
                                    class="discounts"
                                    role="list"
                                    aria-label="{{ 'customer.order.discount' | t }}"
                                  >
                                    {%- for discount in item.discounts -%}
                                      <li class="discounts__discount">
                                        <li class="discounts__discount discounts__discount--position">
                                          <svg
                                            aria-hidden="true"
                                            focusable="false"
                                            class="icon icon-discount"
                                            viewBox="0 0 12 12"
                                          >
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z" fill="currentColor">
                                          </svg>

                                          {{ discount.title }}
                                          (-{{ discount.total_allocated_amount | money }})
                                        </li>
                                        {{ discount.title }}
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </div>
                                <div class="cart-item__totals hidden block-1025">
                                  <div class="cart-item__price-wrapper">
                                    {%- if item.original_line_price != item.final_line_price -%}
                                      <div class="cart-item__discounted-prices">
                                        <span class="visually-hidden">
                                          {{ 'products.product.price.regular_price' | t }}
                                        </span>
                                        <s class="cart-item__old-price price price--end">
                                          {{ item.original_line_price | money }}
                                        </s>
                                        <span class="visually-hidden">
                                          {{ 'products.product.price.sale_price' | t }}
                                        </span>
                                        <span class="price price--end">
                                          {{ item.final_line_price | money }}
                                        </span>
                                      </div>
                                    {%- else -%}
                                      <span class="visually-hidden">
                                        {{ 'products.product.price.regular_price' | t }}
                                      </span>
                                      <span class="price price--end">
                                        {{ item.original_line_price | money }}
                                      </span>
                                    {%- endif -%}

                                    {%- if item.variant.available and item.unit_price_measurement -%}
                                      <div class="unit-price caption">
                                        <span class="visually-hidden">
                                          {{- 'products.product.price.unit_price' | t -}}
                                        </span>
                                        {{ item.variant.unit_price | money }}
                                        <span aria-hidden="true">/</span>
                                        <span class="visually-hidden"
                                          >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                        >
                                        {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                          {{- item.variant.unit_price_measurement.reference_value -}}
                                        {%- endif -%}
                                        {{ item.variant.unit_price_measurement.reference_unit }}
                                      </div>
                                    {%- endif -%}
                                  </div>
                                </div>
                              </div>
                              <div class="cart-item__quantity-wrapper product-form__input product-form__quantity">
                                <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                                  {{ 'products.product.quantity.label' | t }}
                                </label>
                                <quantity-input id="Quantity-Form-{{ section.id }}" class="quantity cart-quantity">
                                  <button
                                    class="quantity__button no-js-hidden relative"
                                    name="minus"
                                    type="button"
                                  >
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.decrease'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <svg
                                      width="9"
                                      height="2"
                                      viewBox="0 0 9 2"
                                      fill="none"
                                    >
                                      <use href="#icon-minus"></use>
                                    </svg>
                                  </button>
                                  <input
                                    class="quantity__input w-custom"
                                    type="number"
                                    style="--width: 5rem;--input-height: 38px;"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                                  <button
                                    class="quantity__button no-js-hidden relative"
                                    name="plus"
                                    type="button"
                                  >
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.increase'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <svg width="9" height="10" viewBox="0 0 9 10" fill="none">
                                      <use href="#icon-plus"></use>
                                    </svg>
                                  </button>
                                </quantity-input>

                                <cart-remove-button
                                  id="Remove-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                                  <a
                                    href="{{ item.url_to_remove }}"
                                    class="button button--tertiary"
                                    aria-label="{{ 'sections.cart.remove_title' | t }}"
                                  >
                                    <span>
                                      {{- 'sections.cart.remove_title' | t -}}
                                    </span>
                                  </a>
                                </cart-remove-button>
                              </div>
                              <div
                                class="cart-item__error"
                                id="Line-item-error-{{ item.index | plus: 1 }}"
                                role="alert"
                              >
                                <small class="cart-item__error-text error-messeage"></small>
                                <svg
                                  class="absolute"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 18 18"
                                  fill="none"
                                >
                                  <use href="#icon-error"></use>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {%- endfor -%}
                  </div>
                  <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
                  <p
                    class="visually-hidden"
                    id="shopping-cart-line-item-status"
                    aria-live="polite"
                    aria-hidden="true"
                    role="status"
                  >
                    {{ 'accessibility.loading' | t }}
                  </p>
                </form>
              {%- endif -%}
            </cart-items>
          </div>
        </div>
        {%- if cart != empty -%}
          <div class="cart-right w-full col-1025-w-custom">
            <div class="sticky-1025">
              {%- if enable_cart_note -%}
                <cart-note class="cart__note">
                  <div class="cart__note-title active relative flex">
                    <label>{{ 'sections.cart.note' | t }}</label>
                  </div>
                  <div class="cart__note-content" style="display: block;">
                    <textarea
                      class="text-area field__input w-full"
                      name="note"
                      form="cart"
                      id="Cart-note"
                      placeholder="{{ 'sections.cart.note' | t }}"
                    >{{ cart.note }}</textarea>
                  </div>
                </cart-note>
              {%- endif -%}
              <cart-estimate class="block bls__addon no-js-hidden" id="bls__shipping">
                <form>
                  <div class="bls__addon-title active relative flex">
                    <span>{{ 'sections.cart.shipping.estimate_shipping_title' | t }}</span>
                  </div>
                  <div class="bls__addon-main-content block">
                    <div class="bls__addon-content">
                      <div data-address="root">
                        <div class="form-group flex column select">
                          <label for="address_country">{{ 'customer.addresses.country' | t }}</label>
                          <div class="select relative">
                            <select
                              id="address_country"
                              class="form-control w-full"
                              name="address[country]"
                              data-default="{{ theme_st.default_country_estimate_shipping | default: 'United States' }}"
                            >
                              {{ country_option_tags }}
                            </select>
                          </div>
                        </div>
                        <div
                          id="address_province_container"
                          class="address_province_container form-group flex column"
                        >
                          <label for="address_province">{{ 'customer.addresses.province' | t }}</label>
                          <div class="select relative">
                            <select
                              id="address_province"
                              class="form-control w-full"
                              name="address[province]"
                              data-default=""
                            ></select>
                          </div>
                        </div>
                        <div class="form-group flex column">
                          <label for="AddressZip">{{ 'customer.addresses.zip' | t }}</label>
                          <input
                            type="text"
                            class="form-control"
                            id="AddressZip"
                            name="address[zip]"
                            value=""
                            autocapitalize="characters"
                            autocomplete="postal-code"
                          >
                        </div>
                      </div>
                    </div>
                    <div class="bls__addon-actions">
                      <button
                        class="btn-save w-full"
                        data-action="shipping"
                      >
                        {{ 'sections.cart.shipping.estimate_shipping_button' | t }}
                      </button>
                    </div>
                    <div class="bls__addon-message"></div>
                  </div>
                </form>
              </cart-estimate>
              <div class="totals flex wrap">
                <span class="totals__subtotal"> {{ 'sections.cart.subtotal' | t }}:</span>
                {{ cart.total_price | money_with_currency }}
              </div>
              <div class="js-contents">
                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul
                      class="discounts"
                      role="list"
                      aria-label="{{ 'customer.order.discount' | t }}"
                    >
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            class="icon icon-discount"
                            viewBox="0 0 12 12"
                          >
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z" fill="currentColor">
                          </svg>

                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
                <p class="caption-large rte">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </p>
              </div>

              <div class="cart__ctas">
                <noscript>
                  <button type="submit" class="cart__update-button" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button
                  type="submit"
                  id="checkout"
                  class="cart__checkout-button w-full"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                  form="cart"
                >
                  <span id="cart-live-region-text" aria-live="polite" role="status">
                    {{ 'sections.page_cart.checkout' | t }}
                  </span>
                </button>
              </div>
              <a
                href="{{ routes.all_products_collection_url }}"
                class="w-full block"
                aria-label="{{ 'general.continue_shopping' | t }}"
              >
                {{- 'general.continue_shopping' | t -}}
              </a>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
              <div id="cart-errors"></div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "checkbox",
      "id": "enable_cart_note",
      "label": "t:sections.main-cart-items.settings.enable_cart_note",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ]
}
{% endschema %}
