{%- liquid
  assign section_st = section.settings
  assign items_to_show = section_st.items_to_show
  assign aspect_ratio = '1/1'
  case section_st.image_ratio
    when 'adapt'
      assign aspect_ratio = 'adapt'
    when 'square'
      assign aspect_ratio = '1/1'
    when 'portrait'
      assign aspect_ratio = '3/4'
    else
      assign aspect_ratio = '4/3'
  endcase
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'fluid_container'
  endif

  assign column_gap_slide = 0
  if section_st.column_gap == 'large'
    assign column_gap_slide = 30
  elsif section_st.column_gap == 'medium'
    assign column_gap_slide = 20
  elsif section_st.column_gap == 'small'
    assign column_gap_slide = 10
  endif
-%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}

{%- capture style_col -%}
  --col-number: 1;--col-tablet: 2;--col-desktop: {{ section_st.columns_desktop }};
  {% if column_gap_slide < 15 %}--gap: {{ column_gap_slide }}px;{% else %}--gap: 15px;--gap-desktop: {{  column_gap_slide }}px;{% endif %}
  {%- endcapture -%}
<div
  class="section color-{{ section_st.color_scheme }} gradient"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    {%- if section_st.collection_to_show == 'all' -%}
      {%- liquid
        case section_st.sort
          when 'products_high', 'products_low'
            assign collections = collections | sort: 'all_products_count'
          when 'date', 'date_reversed'
            assign collections = collections | sort: 'published_at'
        endcase

        if section_st.sort == 'products_high' or section_st.sort == 'date_reversed' or section_st.sort == 'alphabetical_reversed'
          assign collections = collections | reverse
        endif
      -%}

      {%- paginate collections by items_to_show -%}
        {%- assign alt_collection = 'sections.collection_list.sample_name' | t -%}
        <div
          class="collection-list-grid grid-cols gap grid"
          style="{{ style_col | strip | strip_newlines }};"
        >
          {% for collection in collections limit: items_to_show %}
            <div
              class="collection-items relative"
            >
              <div
                class="banner__media collection-media"
                style="
                  {%- if aspect_ratio == "adapt" -%}
                    {%- if collection == blank -%}
                      --aspect-ratio: 3/4;
                    {%- endif -%}
                    {%- else -%}
                    --aspect-ratio: {{ aspect_ratio }};
                  {%- endif -%}
                "
              >
                {%- if collection != blank -%}
                  {%- liquid
                    assign collection_url = collection.url
                    assign collection_img = collection.featured_image
                  -%}
                  <a
                    class="collection_banner-image{% if section.settings.information_position == 'overlay' %} overlay-image{% endif %} block relative"
                    {% if collection_url == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ collection_url }}"
                      aria-label="{{ collection.title | default: alt_collection }}"
                    {% endif %}
                    style="--aspect-ratio: {% if aspect_ratio == "adapt" %}{% if collection_img %}{{ collection_img.aspect_ratio }}{% else %}1/1{% endif %}{% else %}{{ aspect_ratio }}{% endif %}"
                  >
                    {%- assign banner_alt = collection_img.alt | default: collection.title | escape -%}
                    {%- if collection_img -%}
                      {{
                        collection_img
                        | image_url: width: 750
                        | image_tag:
                          loading: 'lazy',
                          sizes: '100vw',
                          widths: '165, 360, 535, 750, 1070, 1500',
                          alt: banner_alt
                      }}
                    {%- else -%}
                      {% render 'placeholder-render' | type: "product" %}
                    {%- endif -%}
                  </a>
                {%- else -%}
                  {%- assign default_alt = 'sections.collection_list.sample_name' | t -%}
                  <a
                    class="collection_banner-image{% if section.settings.information_position == 'overlay' %} overlay-image{% endif %} block relative z-2{% if section.settings.information_position == 'overlay' %} overlay-bg{% endif %}"
                    role="link"
                    aria-disabled="true"
                    aria-label="{{ default_alt }}"
                  >
                    {% render 'placeholder-render' | type: "collection" | index: forloop.index %}
                  </a>
                {%- endif -%}
              </div>
              <div
                class="collection-information text-{{ section.settings.text_alignment }}{% if section.settings.information_position == 'overlay' %} absolute{% endif %}"
              >
                {%- if collection != blank -%}
                  {%- liquid
                    assign collection_url = ''
                    if collection != blank
                      assign collection_url = collection.url
                    endif
                  -%}
                  <a
                    class="relative"
                    {% if collection_url == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ collection_url }}"
                      aria-label="{{ collection.title | default: alt_collection }}"
                    {% endif %}
                  >
                    <span> {{ collection.title }}</span>
                  </a>
                {%- else -%}
                  <a
                    class="relative"
                    role="link"
                    aria-disabled="true"
                    aria-label=" {{ 'sections.collection_list.sample_name' | t }}"
                  >
                    {{ 'sections.collection_list.sample_name' | t }}
                  </a>
                {%- endif -%}
                {%- if section_st.show_product_count -%}
                  <div class="product-count relative z-3">
                    {%- assign products_count = collection.products_count | default: 0 -%}
                    {{ products_count }}
                    {%- if products_count < 2 -%}
                      {{ 'sections.collection_list.item' | t }}
                    {%- else -%}
                      {{ 'sections.collection_list.items' | t }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
          {% endfor %}
        </div>
        {% render 'pagination', paginate: paginate, section_st: section.settings %}
      {%- endpaginate -%}
    {%- else -%}
      <div
        class="collection-list-grid grid-cols gap grid"
        style="{{ style_col | strip | strip_newlines }};"
      >
        {% for block in section.blocks %}
          <div
            class="collection-items"
          >
            <div
              class="banner__media collection-media"
              style="
                {%- if aspect_ratio == "adapt" -%}
                  {%- if block.settings.collection == blank -%}
                    --aspect-ratio: 3/4;
                  {%- endif -%}
                  {%- else -%}
                  --aspect-ratio: {{ aspect_ratio }};
                {%- endif -%}
              "
            >
              {%- if block.settings.collection != blank -%}
                {%- liquid
                  assign collection_url = block.settings.collection.url
                  assign collection_img = block.settings.collection.featured_image
                -%}
                {%- if block.settings.collection_image != blank -%}
                  {%- assign collection_img = block.settings.collection_image -%}
                {%- endif -%}
                <a
                  class="collection_banner-image{% if section.settings.information_position == 'overlay' %} overlay-image{% endif %} block relative"
                  {% if collection_url == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ collection_url }}"
                    aria-label="{{ block.settings.collection.title }} | t"
                  {% endif %}
                  style="--aspect-ratio: {% if aspect_ratio == "adapt" %}{% if collection_img %}{{ collection_img.aspect_ratio }}{% else %}1/1{% endif %}{% else %}{{ aspect_ratio }}{% endif %}"
                >
                  {%- assign banner_alt = collection_img.alt | default: block.settings.collection.title | escape -%}
                  {%- if collection_img -%}
                    {{
                      collection_img
                      | image_url: width: 750
                      | image_tag:
                        loading: 'lazy',
                        sizes: '100vw',
                        widths: '165, 360, 535, 750, 1070, 1500',
                        alt: banner_alt
                    }}
                  {%- else -%}
                    {% render 'placeholder-render' | type: "product" %}
                  {%- endif -%}
                </a>
              {%- else -%}
                {%- assign default_alt = 'sections.collection_list.sample_name' | t -%}
                <a
                  class="collection_banner-image{% if section.settings.information_position == 'overlay' %} overlay-image{% endif %} block relative"
                  role="link"
                  aria-disabled="true"
                  aria-label="{{ default_alt }}"
                >
                  {% render 'placeholder-render' | type: "collection" | index: forloop.index %}
                </a>
              {%- endif -%}
            </div>
            <div
              class="collection-information text-{{ section.settings.text_alignment }}{% if section.settings.information_position == 'overlay' %} absolute{% endif %}"
            >
              {%- if block.settings.collection_title == blank -%}
                {%- if block.settings.collection != blank -%}
                  {%- liquid
                    assign collection_url = ''
                    if block.settings.collection != blank
                      assign collection_url = block.settings.collection.url
                    endif
                  -%}
                  <a
                    class="zelative"
                    {% if collection_url == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ collection_url }}"
                    {% endif %}
                    aria-label="{{ block.settings.collection.title }}"
                  >
                    {{ block.settings.collection.title }}
                  </a>
                {%- else -%}
                  <a
                    class="relative"
                    role="link"
                    aria-disabled="true"
                    aria-label="{{ 'sections.collection_list.sample_name' | t }}"
                  >
                    {{ 'sections.collection_list.sample_name' | t }}
                  </a>
                {%- endif -%}
              {%- else -%}
                {%- liquid
                  assign collection_url = ''
                  if block.settings.collection != blank
                    assign collection_url = block.settings.collection.url
                  endif
                -%}
                <a
                  class="relative"
                  {% if collection_url == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ collection_url }}"
                  {% endif %}
                  aria-label="{{ block.settings.collection_title }}"
                >
                  {{ block.settings.collection_title }}
                </a>
              {%- endif -%}
              {%- if section.settings.show_product_count -%}
                <div class="product-count relative">
                  {%- assign products_count = block.settings.collection.products_count | default: 0 -%}
                  {{ products_count }}
                  {%- if products_count < 2 -%}
                    {{ 'sections.collection_list.item' | t }}
                  {%- else -%}
                    {{ 'sections.collection_list.items' | t }}
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        {% endfor %}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.header.collection"
    },
    {
      "type": "select",
      "id": "collection_to_show",
      "options": [
        {
          "value": "all",
          "label": "t:sections.main-list-collections.settings.collection_to_show.options__1.label"
        },
        {
          "value": "selected",
          "label": "t:sections.main-list-collections.settings.collection_to_show.options__2.label"
        }
      ],
      "default": "all",
      "label": "t:sections.main-list-collections.settings.collection_to_show.label"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.adapt"
        },
        {
          "value": "square",
          "label": "t:sections.all.image.aspect_ratio.options__1"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image.aspect_ratio.options__2"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image.aspect_ratio.options__3"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.image.aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "information_position",
      "options": [
        {
          "value": "overlay",
          "label": "t:sections.main-list-collections.settings.information_position.options__1.label"
        },
        {
          "value": "below",
          "label": "t:sections.main-list-collections.settings.information_position.options__2.label"
        }
      ],
      "default": "below",
      "label": "t:sections.main-list-collections.settings.information_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_product_counts.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "range",
      "id": "items_to_show",
      "min": 4,
      "max": 24,
      "step": 1,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.items_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.main-list-collections.blocks.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.settings.header.collection"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "t:sections.main-list-collections.blocks.settings.collection_image"
        }
      ]
    }
  ]
}
{% endschema %}
