{% liquid
  assign section_st = section.settings
  assign eb_mobile_navbar = section_st.eb_mobile_navbar
  assign show_account = section_st.show_account
  assign show_shop = section_st.show_shop
  assign show_cart = section_st.show_cart
  assign show_homepage = section_st.show_homepage
%}
{%- if eb_mobile_navbar -%}
  {% style %}
    mobile-navigation-bar .cart-count {
      top: -5px;
      left: 13px;
    }
  {% endstyle %}
  {%- if show_homepage or show_shop or show_account or show_cart -%}
    <mobile-navigation-bar class="bls__mobile-navigation-bar opacity-0 amimate_show-hide transition-drawer block hidden-md fixed bottom-0 inset-x-0 z-5 bg-white shadow px-20 py-10 fs-12">
      <ul class="flex content-center align-center list-unstyled text-center">
        {%- if show_homepage -%}
          <li class="flex-1">
            <a
              href="{{ routes.root_url }}"
              id="homepage-icon-bubble"
              class="flex column content-center heading-color gap-5{% if request.path == "/" %} active{% endif %}"
            >
              {% render 'icon-home' %}
              <span class="block">{{ 'general.mobile_navbar.homepage' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if show_shop -%}
          <li class="flex-1">
            <a
              href="{{ collections.all.url }}"
              class="inline-flex column content-center heading-color gap-5{% if request.path == "/collections/all" %} active{% endif %}"
            >
              {% render 'icon-shop', custom_width: 24 %}
              <span class="block">{{ 'general.mobile_navbar.shop' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if show_account -%}
          <li class="flex-1">
            <a
              href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
              class="inline-flex column content-center heading-color gap-5{% if request.path == "/account/login" or request.path == "/account" %} active{% endif %}"
              aria-label="{{ 'customer.account_fallback' | t }}"
            >
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.8398 18.2499C17.872 16.622 16.5597 15.2862 15.0193 14.3611C13.479 13.4359 11.7581 12.95 10.0094 12.9463C8.26069 12.9427 6.53821 13.4214 4.99474 14.3401C3.45127 15.2589 2.09046 16.6332 1.11722 18.257" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                <circle cx="9.99888" cy="5.67857" r="3.92857" stroke="currentColor" stroke-width="1.5"/>
              </svg>
              <span class="block fs-small">
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.account_fallback' | t
                  endif
                -%}
              </span>
            </a>
          </li>
        {%- endif -%}
        {%- if show_cart -%}
          <li class="flex-1">
            <a
              href="{{ routes.cart_url }}"
              class="inline-flex column content-center heading-color gap-5 icon--cart-action relative{% if request.path == "/cart" %} active{% endif %}"
              id="cart-icon-bubble-mobile"
            >
              <span class="relative inline-flex">
                {%- if settings.cart_icon == 'shopping_bag' -%}
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <use href="#icon-cart" />
                  </svg>
                {%- else -%}
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <use href="#icon-cart" />
                  </svg>
                {%- endif -%}
                {%- if cart != empty -%}
                  <div class="cart-count content-center absolute bg-primary inline-flex align-center justify-content-center rounded-50 overflow-hidden fs-12">
                    {%- if cart.item_count < 100 -%}
                      <span aria-hidden="true">{{ cart.item_count }}</span>
                    {%- else -%}
                      <span aria-hidden="true">~</span>
                    {%- endif -%}
                    <span class="visually-hidden">{{ 'sections.cart_count' | t: count: cart.item_count }}</span>
                  </div>
                {%- else -%}
                  <div class="cart-count content-center absolute bg-primary inline-flex align-center justify-content-center rounded-50 overflow-hidden fs-12">
                    <span aria-hidden="true">0</span>
                  </div>
                {%- endif -%}
              </span>
              <span class="block">{{ 'templates.cart.cart' | t }}</span>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </mobile-navigation-bar>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "t:sections.mobile-navigation-bar.name",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.mobile-navigation-bar.info"
    },
    {
      "type": "checkbox",
      "id": "eb_mobile_navbar",
      "label": "t:sections.mobile-navigation-bar.settings.show_section",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_homepage",
      "label": "t:sections.mobile-navigation-bar.settings.show_homepage",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shop",
      "label": "t:sections.mobile-navigation-bar.settings.show_shop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "t:sections.mobile-navigation-bar.settings.show_account",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "t:sections.mobile-navigation-bar.settings.show_cart",
      "default": true
    }
  ]
}
{% endschema %}
