{{ 'banner.css' | asset_url | stylesheet_tag }}
{% liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign scroll_animation = theme_st.scroll_animation
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width'
  else
    assign section_width = 'fluid_container'
  endif

  assign column_gap_slide = 0
  assign column_gap_mb = 0
  if section_st.column_gap == 'x_large'
    assign column_gap_slide = 50
    assign column_gap_mb = 20
  elsif section_st.column_gap == 'large'
    assign column_gap_slide = 30
    assign column_gap_mb = 20
  elsif section_st.column_gap == 'medium'
    assign column_gap_slide = 20
    assign column_gap_mb = 20
  elsif section_st.column_gap == 'small'
    assign column_gap_slide = 10
    assign column_gap_mb = 10
  endif

  assign heading_size = section_st.heading_size
  assign header_size = ''
  if heading_size == 'small'
    assign header_size = 'h3'
  elsif heading_size == 'large'
    assign header_size = 'h1'
  endif
  assign data_free_scroll = 'false'
  if section_st.items_per_row > 1 and section_st.items_per_row < 2
    assign data_free_scroll = 'true'
  endif
%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
  
{%- endcapture -%}

{%- capture col_style -%}
  --col-number: {{ section_st.items_per_row }};
  --gap-desktop: {{ column_gap_slide }}px;--gap: {{ column_gap_mb }}px;
{%- endcapture -%}
{% style %}
  @media (max-width: 1024.99px) {
    .is-equal-one .col-md-w-custom-50 {
      --col-width: 100% !important;
    }
  }
{% endstyle %}
<div
  class="section__multi-content overflow-hidden section{% if section_st.show_divider %} border-top{% endif %}{% if data_free_scroll == 'true' and section_st.enable_carousel_mobile %} overflow-hidden{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div
    class="{{ section_width }}"
  >
    {%- if section_st.heading != blank or section_st.description != blank or section_st.subheading != blank -%}
      <div
        class="section-header text-{{ section_st.alignment }}"
      >
        {% assign animate_delay = 25 %}
        {%- if section_st.subheading != blank -%}
          {%- if scroll_animation -%}
            <motion-effect
              data-animate="fade-up"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {%- endif -%}
          <div class="section-subheading h7 mb-5 mb-md-10 body_weight fs-big-2 mb-10">
            {{ section_st.subheading }}
          </div>
          {%- if scroll_animation -%}
            </motion-effect>
          {%- endif -%}
        {%- endif -%}
        {%- if section_st.heading != blank -%}
          {% assign animate_delay = animate_delay | plus: 50 %}
          {%- if scroll_animation -%}
            <motion-effect
              data-animate="fade-up"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {%- endif -%}
          <h2 class="block section-heading {{ header_size }}">
            {{ section_st.heading }}
          </h2>
          {%- if scroll_animation -%}
            </motion-effect>
          {%- endif -%}
        {%- endif -%}
        {%- if section_st.description != blank -%}
          {% assign animate_delay = animate_delay | plus: 50 %}
          {%- if scroll_animation -%}
            <motion-effect
              data-animate="fade-up"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {%- endif -%}
          <div class="section-description mt-15 prose">
            {{ section_st.description }}
          </div>
          {%- if scroll_animation -%}
            </motion-effect>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}
    <div
      class="promotion-banner__blocks relative{% if section.blocks.size == 1 %} is-equal-one{% endif %}"
    >
      {% if data_free_scroll == 'true' and section_st.enable_carousel_mobile %}
        <div class="free-scroll">
      {% endif %}
      <carousel-mobile
        class="promotion-banner__blocks row-gap gap-{{ section_st.column_gap }}{% if section_st.enable_carousel_mobile %} grid-cols grid promotion-banner__carousel{% else %} flex column flex-md-row wrap cols{% endif %}{% if data_free_scroll == 'true' and section_st.enable_carousel_mobile %} overflow-visible-mb{% endif %}"
        data-multicontent="true"
        data-flex="true"
        data-enable-carousel-mobile="{{ section_st.enable_carousel_mobile }}"
        data-mobile="{{ section_st.items_per_row }}"
        data-spacing="{{ column_gap_slide }}"
        style="{{ col_style | strip | strip_newlines }}"
      >
        {% content_for 'blocks' %}
      </carousel-mobile>
      {% if data_free_scroll == 'true' and section_st.enable_carousel_mobile %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multi_content.name",
  "tag": "section",
  "class": "multi-content",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "group-image-with-text"
    },
    {
      "type": "group-text"
    },
    {
      "type": "_video"
    },
    {
      "type": "_image"
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.multi_content.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        },
        {
          "value": "x_large",
          "label": "t:sections.all.padding.column_gap.x_large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_options.label"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel_mobile",
      "default": false,
      "label": "t:sections.all.carousel.enable_carousel_mobile.label"
    },
    {
      "type": "range",
      "id": "items_per_row",
      "label": "t:sections.all.items.items_per_row",
      "min": 1,
      "max": 2,
      "step": 0.5,
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.multi_content.blocks.label"
    },
    {
      "type": "checkbox",
      "id": "equal_height_adjustment",
      "label": "t:sections.multi_content.blocks.equal_height_adjustment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.section_divider_heading"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.divider.show_divider",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.multi_content.name",
      "category": "t:sections.group.storytelling",
      "blocks": [
        {
          "type": "group-image-with-text",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "description"
            },
            {
              "type": "button"
            }
          ]
        },
        {
          "type": "group-image-with-text",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "description"
            },
            {
              "type": "button"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
