{{ 'banner.css' | asset_url | stylesheet_tag }}
{% liquid
  assign section_st = section.settings
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'fluid_container'
  endif

  assign heading_size = section_st.heading_size
  assign header_size = ''
  if heading_size == 'small'
    assign header_size = 'h3'
  elsif heading_size == 'large'
    assign header_size = 'fs-medium'
  endif
%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
  {% if heading_size == 'large' %}--font-size: 40;{% endif %}
{%- endcapture -%}

<div
  class="section__multi-content overflow-hidden"
  style="{{ style | strip | strip_newlines }}"
>
  <div
    class="{{ section_width }}"
  >
    {%- if section_st.heading != blank or section_st.description != blank -%}
      <div
        class="section-header text-{{ section_st.alignment }}"
      >
        {%- if section_st.heading != blank -%}
          <h2 class="block section-heading {{ header_size }}">
            {{ section_st.heading }}
          </h2>
        {%- endif -%}
        {%- if section_st.description != blank -%}
          <div class="section-description">
            {{ section_st.description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div
      class="promotion-banner__blocks relative"
    >
      {% comment %}
        {%- if section_st.enable_carousel_mobile -%}
          <multi-content
            data-enable="{{ section_st.enable_carousel_mobile }}"
            data-mobile="{{ section_st.items_per_row }}"
            data-spacing="{{ section_st.column_gap }}"
            class="{% if section_st.items_per_row > 1 and section_st.items_per_row < 2 %} grid_scroll {% endif %}multi-content-js relative flex flex-col-custom flex-wrap"
            style="--col-number: {{ section_st.items_per_row }};--swiper-pagination-mt: 3rem;"
          >
        {%- endif -%}
      {% endcomment %}
      <div
        class="promotion-banner__blocks flex column flex-md-row wrap cols row-gap gap-{{ section_st.column_gap }}"
      >
        {% content_for 'blocks' %}
      </div>
      {% comment %}
        {%- if section_st.enable_carousel_mobile -%}
          </multi-content>
        {%- endif -%}
      {% endcomment %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multi_content.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "group-image-with-text"
    },
    {
      "type": "group-text"
    },
    {
      "type": "_video"
    },
    {
      "type": "_image"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_options.label"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel_mobile",
      "default": false,
      "label": "t:sections.all.carousel.enable_carousel_mobile.label"
    },
    {
      "type": "range",
      "id": "items_per_row",
      "label": "t:sections.all.items.items_per_row",
      "min": 1,
      "max": 2,
      "step": 0.5,
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.multi_content.blocks.label"
    },
    {
      "type": "checkbox",
      "id": "equal_height_adjustment",
      "label": "t:sections.multi_content.blocks.equal_height_adjustment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ],
  "presets": [
    {
      "name": "t:sections.multi_content.name",
      "blocks": [
        {
          "type": "group-image-with-text",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "description"
            },
            {
              "type": "button"
            }
          ]
        },
        {
          "type": "group-image-with-text",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "description"
            },
            {
              "type": "button"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
