<script type="module" src="{{ 'section-newsletter-popup.js' | asset_url }}" defer="defer"></script>
{% liquid
  assign section_st = section.settings
  assign enable_on_homepage = section_st.enable_on_homepage
  assign banner_image = section_st.newsletter_banner
  assign show_page = ''
  if enable_on_homepage
    if request.page_type == 'index'
      assign show_page = 'show-on-homepage'
    endif
  else
    assign show_page = 'show-all-page'
  endif
  assign design_mode = false
  if request.design_mode
    assign show_page = ''
    assign design_mode = true
  endif
  assign heading = section_st.newsletter_heading
  assign short_desc = section_st.newsletter_sub_title
  assign email_placeholder = section_st.newsletter_email_placeholder
  assign button_label = section_st.newsletter_button_label
%}
{% style %}
  @media (min-width: 768px) {
    .image-with-text__media,
    .newsletter_inner {
      max-height: 80vh;
    }
  }
{% endstyle %}
<newsletter-popup data-enable="{{ show_page }}" data-section-id="{{ section.id }}">
  <template>
    <div class="newsletter-popup">
      <newsletter-modal-popup
        class="modal active-modal-js modal-newsletter-popup"
      >
        <modal-overlay class="modal-overlay invisible transition-drawer pointer"></modal-overlay>
        <div
          class="modal-popup-inner modal-focus invisible h-content modal-body modal-draggable transition rounded max-w-custom m-auto fixed inset-0 z-15 w-full bg-white"
          style="--max-width: 68rem;"
          tabindex="-1"
        >
          <button
            is="button-close-model"
            class="modal__close pointer btn-reset wh-58 hidden flex-md content-center absolute z-3 top-0 right-0"
            aria-label="Close"
          >
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              class="transition-short will-change icon-zoom"
            >
              <use href="#icon-close"></use>
            </svg>
          </button>
          <div
            class="drawer__body drawer__body-item h-full"
          >
            <div
              class="flex gap{% if section_st.image_desktop_position == 'right' %} row-reverse-md{% endif %}"
              style="--col-width: {% if banner_image != blank %}{{ section_st.desktop_image_width }}{% else %}0{% endif %}%;--gap-desktop: 0px;--gap: 0px;"
            >
              {% if banner_image != blank %}
                <div class="image-with-text__media-item w-full col-md-w-custom block-md hidden">
                  <div
                    class="image-with-text__media banner__media h-full hidden block-md"
                    style="--aspect-ratio: {{ banner_image.aspect_ratio }}"
                  >
                    {%- liquid
                      assign alt = 'general.image.image_alt_default' | t
                      if banner_image.alt
                        assign alt = banner_image.alt | escape
                      endif
                    -%}
                    {%- if banner_image != blank -%}
                      {% render 'responsive-image', type: 'other', image: banner_image, image_alt: alt %}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              <div class="newsletter_inner w-full col-md-remaining relative flex">
                <div class="newsletter_content-inner flex column gap-20 max-h-100 p-gutter-x p-md-40 overflow-y-auto custom-scrollbar align-self-center">
                  {%- if heading != blank or short_desc != blank -%}
                    <div class="newsletter-header">
                      {%- if heading != blank -%}
                        <div
                          class="section-heading h3"
                          {% if design_mode %}
                            data-live-text-setting="section.{{ section.id }}.newsletter_heading"
                          {% endif %}
                        >
                          {{ heading }}
                        </div>
                      {%- endif -%}
                      {%- if short_desc != blank -%}
                        <div
                          class="section-description mt-10 prose"
                          {% if design_mode %}
                            data-live-text-setting="section.{{ section.id }}.newsletter_sub_title"
                          {% endif %}
                        >
                          {{ short_desc }}
                        </div>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                  <div
                    class="newsletter__form-container flex column gap-20"
                  >
                    {%- assign newsletter_popup_id = 'NewsletterForm--' | append: section.id -%}
                    {%- form 'customer',
                      class: 'newsletter__form newsletter__form--popup flex',
                      id: newsletter_popup_id,
                      novalidate: 'novalidate'
                    -%}
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <div class="flex gap-15 column w-full">
                        <div class="field relative flex wrap w-full">
                          <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            required
                            class="w-full newsletter-form-popup-input"
                            name="contact[email]"
                            autocomplete="email"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            value="{% if customer %}{{ customer.email }}{% endif %}"
                            placeholder="{% if email_placeholder != blank %}{{ email_placeholder }}{% else %}{{ 'newsletter.label' | t }}{% endif %}"
                            pattern=".+\.[a-zA-Z]{2,6}"
                          >
                          <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">
                            {{ 'newsletter.label' | t }}
                          </label>
                        </div>
                        <button
                          name=" {{ 'newsletter.button_label' | t }}"
                          class="btn w-full button-newletter-popup btn-primary newsletter__button w-full"
                          aria-label="{%- if button_label != blank -%}{{ button_label }} {%- else -%} {{ 'subscribe.button_label' | t }} {% endif %}"
                        >
                          <span
                            class="hidden-on-load"
                            {% if design_mode %}
                              data-live-text-setting="section.{{ section.id }}.newsletter_button_label"
                            {% endif %}
                          >
                            {%- if button_label != blank -%}
                              {{ button_label }}
                            {%- else -%}
                              {{ 'newsletter.button_label' | t }}
                            {% endif -%}
                          </span>
                          {%- render 'loader' -%}
                        </button>
                      </div>
                    {%- endform -%}
                  </div>
                  <div
                    class="newsletter-action pointer"
                    tabindex="0"
                  >
                    <span class="fs-small underline hover-heading-color">
                      {{- 'newsletter_popup.do_not_show_again' | t -}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </newsletter-modal-popup>
    </div>
  </template>
</newsletter-popup>

{% schema %}
{
  "name": "t:sections.newsletter_popup.name",
  "tag": "section",
  "class": "overlay-section overlay-newsletter",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter_popup.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.newsletter_popup.header.heading"
    },
    {
      "type": "checkbox",
      "id": "enable_on_homepage",
      "label": "t:sections.newsletter_popup.settings.show_on_homepage",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "newsletter_banner",
      "label": "t:sections.newsletter_popup.settings.banner_image",
      "info": "t:sections.featured_product_banner.blocks.image_effect.info"
    },
    {
      "type": "range",
      "id": "desktop_image_width",
      "min": 30,
      "max": 60,
      "step": 1,
      "unit": "%",
      "default": 40,
      "label": "t:sections.all.image.width"
    },
    {
      "type": "select",
      "id": "image_desktop_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.image.desktop_position.left"
        },
        {
          "value": "right",
          "label": "t:sections.all.image.desktop_position.right"
        }
      ],
      "default": "left",
      "label": "t:sections.all.image.desktop_position.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "t:sections.newsletter_popup.settings.heading",
      "default": "Newsletter heading"
    },
    {
      "type": "richtext",
      "id": "newsletter_sub_title",
      "label": "t:sections.newsletter_popup.settings.short_description",
      "default": "<p>Newsletter description</p>"
    },
    {
      "type": "text",
      "id": "newsletter_email_placeholder",
      "label": "t:sections.newsletter_popup.settings.email_placeholder",
      "default": "Email placeholder"
    },
    {
      "type": "text",
      "id": "newsletter_button_label",
      "label": "t:sections.newsletter_popup.settings.button_label",
      "default": "Button label"
    }
  ]
}
{% endschema %}
