<script type="module" src="{{ 'section-offers-popup.js' | asset_url }}" defer="defer"></script>
{% liquid
  assign section_st = section.settings

  assign column_gap_slide = 0
  if section_st.column_gap == 'large'
    assign column_gap_slide = 30
  elsif section_st.column_gap == 'medium'
    assign column_gap_slide = 20
  elsif section_st.column_gap == 'small'
    assign column_gap_slide = 10
  endif
%}
{% style %}
  .modal-offer-wrapper .modal__close svg {
    rotate: 180deg;
  }
  .padding-block {
    padding: 1.5rem 3rem;
  }
  icon-close-offer {
    top: -1.8rem;
  }
  .offer_pop_up .block__buttons > a {
    width: 100%;
    flex: auto;
    --btn-padding-y: 15px;
  }
  .border-top-0 {
    border-top: 0;
  }
{% endstyle %}
{% if section_st.highlight_text != blank %}
  <scroll-offer
    data-section-id="{{ section.id }}"
    class="hidden block-md fixed left-10 left-md-30 z-5"
    style="opacity: 0;"
    tabindex="0"
  >
    <div
      class="subheading_weight pointer lh-normal inline-flex align-center gap-10 {% if section_st.uppercase %} uppercase{% endif %} fs-{{ section_st.highlight_text_size }} text-color bg-custom{% if section_st.background_color != "rgba(0,0,0,0)" and section_st.background_color != "transparent" and section_st.background_color != blank  %} padding-block btn-rounded{% endif %}"
      style="--color-text: {{ section_st.text_color }};--bg-color-custom: {{ section_st.background_color }};"
    >
      {%- if section_st.highlight_text_icon == 'star' -%}
        {%- render 'icon-star' -%}
      {%- elsif section_st.highlight_text_icon == 'dot' -%}
        {%- render 'icon-dot' -%}
      {%- elsif section_st.highlight_text_icon == 'discount' -%}
        {%- render 'icon-discount' -%}
      {%- endif -%}
      {{ section_st.highlight_text | escape }}
    </div>
    <icon-close-offer
      class="absolute pointer shadow border inline-flex mx-auto rounded-50 overflow-hidden content-center heading-color bg-white w-custom h-custom"
      style="--width: 2.6rem; --height: 2.6rem;"
    >
      <svg width="8" height="8" viewBox="0 0 13 14" fill="none">
        <use href="#icon-close" />
      </svg>
    </icon-close-offer>
  </scroll-offer>
  <offer-popup class="modal-offer-wrapper modal visibility-hidden invisible fixed inset-0 z-21 transition-drawer active-modal-js relative">
    <modal-overlay class="modal-overlay pointer"></modal-overlay>
    <div
      class="modal-inner draw-mb drawer-right-mb bg-white transition-drawer drawer drawer-right fixed right-0 z-15 inset-y-0 w-full z-2"
      style="--drawer-width: 42rem;"
      tabindex="-1"
    >
      <div class="drawer__body h-full flex column bg-white rounded-start">
        <div class="drawer__header drawer-spacing border-bottom align-center flex gap-10 space-between">
          <div class="drawer__heading h5">
            {{ section_st.highlight_text | escape }}
          </div>
          <button
            type="button"
            is="button-close-model"
            class="modal__close pointer hover-icon-zoom heading-color btn-reset w-30 h-full inline-flex align-center flex-end"
            aria-label="Close"
          >
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              class="transition-short will-change icon-zoom"
            >
              <use href="#icon-close" />
            </svg>
          </button>
        </div>
        <div class="drawer__content drawer-content__offer p-gutter-x p-1025-30 overflow-y-auto custom-scrollbar">
          <offer-slide class="flex column grow-1 gap-{{ column_gap_slide }} offer-content__mobile">
            {% content_for 'blocks' %}
          </offer-slide>
        </div>
      </div>
    </div>
  </offer-popup>
{% endif %}

{% schema %}
{
  "name": "t:sections.offers-popup.name",
  "tag": "section",
  "class": "overlay-section overlay-offers-popup",
  "max_blocks": 10,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.offers-popup.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.adapt"
        },
        {
          "value": "square",
          "label": "t:sections.all.image.aspect_ratio.options__1"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image.aspect_ratio.options__2"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image.aspect_ratio.options__3"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.image.aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.offers-popup.popup.label"
    },
    {
      "type": "text",
      "id": "highlight_text",
      "default": "Highlight text",
      "label": "t:sections.multi_content.blocks.badge"
    },
    {
      "type": "select",
      "id": "highlight_text_icon",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__1.label"
        },
        {
          "value": "star",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__2.label"
        },
        {
          "value": "dot",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__3.label"
        },
        {
          "value": "discount",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__4.label"
        }
      ],
      "default": "discount",
      "label": "t:sections.all.content_setting.highlight_text.settings.icons.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.image-with-text.settings.background_color",
      "default": "#D0473E"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.image-with-text.settings.text_color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "group-image-with-text-offer"
    }
  ]
}
{% endschema %}
