<script src="{{ 'section-vertical-product-tabs.js' | asset_url }}" defer="defer" type="module"></script>
{%- liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign scroll_animation = theme_st.scroll_animation
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'fluid_container'
  endif
  assign heading_size = section_st.heading_size
  assign items_per_row = section_st.items_per_row
  assign show_pagination = section_st.show_pagination
  assign show_navigation = section_st.show_navigation
  assign reveal_slide = section_st.reveal_slide
  assign items_to_show = section_st.items_to_show

  assign header_size = ''
  if heading_size == 'small'
    assign header_size = 'h3'
  elsif heading_size == 'large'
    assign header_size = 'h1'
  endif

  assign items_per_row_mobile = section_st.items_per_row_mobile
  assign data_free_scroll = 'false'
  if items_per_row_mobile > 1 and items_per_row_mobile < 2
    assign data_free_scroll = 'true'
  elsif items_per_row_mobile > 2 and items_per_row_mobile < 3
    assign data_free_scroll = 'true'
  endif

  assign items_per_row_tablet = items_per_row
  if items_per_row > 3
    assign items_per_row_tablet = items_per_row | minus: 1
  endif

  assign column_gap_slide = 0
  assign column_gap_mb = 0
  if section_st.column_gap == 'large'
    assign column_gap_slide = 32
    assign column_gap_mb = 24
  elsif section_st.column_gap == 'medium'
    assign column_gap_slide = 24
    assign column_gap_mb = 12
  elsif section_st.column_gap == 'small'
    assign column_gap_slide = 16
    assign column_gap_mb = 8
  endif

  assign class_pagination = ''
  if show_pagination == false and items_per_row_mobile != 1.5
    assign class_pagination = ' hidden-md block'
  elsif show_pagination == false and items_per_row_mobile == 1.5
    assign class_pagination = ' hidden'
  endif
-%}
{%- capture style -%}
    --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}
{%- capture col_style -%}
  --gap-desktop: {{ column_gap_slide }}px;--gap: {{ column_gap_mb }}px;--item-desktop: {{ items_per_row }};--item-tablet: {{ items_per_row_tablet }};--item-mb: {{ items_per_row_mobile }};
{%- endcapture -%}
{%- style -%}
  @media (max-width: 1024.98px) {
    .vertical-tab .product-tabs__header-title {
      color: var(--color-grey);
      transition: color 0.3s ease;
      white-space: nowrap;
    }
    .vertical-tab .product-tabs__header-item.active .product-tabs__header-title {
      color: var(--color-heading);
    }
    .vertical-tab .product-tabs__header {
      margin-inline: calc(-1 * var(--bs-gutter-x));
      padding-inline: var(--bs-gutter-x);
    }
  }
  @media (min-width: 1025px) {
    .col-left:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: -15px;
      right: calc(-1 * var(--gap));
      background: var(--color-background, #fff);
      width: 100vw;
      z-index: 2;
    }
    .vertical-tab .product-tabs__header-item {
      background-image: linear-gradient(to right, var(--color-heading) 100%, transparent 0%);
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: 0% 1px;
      transition: background-size 0.4s ease;
    }
    .vertical-tab .product-tabs__header-item.active {
      background-size: 100% 1px;
      border-color: transparent;
    }
  }
{%- endstyle -%}
<div
  class="section color-{{ section_st.color_scheme }} gradient{% if data_free_scroll == 'true' or reveal_slide %} overflow-hidden{% endif %}{% if section_st.show_divider %} border-top{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <product-tabs class="vertical-tab flex wrap gap" style="--col-width: 32.8rem;--gap: 3rem;">
      <div class="col-left col-1025-w-custom w-full relative-1025">
        {%- if section_st.title != blank or section_st.description != blank or section_st.subheading != blank -%}
          <div
            class="section-header relative-1025 z-2 text-center text-1025-start"
          >
            {%- if section_st.subheading != blank -%}
              <div class="section-subheading h7 mb-5 mb-md-10 subheading_weight">
                {{ section_st.subheading }}
              </div>
            {%- endif -%}
            {%- if section_st.title != blank -%}
              <h2 class="block section-heading {{ header_size }}">
                {{ section_st.title }}
              </h2>
            {%- endif -%}
            {%- if section_st.description != blank -%}
              <div class="section-description mt-16 prose">
                {{ section_st.description }}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- if section.blocks.size > 0 -%}
          <div
            class="product-tabs__header hidden-scrollbar flex column-1025 gap overflow-x-scroll-mb relative-1025 z-2 justify-start flex-md-center"
            style="--row-gap: 0;--gap-desktop: 0; --gap: 30px;"
          >
            {%- for block in section.blocks -%}
              {%- liquid
                assign block_st = block.settings
                assign collection_title = block_st.collection_title
                if collection_title == blank
                  assign collection_title = collections[block_st.collection].title
                endif
                assign collection_description = block_st.collection_description
              -%}
              {%- if collection_title != blank -%}
                <div
                  class="product-tabs__header-item pointer py-1025-20 border-bottom-1025{% if forloop.first %} pt-0{% endif %}"
                  data-block-id="{{ block.id }}"
                  tabindex="0"
                  {{ block.shopify_attributes }}
                >
                  <div class="product-tabs__header-title h5">
                    {{ collection_title }}
                  </div>
                  {%- if collection_description != blank -%}
                    <div
                      class="product-tabs__header-description overflow-hidden hidden block-1025"
                      id="tab-desc-{{ block.id }}"
                      {% if forloop.first %}
                        style="height: auto;opacity: 1;"
                      {% else %}
                        style="height: 0;opacity: 0;"
                      {% endif %}
                    >
                      <div class="mt-10 prose">
                        {{ collection_description }}
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
          {%- if section_st.hidden_des_mobile == false -%}
            <div class="product-tabs__header-description-mobile overflow-hidden hidden-1025 block">
              {{ section.blocks[0].settings.collection_description }}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
      {%- if section.blocks.size > 0 -%}
        <div class="col-right product-tabs__content w-full col-1025-remaining">
          {%- for block in section.blocks -%}
            {%- liquid
              assign block_st = block.settings
              assign collection = collections[block_st.collection]
            -%}
            {%- if collection.products.size > 0 -%}
              <div
                class="product-tabs__content-item product-tabs__content-item-{{ block.id }}{% if forloop.first %} active{% else %} hidden{% endif %}"
                data-block-id="{{ block.id }}"
                {{ block.shopify_attributes }}
              >
                {% if scroll_animation %}
                  <motion-items-effect>
                {% endif %}
                <slide-section
                  class="swiper hover-action{% if reveal_slide %} reveal_on_scroll{% endif %}{% if data_free_scroll == 'true' %} overflow-visible-mb{% endif %}"
                  data-section-id="{{ block.id }}"
                  data-autoplay="false"
                  data-effect="slide"
                  data-loop="false"
                  data-speed="500"
                  data-spacing="{{ column_gap_slide }}"
                  data-mobile="{{ items_per_row_mobile }}"
                  data-desktop="{{ items_per_row }}"
                  data-tablet="{{ items_per_row_tablet }}"
                  data-free-scroll="{{ data_free_scroll }}"
                  data-slide-tab="true"
                  style="{{ col_style | strip | strip_newlines }}"
                >
                  {% if show_navigation %}
                    {%- render 'swiper-navigation', show_on_hover: true -%}
                  {% endif %}
                  <div class="swiper-wrapper">
                    {%- for product in collection.products limit: items_to_show -%}
                      {% render 'card-product',
                        card_product: product,
                        section_id: block.id,
                        class: ' swiper-slide motion-item',
                        show_video: true,
                        container: section_width,
                        column: items_per_row,
                        column_mobile: items_per_row_mobile,
                        padding: column_gap_slide,
                        indexFor: forloop.index
                      %}
                    {%- endfor -%}
                  </div>
                    <div
                      class="swiper-pagination {{ class_pagination }}"
                    ></div>
                </slide-section>
                {% if scroll_animation %}
                  </motion-items-effect>
                {% endif %}
              </div>
            {%- else -%}
              <div
                class="product-tabs__content-item product-tabs__content-item-{{ block.id }}{% if forloop.first %} active{% else %} hidden{% endif %}"
                data-block-id="{{ block.id }}"
                {{ block.shopify_attributes }}
              >
                {% if scroll_animation %}
                  <motion-items-effect>
                {% endif %}
                <slide-section
                  class="swiper hover-action{% if reveal_slide %} reveal_on_scroll{% endif %}{% if data_free_scroll == 'true' %} overflow-visible-mb{% endif %}"
                  data-section-id="{{ block.id }}"
                  data-autoplay="false"
                  data-effect="slide"
                  data-loop="false"
                  data-speed="500"
                  data-spacing="{{ column_gap_slide }}"
                  data-mobile="{{ items_per_row_mobile }}"
                  data-desktop="{{ items_per_row }}"
                  data-tablet="{{ items_per_row_tablet }}"
                  data-free-scroll="{{ data_free_scroll }}"
                  style="{{ col_style | strip | strip_newlines }}"
                >
                  {% if show_navigation %}
                    {%- render 'swiper-navigation', show_on_hover: true -%}
                  {% endif %}
                  <div class="swiper-wrapper">
                    {%- for product in (1..5) -%}
                      {% render 'card-product',
                        section_id: block.id,
                        class: ' swiper-slide motion-item',
                        show_video: true,
                        container: section_width,
                        column: items_per_row,
                        column_mobile: items_per_row_mobile,
                        padding: column_gap_slide,
                        indexFor: forloop.index
                      %}
                    {%- endfor -%}
                  </div>
                  <div
                    class="swiper-pagination {{ class_pagination }}"
                  ></div>
                </slide-section>
                {% if scroll_animation %}
                  </motion-items-effect>
                {% endif %}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </product-tabs>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.product-tabs.name",
  "tag": "section",
  "class": "section section-product-tabs",
  "max_blocks": 5,
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-tabs.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Vertical product tabs",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label",
      "default": "Subheading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.carousel.header"
    },
    {
      "type": "range",
      "id": "items_to_show",
      "label": "t:sections.all.items_to_show.label",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 8
    },
    {
      "type": "range",
      "id": "items_per_row",
      "label": "t:sections.all.columns_desktop.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "default": true,
      "label": "t:sections.all.carousel.show_navigation.label"
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "default": false,
      "label": "t:sections.all.carousel.show_pagination.label",
      "info": "t:sections.all.carousel.show_pagination.info"
    },
    {
      "type": "checkbox",
      "id": "reveal_slide",
      "default": true,
      "label": "t:sections.all.carousel.reveal_slide.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_options.label"
    },
    {
      "type": "range",
      "id": "items_per_row_mobile",
      "label": "t:sections.all.items.items_per_row_mobile",
      "min": 1,
      "max": 2,
      "step": 0.5,
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.product-tabs.blocks.header"
    },
    {
      "type": "checkbox",
      "id": "hidden_des_mobile",
      "label": "t:sections.product-tabs.blocks.settings.hidden_des_mobile.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.section_divider_heading"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.divider.show_divider",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "t:sections.product-tabs.blocks.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.product-tabs.blocks.settings.collection.label"
        },
        {
          "type": "text",
          "id": "collection_title",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.title.label",
          "info": "t:sections.collection-list.blocks.featured_collection.settings.title.info",
          "default": "Tab title"
        },
        {
          "type": "richtext",
          "id": "collection_description",
          "label": "t:sections.product-tabs.blocks.settings.collection.description",
          "default": "<p>Tab description</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-tabs.name",
      "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "tab"
        },
        {
          "type": "tab"
        }
      ]
    }
  ]
}
{% endschema %}
