{%- liquid
  assign section_st = section.settings
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'fluid_container'
  endif

  assign heading_size = section_st.heading_size
  assign text_alignment = section_st.text_alignment
  assign items_per_row = section_st.items_per_row
  assign pagination = section_st.pagination
  assign show_navigation = section_st.show_navigation
  assign slide_auto_change = section_st.slide_auto_change
  assign change_slide_every = section_st.change_slide_every
  assign reveal_slide = section_st.reveal_slide
  assign rating_color = section_st.rating_color

  assign header_size = ''
  if heading_size == 'small'
    assign header_size = 'h3'
  elsif heading_size == 'large'
    assign header_size = 'h1'
  endif

  assign column_gap_slide = 0
  assign column_gap_mb = 0
  if section_st.column_gap == 'large'
    assign column_gap_slide = 30
    assign column_gap_mb = 20
  elsif section_st.column_gap == 'medium'
    assign column_gap_slide = 20
    assign column_gap_mb = 10
  elsif section_st.column_gap == 'small'
    assign column_gap_slide = 10
    assign column_gap_mb = 5
  endif

  assign items_per_row_mobile = section_st.items_per_row_mobile
  assign data_free_scroll = 'false'
  if items_per_row_mobile > 1 and items_per_row_mobile < 2
    assign data_free_scroll = 'true'
  elsif items_per_row_mobile > 2 and items_per_row_mobile < 3
    assign data_free_scroll = 'true'
  endif

  assign items_per_row_tablet = items_per_row
  if items_per_row > 2
    assign items_per_row_tablet = items_per_row | minus: 1
  endif
-%}
{%- capture style -%}
      --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
      --rate-color: {{ rating_color }};
{%- endcapture -%}
{%- capture col_style -%}
  --gap-desktop: {{ column_gap_slide }}px;--gap: {{ column_gap_mb }}px;--item-desktop: {{ items_per_row }};--item-tablet: {{ items_per_row_tablet }};--item-mb: {{ items_per_row_mobile }};
{%- endcapture -%}
{% style %}
  .image-comparison {
    will-change: clip-path;
  }
  .slider {
    cursor: grab;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(2px 0 3px rgba(0, 0, 0, 0.4));
    will-change: transform, background-color;
  }

  .handle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
    touch-action: none;
  }

  .slider:focus-visible {
    outline: none;
  }

  .slider:focus-visible .handle {
    outline: 0.2rem solid rgba(var(--color-heading-rgb), 0.9);
    outline-offset: -0.2rem;
    transition: none;
  }

  .handle:active {
    cursor: grabbing;
  }
  .media-top {
    border-top-left-radius: var(--img-rounded);
    border-top-right-radius: var(--img-rounded);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .media-left {
    border-top-left-radius: var(--img-rounded);
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--img-rounded);
    border-bottom-right-radius: 0;
  }
  .rounded-bottom {
    border-bottom-left-radius: var(--img-rounded);
    border-bottom-right-radius: var(--img-rounded);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  @media screen and (max-width: 1024.98px) {
    .media-left {
      border-top-left-radius: var(--img-rounded);
      border-top-right-radius: var(--img-rounded);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .max-w-custom-all {
    max-width: var(--max-width);
  }
{% endstyle %}
<div
  class="section color-{{ section_st.color_scheme }} gradient {% if data_free_scroll == 'true' or reveal_slide %} overflow-hidden{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    {%- if section_st.title != blank or section_st.description != blank or section_st.subheading != blank -%}
      <div
        class="section-header text-{{ text_alignment }}"
      >
        {%- if section_st.subheading != blank -%}
          <div class="section-subheading fs-big-2 mb-5 mb-1025-10 heading-color subheading_weight">
            {{ section_st.subheading }}
          </div>
        {%- endif -%}
        {%- if section_st.title != blank -%}
          <h2 class="block section-heading {{ header_size }}">
            {{ section_st.title }}
          </h2>
        {%- endif -%}
        {%- if section_st.description != blank -%}
          <div class="section-description mt-15 prose">
            {{ section_st.description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if section.blocks.size > 0 -%}
      <slide-section
        id="swiper-{{ section.id }}"
        class="swiper {% if reveal_slide %} reveal_on_scroll{% endif %}{% if data_free_scroll == 'true' %} overflow-visible-mb{% endif %}"
        data-section-id="{{ section.id }}"
        data-autoplay="{{ slide_auto_change }}"
        data-auto-play-speed="{{ change_slide_every | times: 1000 }}"
        data-loop="false"
        data-speed="500"
        data-spacing="{{ column_gap_slide }}"
        data-mobile="{{ items_per_row_mobile }}"
        data-desktop="{{ items_per_row }}"
        data-tablet="{{ items_per_row_tablet }}"
        style="{{ col_style | strip | strip_newlines }}"
      >
        {% if show_navigation %}
          {%- render 'swiper-navigation' -%}
        {% endif %}
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {%- liquid
              assign block_st = block.settings
              assign image = block_st.testimonial_image
              assign video = block_st.video_local
              assign before_image = block_st.before_image
              assign after_image = block_st.after_image
              assign product = block_st.testimonial_product
              assign author_name = block_st.testimonial_author
              assign quote = block_st.testimonial_quote
              assign rating_star = block_st.rating_star
              assign show_verified_buyer = section_st.show_verified_buyer
              assign image_desktop_position = section_st.image_desktop_position
              assign image_ratio = section_st.image_ratio
              assign ratio = '3/4'
              if image_ratio != 'adapt'
                case image_ratio
                  when 'square'
                    assign ratio = '1/1'
                  when 'landscape'
                    assign ratio = '4/3'
                  when 'portrait'
                    assign ratio = '3/4'
                endcase
              else
                if video != blank
                  assign ratio = video.aspect_ratio
                elsif image != blank
                  assign ratio = image.aspect_ratio
                elsif before_image != blank
                  assign ratio = before_image.aspect_ratio
                else
                  assign ratio = '4/3'
                endif
              endif
              assign image_alt = image.alt
              if image_alt == blank
                assign image_alt = 'general.image.image_alt_default' | t
              endif
            -%}
            {% case block.type %}
              {% when 'testimonial' %}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                  <div
                    class="testimonial-wrapper flex overflow-hidden column {% if image_desktop_position == 'top' %} flex-wrap{% else %} flex-1025-row{% endif %}"
                    style="--col-width: 50%;"
                  >
                    <div
                      class="testimonial-media relative {% if image_desktop_position == 'left' %} col-1025-w-custom media-left{% else %} w-full radius-bottom-0 media-top{% endif %}"
                      style="--aspect-ratio: {{ ratio }}"
                    >
                      {% if video != blank %}
                        {%- liquid
                          assign source = video.sources
                          assign source_url = ''
                          for s in source
                            if s.format == 'mp4'
                              assign source_url = s.url
                              break
                            endif
                          endfor
                          assign video_poster = video.preview_image | image_url: width: 1100
                        -%}
                        <video-local>
                          <video
                            loop="true"
                            data-src="{{ source_url }}"
                            poster="{{ video_poster }}"
                            playsinline="true"
                            autoplay
                            muted
                            class="h-full w-full object-fit-cover"
                          ></video>
                        </video-local>
                      {% elsif image != blank %}
                        {% render 'responsive-image',
                          type: 'banner',
                          container: section_st.section_width,
                          image: image,
                          image_alt: image_alt,
                          padding: column_gap_slide,
                          column: items_per_row
                        %}
                      {% else %}
                        {% render 'placeholder-render', type: 'blog', class: 'img-placeholder' %}
                      {% endif %}
                    </div>
                    <div class="testimonial_info flex align-center align-seft-center w-full{% if image_desktop_position == 'left' %} col-1025-remaining{% endif %}">
                      <div class="p-20 p-1025-30 w-full h-full bg-secondary rounded-bottom-mb {% if image_desktop_position == 'left' %} rounded-1025-right {% else %} rounded-bottom{% endif %} overflow-hidden">
                        <div class="testimonials-rating flex mb-5 relative">
                          <div class="relative inline-flex">
                            <svg width="78" height="14" fill="none">
                              <use href="#icon-rate-grey"></use>
                            </svg>
                            <div class="absolute inset-0 z-1 rate-color inline-flex gap-custom" style="--gap: 2">
                              {%- for i in (1..rating_star) -%}
                                <svg width="14" height="14" fill="none" viewBox="0 0 12 12" class="rate-color">
                                  <use href="#icon-rate"></use>
                                </svg>
                              {%- endfor -%}
                            </div>
                          </div>
                        </div>
                        <div class="testimonials-group flex flex-wrap wrap gap-15">
                          <span class="heading-style max-w-custom-all" style="--max-width: 65%;">
                            {{ author_name }}
                          </span>
                          {% if show_verified_buyer -%}
                            <span class="text-color flex gap-5 align-center fs-13">
                              <svg width="16" height="12" viewBox="0 0 16 12" fill="none">
                                <use href="#icon-tick"></use>
                              </svg>
                              <i>{{ 'testimonials.verified_buyer.default' | t }}</i>
                            </span>
                          {%- endif %}
                        </div>
                        <div class="testimonials-quote{% if quote != blank %} pb-20 pb-1025-25{% endif %} mt-15 mt-1025-20 mx-0 rich__text-m0 border-bottom">
                          {{ quote }}
                        </div>
                        <div
                          class="testimonial-product pt-20 pt-1025-25"
                          style="--width: 5.5rem;"
                        >
                          {% render 'card-product',
                            card_product: product,
                            section_id: section.id,
                            show_video: false,
                            disable_quickview: true,
                            disable_badge: true,
                            disable_rate: true,
                            disable_vendor: true,
                            disable_hover_image: true,
                            show_quick_add: true,
                            disable_color_swatches: true,
                            image_class: ' flex-auto w-custom rounded-10',
                            image_rounded: ' rounded-10',
                            style_layout: ' flex gap-15 align-center',
                            info_class: ' flex-1 mt-0 word-break'
                          %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% when 'image_comparison' %}
                <div class="swiper-slide slide-image-comparison" {{ block.shopify_attributes }}>
                  <div
                    class="testimonial-wrapper flex overflow-hidden column{% if image_desktop_position == 'top' %} flex-wrap{% else %} flex-1025-row{% endif %}"
                    style="--col-width: 50%;"
                  >
                    <div
                      class="testimonial-media relative w-full{% if image_desktop_position == 'left' %} col-1025-w-custom media-left{% else %} radius-bottom-0 media-top{% endif %}"
                      style="--aspect-ratio: {{ ratio }}"
                    >
                      <image-comparison class="block ">
                        <div class="image-container">
                          <div
                            class="image-before image-comparison absolute w-full h-full object-fit-cover"
                            style="--aspect-ratio: {{ ratio }}"
                          >
                            {% if before_image != blank %}
                              {% render 'responsive-image',
                                type: 'banner',
                                container: section_st.section_width,
                                image: before_image,
                                image_alt: image_alt,
                                padding: column_gap_slide,
                                column: items_per_row
                              %}
                            {% else %}
                              {% render 'placeholder-render', type: 'blog', class: 'img-placeholder' %}
                            {% endif %}
                          </div>
                          <div
                            class="image-after image-comparison absolute w-full h-full object-fit-cover"
                            style="--aspect-ratio: {{ ratio }}"
                          >
                            {% if after_image != blank %}
                              {% render 'responsive-image',
                                type: 'banner',
                                container: section_st.section_width,
                                image: after_image,
                                image_alt: image_alt,
                                padding: column_gap_slide,
                                column: items_per_row
                              %}
                            {% else %}
                              {% render 'placeholder-render', type: 'blog', class: 'img-placeholder' %}
                            {% endif %}
                          </div>
                        </div>
                        <div class="slider absolute top-0 bottom-0 w-custom" tabindex="0" style="--width: 1px;">
                          <div
                            class="handle absolute w-custom h-custom bg-white rounded flex content-center"
                            style="--width: 2.6rem;--height: 4.6rem;--img-rounded: 1.5rem;"
                          >
                            <svg
                              width="10"
                              height="12"
                              viewBox="0 0 10 12"
                              fill="none"
                            >
                              <rect width="2" height="12" rx="1" fill="currentColor"/>
                              <rect x="4" width="2" height="12" rx="1" fill="currentColor"/>
                              <rect x="8" width="2" height="12" rx="1" fill="currentColor"/>
                            </svg>
                          </div>
                        </div>
                      </image-comparison>
                    </div>
                    <div class="testimonial_info flex align-center align-seft-center w-full{% if image_desktop_position == 'left' %} col-1025-remaining{% endif %}">
                      <div class="p-20 p-1025-30 w-full h-full bg-secondary rounded-bottom-mb{% if image_desktop_position == 'left' %} rounded-1025-right {% else %} rounded-bottom{% endif %} overflow-hidden">
                        <div class="testimonials-rating flex mb-5 relative">
                          <div class="relative inline-flex">
                            <svg width="78" height="14" fill="none">
                              <use href="#icon-rate-grey"></use>
                            </svg>
                            <div class="absolute inset-0 z-1 rate-color inline-flex gap-custom" style="--gap: 2">
                              {%- for i in (1..rating_star) -%}
                                <svg width="14" height="14" fill="none" viewBox="0 0 12 12" class="rate-color">
                                  <use href="#icon-rate"></use>
                                </svg>
                              {%- endfor -%}
                            </div>
                          </div>
                        </div>
                        <div class="testimonials-group flex flex-wrap wrap gap-15">
                          <span class="heading-style max-w-custom-all" style="--max-width: 65%;">
                            {{ author_name }}
                          </span>
                          {% if show_verified_buyer -%}
                            <span class="text-color flex gap-5 align-center fs-13">
                              <svg width="16" height="12" viewBox="0 0 16 12" fill="none">
                                <use href="#icon-tick"></use>
                              </svg>
                              <i>{{ 'testimonials.verified_buyer.default' | t }}</i>
                            </span>
                          {%- endif %}
                        </div>
                        <div class="testimonials-quote{% if quote != blank %} pb-20 pb-1025-25{% endif %} mt-15 mt-1025-20 mx-0 rich__text-m0 border-bottom">
                          {{ quote }}
                        </div>
                        <div
                          class="testimonial-product pt-20 pt-1025-25"
                          style="--width: 5.5rem;"
                        >
                          {% render 'card-product',
                            card_product: product,
                            section_id: section.id,
                            show_video: false,
                            disable_quickview: true,
                            disable_badge: true,
                            disable_rate: true,
                            disable_vendor: true,
                            disable_hover_image: true,
                            show_quick_add: true,
                            disable_color_swatches: true,
                            image_class: ' flex-auto w-custom rounded-10',
                            image_rounded: ' rounded-10',
                            style_layout: ' flex gap-15 align-center',
                            info_class: ' flex-1 mt-0 word-break'
                          %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            {% endcase %}
          {%- endfor -%}
        </div>
        {%- if pagination == 'show_pagination' or pagination == 'show_pagination_on_mobile' -%}
          <div
            class="swiper-pagination {% if pagination == 'show_pagination_on_mobile' %}hidden-md{% endif %}"
          ></div>
        {% endif %}
      </slide-section>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.product_testimonials.name",
  "tag": "section",
  "class": "section section-product-testimonials",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "max_blocks": 6,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Heading",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.testimonials.settings.header"
    },
    {
      "type": "select",
      "id": "image_desktop_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.image.desktop_position.top"
        },
        {
          "value": "left",
          "label": "t:sections.all.image.desktop_position.left"
        }
      ],
      "default": "top",
      "label": "t:sections.all.image.desktop_position.label",
      "info": "t:sections.all.image.desktop_position.info"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.adapt"
        },
        {
          "value": "square",
          "label": "t:sections.all.image.aspect_ratio.options__1"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image.aspect_ratio.options__2"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image.aspect_ratio.options__3"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.image.aspect_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_verified_buyer",
      "default": true,
      "label": "t:sections.product_testimonials.settings.show_verified_buyer.label"
    },
    {
      "type": "color",
      "id": "rating_color",
      "label": "t:sections.product_testimonials.settings.rating_color.label",
      "default": "#FF9C05"
    },
    {
      "type": "range",
      "id": "items_per_row",
      "label": "t:sections.all.columns_desktop.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.carousel.header"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "default": false,
      "label": "t:sections.all.carousel.show_navigation.label"
    },
    {
      "type": "select",
      "id": "pagination",
      "options": [
        {
          "value": "hidden",
          "label": "t:sections.all.carousel.hidden_pagination.label"
        },
        {
          "value": "show_pagination",
          "label": "t:sections.all.carousel.show_pagination.label"
        },
        {
          "value": "show_pagination_on_mobile",
          "label": "t:sections.all.carousel.show_pagination_mobile.label"
        }
      ],
      "default": "hidden",
      "label": "t:sections.all.carousel.pagination.label"
    },
    {
      "type": "checkbox",
      "id": "slide_auto_change",
      "default": false,
      "label": "t:sections.all.carousel.slide_auto_change"
    },
    {
      "type": "range",
      "id": "change_slide_every",
      "min": 2,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.all.carousel.change_slide_every",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "reveal_slide",
      "default": true,
      "label": "t:sections.all.carousel.reveal_slide.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_options.label"
    },
    {
      "type": "range",
      "id": "items_per_row_mobile",
      "label": "t:sections.all.items.items_per_row_mobile",
      "min": 1,
      "max": 2,
      "step": 0.5,
      "default": 1.5
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "t:sections.product_testimonials.blocks.type.media.label",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.product_testimonials.blocks.settings.media.label"
        },
        {
          "type": "image_picker",
          "id": "testimonial_image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "video",
          "id": "video_local",
          "label": "t:sections.video.settings.video_local.label",
          "info": "t:sections.all.video.label"
        },
        {
          "type": "header",
          "content": "t:sections.product_testimonials.blocks.settings.information.label"
        },
        {
          "type": "range",
          "id": "rating_star",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.product_testimonials.blocks.settings.information.rating_star.label",
          "default": 5
        },
        {
          "type": "text",
          "id": "testimonial_author",
          "label": "t:sections.product_testimonials.blocks.settings.information.author_name.label",
          "default": "Author's name"
        },
        {
          "type": "textarea",
          "id": "testimonial_quote",
          "label": "t:sections.testimonials.blocks.settings.quote.label",
          "default": "You can add text content from press comments, reviews, or testimonials here."
        },
        {
          "type": "product",
          "id": "testimonial_product",
          "label": "t:sections.product_testimonials.blocks.settings.information.select_product.label"
        }
      ]
    },
    {
      "type": "image_comparison",
      "name": "t:sections.product_testimonials.blocks.type.image_comparison.label",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.product_testimonials.blocks.settings.media.before_after_image.label"
        },
        {
          "type": "image_picker",
          "id": "before_image",
          "label": "t:sections.product_testimonials.blocks.settings.media.before_image.label"
        },
        {
          "type": "image_picker",
          "id": "after_image",
          "label": "t:sections.product_testimonials.blocks.settings.media.after_image.label"
        },
        {
          "type": "header",
          "content": "t:sections.product_testimonials.blocks.settings.information.label"
        },
        {
          "type": "range",
          "id": "rating_star",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.product_testimonials.blocks.settings.information.rating_star.label",
          "default": 5
        },
        {
          "type": "text",
          "id": "testimonial_author",
          "label": "t:sections.product_testimonials.blocks.settings.information.author_name.label",
          "default": "Author's name"
        },
        {
          "type": "textarea",
          "id": "testimonial_quote",
          "label": "t:sections.testimonials.blocks.settings.quote.label",
          "default": "You can add text content from press comments, reviews, or testimonials here."
        },
        {
          "type": "product",
          "id": "testimonial_product",
          "label": "t:sections.product_testimonials.blocks.settings.information.select_product.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_testimonials.name",
      "blocks": [
        {
          "type": "image_comparison"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "image_comparison"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "image_comparison"
        }
      ]
    }
  ]
}
{% endschema %}
